[2021-02-27 11:10] fwitkowski commented on #129
See response I received on stackoverflow: https://stackoverflow.com/questions/66385859/keycloak-with-angular-logins-automatically

This works for me.

[2021-03-01 02:26] HaHaHaHaHaHaHaaaaaa commented on #48
Hi,we are useing keycloak in server side now, add token to cookies.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "mauriciovigolo/keycloak-angular"                                                                                    <notifications@github.com&gt;;
发送时间:&

[2021-03-01 09:28] blephy commented on #48
Using Keycloack in server-side with direct access grant work without cookies. I can test my APIs with cypress because i have token. But i can't test my client App which include keycloack-angular, i need to make cookies.

How to make cookies with right hash and values only from a token !?

[2021-03-03 05:16] utamas commented on #314
@jonkoops thank you for getting back on this issue. I''l try.

[2021-03-04 13:37] cremfert commented on #260
Same here, is there already a solution available?

[2021-03-04 14:50] DamjanJ commented on #260
@danielehrhardt @cremfert @marquez2012
There is a solution of sorts.. The way I did it was:

Frontend (using keycloak-angular **_latest version_** ):
  - Connects to the **PUBLIC** client to get token (my-app-frontend-client)
  - Here I get client roles for example

Backend (using NodeJS):
  - Connects to the **CONFIDENTIAL** client
  - Here I retrieve all the permissions listed in the **_authoriz

[2021-03-08 21:04] CodeSwimBikeRunner commented on #231
@LeoPote last I checked on this, it looked like keycloak.js, completely dropped the scope all together. (at least the version I was looking at)

[2021-03-15 09:56] Bbemol commented on #317
Reproduced here too. This bug is clearer now that angular 11 update has HMR native support.

[2021-03-15 10:02] Bbemol opened #319 "Redirect to register on init"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Desired functionality.

Keycloak init method should have an option to redirect to register page.
Today, keycloak will always redirect to login page when calling init method.

[2021-03-16 10:22] jonkoops commented on #319
This can be accomplished by calling the `login()` method on the Keycloak service and passing in a `redirectUri` option instead of calling `init({ onLoad: 'login-required' })`.

[2021-03-16 10:23] #319 closed

[2021-03-16 19:38] santosh999951 opened #320 "Multi tab logout not working."
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.8.1.1

### Repro steps.

Steps
Open a angular app in two tabs.
When I am doing logout in one tab then it is not doing logout in another opened tab.
Because in chrome third party cookies are not enabled.
Working fine in Firefox
### The log given by the failure.

### Desired functionality.
Logging out in single tab should log

[2021-03-18 06:07] Chinnuganga commented on #175
Please reset the redirectUri parameter when u login to the system.
You can use the same redirect URL u have configured in your keycloak client.

var keycloakAuth = new Keycloak('keycloak.json');

keycloakAuth.init({ onLoad: 'login-required' }).then(function () {
        	auth.loggedIn = true;
        	keycloakAuth.redirectUri = "http://localhost:9090/*"   [u can use the same URL configured under r

[2021-03-18 09:29] ghost opened #321 "Cannot read property 'logout' of undefined"
Hi,

I use:
- angular: 9.1.11
- keycloak: 12.0.4
- keycloak-angular: 7.3.1

When I use `keycloak.logout()` (the function built-in of keycloak-angular). I have found this issue.

And when debug on console, it seems `this._instance` is undefined either. I guess it make all the property are undefined.

No solution has been found. Please help

[2021-03-18 14:19] jonkoops commented on #321
@hangnkm sounds like you haven't called `init()` on the `KeycloakService`, have you followed the steps in the README? If so, please share your code. I can't comment on issues that I cannot reproduce.

[2021-03-19 01:27] hangnkm commented on #321
Hi,

Due to the project credential, I only share the project structure as below:

`app.module.ts
app.routing.ts
app.init.ts (keycloak init here)------|
                                                        sites.module.ts (all the pages and components were performed here)
                                                        sites.routing.ts`
The login to app seems fine, but when redirect to s

[2021-03-19 11:10] jonkoops commented on #321
Sounds to me like you have multiple `KeycloakAngular' modules defined, meaning you have a different `KeycloakService` injected in different modules. That could mean some of them are initialized, some are not. Make sure you have only one in your root module, so the injector will always get it from there.

For more information read the[ Dependency Injection](https://angular.io/guide/dependency-injec

[2021-03-25 11:51] ltrocherie commented on #123
I forgot I asked this question on Github, and therefore I am sorry for the delay between this follow-up and the original question.

After some digging around, I found out it is not difficult at all to mock your KeycloakService in your Angular app.
Because I couldn't find any template of any code close to this on the Internet, here's what I did:

First, in my `app.component.ts`, I have something li

[2021-03-26 22:53] tuxflo commented on #244
Sorry for replying to an already closed issue but could you give me some hints/helpful links or documentation on how to create the custom adapter (custom adapter implementation). I just convinced some people to use keycloak for our ionic app instead of doing authentication on our own and didn't realize that it isn't that easy with capacitor.

[2021-04-11 00:01] lmarschall opened #323 "Check if Auth Server is ready"
Hey Guys,

sorry for not keeping up with the predefined layout, but neither of them fits to my current problem.

I wanted to check if the auth server is offline, before loging in users, therefore i'm currently overloading the keycloakservice object, on the onready event, with a ready property, what i want to avoid.

`keycloak.getKeycloakInstance().onReady = function() {
      keycloak.ready = true

[2021-04-15 08:51] Waterstraal commented on #317
I would really like to enable HMR, but this bug is preventing me from do so.

[2021-04-15 08:53] Waterstraal commented on #121
Any update on this issue?

[2021-04-16 08:37] sookoll opened #324 "How to send additional query parameters with keycloakService.login?"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

Angular 9.1.0
keycloak-angular 7.3.1
keycloak 9.0.2

### Desired functionality.

There seems no possibility to add additional url params to keycloak login url. How to do that? Is it possible to get login url before sending so I can modify it?

### Bugreport

If I add additional query params to keycloak url, then it does n

[2021-04-22 09:03] collettemathieu commented on #87
Thank for your work @igorlino.

However, with the latest version of Angular (v11), this does not to seem to work because the getUserRoles method of keycloakAngular must be runned after the initialization of the keycloak service (with the init method). I suggest to initialize keycloak service at the beginning of the canLoad method
[code]
or use NgRx actions with a combineLatest to be sure that the

[2021-04-22 17:26] igorlino commented on #87
@collettemathieu I'm using Angular 11.2.7 at the moment and I have no problems but what you say makes also sense. I will give it a try when I get to update to Angular 12.

[2021-04-23 07:30] collettemathieu commented on #87
Thank for your reply @igorlino.

Perhaps I have this case because I load the keycloak service in an external NX library and not directly in the app.module.ts.

Keep me posted for Angular 12.

[2021-04-27 11:45] santoshshinde2012 commented on #97
@mauriciovigolo  Can you please share the example for Ionic if you have?

[2021-04-28 13:37] lkmali commented on #293
Angular CLI: 8.3.29
Node: 10.19.0
OS: linux x64
Angular: 8.2.14
    "keycloak-angular": "^8.1.0

    But I am getting stile same error
    ERROR in node_modules/keycloak-angular/lib/core/services/keycloak.service.d.ts:35:9 - error TS1086: An accessor cannot be declared in an ambient context.

35     get excludedUrls(): ExcludedUrlRegex[];
[code]
node_modules/keycloak-angular/lib/core/services/keyc

[2021-04-28 17:14] furkick commented on #316
Hi, just wondering if you have found a solution to this issue? It sounds very similar to an issue I am currently having.

[2021-04-28 17:26] jonkoops commented on #293
@lkmali we no longer support that version of Angular. See our [compatibility table](https://github.com/mauriciovigolo/keycloak-angular#versions).

[2021-05-05 10:02] Dampfpfeife commented on #30
Thanks for this workaround - works perfect. Maybe even better than the "original", as the ID is available at once and not "later" due to the promise for profile loading.

[2021-05-05 20:37] abdulrahman1997x commented on #173
so what about when session ends or token Expire is there any way of to inform the redirect-uri attribute

[2021-05-07 19:28] mtpultz commented on #117
@mauriciovigolo did you have time to put together an example using your suggested module approach?

[2021-05-11 05:58] nitesh-daga-sb commented on #320
@santosh999951 did you find any fix for that ?
I am trying to resolve the same but no luck yet.

[2021-05-13 21:14] starsun33 opened #330 "Upgrade to Angular version 12"
Hello,

Could you please add support for angular version 12 and publish the library on npmjs ?

Regards.

[2021-05-16 00:14] webb24h commented on #91
Any resolves? This issue still persists in May 2021. I tried every solution suggested in this thread to no avail. I will not be able to use Keycloak in my project. For anyone reading this, save yourself and move on.

[2021-05-16 00:59] kespinosa05 commented on #155
Hi all, any progress here?

[2021-05-16 14:31] jonkoops commented on #155
PKCE is enabled by default, see the [pkceMethod](https://github.com/keycloak/keycloak/blob/master/adapters/oidc/js/src/main/resources/keycloak.d.ts#L174) option for more information.

[2021-05-17 04:06] #330 closed

[2021-06-02 11:58] AlyIbrahim opened #332 "Angular compilation error"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak 13.1
keycloak-angular 8.2.0
keycloak-js  12.0.4
Angular:
Angular CLI: 11.2.5
Node: 14.17.0
OS: linux x64

Angular: 11.2.6
... animations, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, router
Ivy Workspace: Yes

Package                         Version
-----------------

[2021-06-05 16:22] poojan007 opened #333 "Docker compose up command exits with an error"
I'm facing issue while trying to spawn up my containers. Seems like the COPY command is not getting executed. Please help.
![image](https://user-images.githubusercontent.com/8935939/120898380-79e81880-c64c-11eb-8e35-053104bf6fe4.png)

[2021-06-10 17:50] lemonprogis opened #334 "Able to provide KeycloakLoginOptions to KeycloakOptions to be used during init."
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular: 8.2.0
keycloak-js: 12.0.4

### Desired functionality.
Hello, keycloak-angular!

I'd like to provide KeycloakLoginOptions during the init method of KeycloakService. With that in place, I'd then like to wrap the this._instance.login method to apply those options. This will allow for idpHint (or other login

[2021-06-10 20:37] ericwyles commented on #334
Just chiming in, in support of this feature. We are migrating our keycloak authentication initation from the keycloak java adapters to the angular adapters. We have some existing functionality that depends on the idp hint and the login hint, and we need a clean way of getting this working from the angular adapter.

Thanks!

[2021-06-14 20:04] tonyeung commented on #333
A bit more info from my end, I'm running WSL2 (windows subsystem for linux), so windows insider preview fast ring and WSL installed via WSL --install with default settings.

[2021-06-14 20:22] tonyeung commented on #333
A bit more info, tried it in the ubuntu cmd instead of windows docker desktop with same results.
In ubuntu cmd, installed docker, docker compose, git, cloned repo, cd to example, run docker-compose up, and got this log

[code]

[2021-06-14 21:02] tonyeung commented on #333
Current workaround - install keycloak seperately and only run npm install and ng serve in the example folder and see if that works.

Note that the page will not load without modifying CSP.

[2021-06-16 09:40] impidimpi commented on #121
I also think adding @wvdhaute request with default option set to whitelisting but keeping blacklist as deprecated backwards compatibility for version 8. Then remove it in version 9. We have been running with patched version with strict whitelisting for 2 years :) I hoped it would be included in version 8. Thanks.

[2021-06-16 14:28] electrofLy commented on #121
This seems like a huge vulnerability risk ... why is it not implemented yet? Good that google maps API throw errors if you pass in your tokens in the request otherwise I might've forgot to blacklist it (or blacklist anything at all) 🔓

[2021-06-18 09:59] zhuzhenguang opened #336 "How to implement auto logout when session timeout?"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular: 8.2.0
keycloak-js: 13.0.1
angular: 11.2.11

### Repro steps.

The requirement is that when user did not operate in page for a long time and no anything interacted with backend(refresh token expired), the frontend can auto logout and redirect to login page.

### Desired functionality.

I can notice an eve

[2021-06-19 09:52] konradtoenz commented on #333
This should be because of Windows line endings in the shell scripts (when cloning the repo on Windows). See #337.

[2021-06-19 23:31] jonkoops commented on #333
I've gone ahead and merged the PR from @konradtoenz (thanks for that!).  Can the people in this thread please clone the repo again and get back to me if this in fact fixes the issue?

[2021-06-20 01:03] tonyeung commented on #333
Will try in next couple days and report back

[2021-06-21 20:33] tonyeung commented on #333
@konradtoenz @jonkoops same issue still. Cloned into new folder. Ran `docker-compose up` in example folder.  See output below.
[code]

[2021-06-22 07:12] konradtoenz commented on #333
@tonyeung, it seems you still have that carriage return in your file (/bin/bash^M). But I can't reproduce it. When I clone the repo on Windows, there are only line feeds in the scripts.

[2021-06-22 19:20] tonyeung commented on #333
@konradtoenz what do you recommend? I cloned from master into a brand new folder. Not sure what to tell you. Need some guidance, here.

[2021-06-25 23:03] jpralves10 commented on #91
Puta que pariu, fudeu!

[2021-06-27 08:18] kousherAlam commented on #289
my angular version is 12 and keycloak version is 8

[code]
if the user land on public part of the webpage and then navigate to the protected part this it's ok, but if user directly go to the protected part and if they are already logged in then url bar start to jump

[code]

why this is happening ? and what is the solution ?

[2021-06-27 11:17] twopelu commented on #289
This thing may be getting worse, it is starting to happen sometimes in Chrome with the application deployed in production, not only in development mode. I was no able to find a pattern to reproduce it, but I will keep on it and let you know in case I do.

I'm just raising my concerns...

[2021-06-27 12:04] konradtoenz commented on #333
Hi @tonyeung,

I've never seen `.gitattributes` not working before, so I don't have any real advice here.

I'm running Git v2.32.0 on Windows 10 and when I do
[code]
`\example\scripts\startup.sh` and `\example\scripts\create-client.sh` have line-feed (LF) line endings (as opposed to CRLF). `docker-compose up` runs without errors.

Obviously there must be *something* different with your setup. Coul

[2021-06-30 09:03] kimdah3 commented on #294
Stumbled upon this problem aswell. The issue is still open, maybe add explanation to the readme?

[2021-07-02 09:44] khan990 opened #339 "Infinite Reload"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular@8.2.0
keycloak-js@14.0.0

### Repro steps.

We have the following microfrontend architecture:
![image](https://user-images.githubusercontent.com/2551269/124254951-ea8a3400-db29-11eb-8ac6-b2f99227b80c.png)

Keycloak on `host` gets initialised and authenticated. While in the angular elements it does not init

[2021-07-07 07:27] mkmittalwabtec opened #340 "Internal Implementation of Refresh Token"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

"keycloak-angular": "^8.2.0"

### My question

How refresh token functionality implemented?
Is there any way to refresh the token automatically after every n secs?

[2021-07-07 09:53] JBBianchi commented on #332
Double check you import, it should be
[code]

Furthermore, you didn't provide any sample or way to reproduce the problem.

[2021-07-07 15:09] Excel1 opened #341 "Example displays only white page"
[code]

### Versions.

### Repro steps.
1. clone keycloak-angular
2. go to example
3. run npm install
4. change url, realm, clientid to my own
5. ng serve

### The log given by the failure.

No logs are in browser developer console or by serving it in production mode

[2021-07-07 15:33] jonkoops commented on #341
You should not change the client information for the example, as it uses a Keycloak server that is pre-configured with certain settings. See [the script](https://github.com/mauriciovigolo/keycloak-angular/blob/master/example/scripts/create-client.sh) for more information, and check if your own client is also configured correctly.

[2021-07-07 15:33] #341 closed

[2021-07-07 16:03] kevinahuber opened #342 "Ignore list for polling endpoints"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

[code]

### Desired functionality.

I would like the ability to add an ignore list of routes for the refresh token to activate.

The use case is that I have a few authenticated polling endpoints that run every 30 seconds. I'd like those to require authentication but not refresh the token, because they will keep the token

[2021-07-13 05:17] philippklemmer commented on #312
Yes, is this not possible at the moment? I mean it should be possible to access certain pages, without being logged in, correct?

[2021-07-13 07:19] orcunozbay commented on #312
@jonkoops thank you for your reply. My asking reason is about keycloak-angular library. @philippklemmer is telling the truth. I have profile page also welcome page, How can I manage two different page that are login require or not require.

[2021-07-13 09:46] jonkoops commented on #312
You can initialize Keycloak Angular just like stated in the readme, this will not force the user to sign in unless you pass in `login-required`. Once that is done, create a guard for the routes that you want the user to sign in for and check if the user is authenticated, if the user is not, call the `login()` method on the `KeycloakService` to force them.

[2021-07-13 09:46] #312 closed

[2021-07-13 12:36] foerstj-dv commented on #297
Doesn't work for me - Keycloak is down, but the catch clause is not reached...

[2021-07-15 17:32] philippklemmer commented on #312
Hey @jonkoops,

Thanks for quick reply. I got that and it works out kinda. Whenever I do a routerLink to my guarded routes, it redirects to `http://localhost:4200/user/home#state=23cc7371-d816-4ea0-b84a-fdfe15f516a4&session_state=e1f9e8f0-7146-4f25-9e2b-a17fa60abcde&code=917b031f-06a9-42f3-b4dc-e853128cecaa.e1f9e8f0-7146-4f25-9e2b-a17fa60abcde.783e409a-872c-4db2-9014-ed76c554fe3d` and then go to t

[2021-07-15 20:09] mbeckenbach commented on #289
@twopelu I can confirm that it is some race condition. It is quite simple to prove.

1. Use the guard from the example and let in run into the issue
2. Stop the browser reloading (X)
3. Modify your guard like shown below
4. Access the protected route directly by entering the url

You will see that isLoggedIn() returns false first. After the 1 second delay it becomes true.
This should be solvable.

[2021-07-15 20:49] mbeckenbach commented on #289
Ok. This here works without the infinite Redirect. BUT, it does not work when navigating into the page via angular router. only on direct access via url. It tells me, that the service does not wait for the onReady event before returning authenticated for the first time.

[code]

[2021-07-16 09:50] k3rne1pan1c opened #343 "Access to Keycloakinstance when I'm not on guarded/authentication needed routes"
### Versions.
"keycloak-angular": "^8.2.0",
"keycloak-js": "^14.0.0",
"@angular/core": "~11.2.11",

### Desired functionality.
Access to the Keycloak Instance throughout the application. Whenever I'm logged in and then move to a route that doesn't need authentication, nor has a Guard observing it I still want to have access to the keycloak instance to show the username etc. How can accomplish this

[2021-07-16 17:36] twopelu commented on #289
Many thanks @mbeckenbach, I will give it a try and let you know, I hope it works! 🤞

[2021-07-24 17:14] lucasnaidero commented on #126
sorry , but with your solution I can access the roles , not the groups the user belong
Is there a method to access that info?

[2021-07-24 17:17] lucasnaidero opened #344 "Access the group a user belong"
In KEYCLOAK I can assign to a user several groups
Is possible access from kaycloack-angular to that info?

for example like follow for the roles:

 let oKeycloakTokenParsed=this.keycloak.getKeycloakInstance().tokenParsed;
 let realm_roles=oKeycloakTokenParsed?.realm_access;

### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

### Repro steps.

### The log given by the fail

[2021-07-26 09:13] jonkoops commented on #344
Keycloak Angular is simply a wrapper around [`keycloak-js`](https://www.npmjs.com/package/keycloak-js), the official client library for Keycloak. If you want get the roles of the user we have a [`getUserRoles()`](https://github.com/mauriciovigolo/keycloak-angular/blob/master/projects/keycloak-angular/src/lib/core/services/keycloak.service.ts#L316-L332) method which you can use to get this informat

[2021-07-26 09:13] #344 closed

[2021-07-26 10:32] lucasnaidero opened #345 "example to obtain events from getKeycloakInstance().onAuthLogout ="
good morning
I'm trying to obtain an event  of onAutiLogout from
this.keycloak.getKeycloakInstance().onAuthLogout

I tried following code:

 this.keycloak.getKeycloakInstance().onAuthLogout = this.exe_onAuthLogout;

and
this.keycloak.getKeycloakInstance().onAuthLogout = () => this.exe_onAuthLogout;

with that code I figured out that automaticallo at session timeout the event fired, but nothing hap

[2021-07-26 14:51] lucasnaidero commented on #345
The following code examples done what I need:
With the following code I can handle all the important authentication token switch, in order to understand where the user must execute the login:

  public async ngOnInit() {

    this.isLoggedIn = await this.keycloak.isLoggedIn();

    if (this.isLoggedIn) {

      this.keycloak.keycloakEvents$.subscribe(event => this.analyseAuthorizationEvent(event))

[2021-07-26 14:51] #345 closed

[2021-07-29 14:11] alexiadorneles commented on #220
I'm facing the same issue, it's not related to #222 , the redirect is caused by Zone js itself when loading the angular element (@jonkoops). Have you found a fix for it @PrinceJohn @bitbaggi ?

[2021-07-30 14:19] OysteinAmundsen opened #346 "Unit testing fails with "Importing KeycloakAngularModule which does not have a ɵmod property""
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

    "keycloak-angular": "^8.3.0",
    "keycloak-js": "^14.0.0",

### Repro steps.

I have an `auth.module` which sets up keycloak according to your setup description. This works fine when I run the project, but unit tests for components comsuming the `auth..module` fails with the error message given in the title of this i

[2021-07-30 15:20] varunKn-ao opened #347 "Logout redirect flow change"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

 keycloak-angular :  8.1.0
 keycloak-js : 12.0.2

### Desired functionality.
While using **keycloak.logout(redirect Url)** it always redirect to microsoft page and asks for permission for which account you want to sign out. Can we have any method in keycloak to prevent this ?. Need to redirect directly to the url which is

[2021-07-31 11:22] jonkoops commented on #346
Can you share your module definition where you are adding Keycloak Angular?

[2021-08-02 05:55] OysteinAmundsen commented on #346
Sure:

[code]

The `AuthModule` is then imported into my `AppModule`. Works fine in run-time, but not in Jest unit-tests.

[2021-08-03 17:05] alexiadorneles commented on #220
@PrinceJohn @bitbaggi I found that what was causing the problem for me was the lazy loading inside my Angular Element project. Webpack registering the callbacks for the lazy loading scripts were interfering with present webpack from the container application and triggering the bootstrap again for the application. Removing all lazy loading from the micro frontend application solved the issue for me

[2021-08-03 19:20] PrinceJohn commented on #220
Hi!

Sorry for the late reply. If I recall correctly, I solved it by saving the JWT in localStorage and used it to authenticate my web components.

[2021-08-05 01:16] TheCataliasTNT2k opened #349 "Finer graduation for isUserInRole"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Desired functionality.
`isUserInRole`:
What be great to have a parameter to check for client roles only. Currently, if the user does not have the client role, you search in the realm roles again. Same for realm roles.
Useful to differentiate if the user has a global role or a client only role for example `admin`.
I solved it by call

[2021-08-05 08:26] Artik-Man commented on #304
@jonkoops
I have this problem.

[code]

`import Keycloak from 'keycloak-js/dist/keycloak';` in first line of `keycloak.options.d.ts` will resolve the problem.

In my case keycloak is imported by another library. And maybe the problem here, but just single line of code can resolve it. Can you help me?

[2021-08-05 10:55] jonkoops commented on #304
@Artik-Man if you have a reproducible example that I can check out I can take a look at it. I cannot reproduce this issue myself which makes it hard to make any real judgement where this is coming from.

[2021-08-05 11:00] jonkoops commented on #349
I agree this is a nice feature, however we are trying to reduce the API surface that overlaps with `keycloak-js`. As you mentioned you can already do this by calling `hasResourceRole()` on the Keycloak instance.

In future versions of Keycloak Angular the `KeycloakService` will be removed, instead opting to inject the Keycloak instance directly. Considering this I believe it's not the right time t

[2021-08-05 11:00] #349 closed

[2021-08-05 16:07] Artik-Man commented on #304
@jonkoops

My mistake.

/node_modules directory was in library root, but it is not correct. /node_modules must be at project root.

[code]

So it is compiles fine.

BUT using namespace Keyclok without import is incorrect behavior in point of view TypeScript.
Please check `/lib/core/interfaces/keycloak-options.ts`

[2021-08-05 16:57] OysteinAmundsen commented on #346
Am I doing it wrong? Any feedback would be appreciated.

[2021-08-06 10:09] jonkoops commented on #304
This is something we will address in a later version. Thanks for letting us know.

[2021-08-09 17:41] habitat08 opened #350 "Refused to frame 'http://localhost:8888/' because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'self'"."
### Bug Report or Feature Request (mark with an `x`)
- [ x] bug report -> please search for issues before submitting
- [ ] feature request

### Versions.
keycloak-angular : 8.3.0
keycloak-js : 14.0.0

### Repro steps.
Just run the example application over a Keycloak instance running on 8888 port of same machine (localhost)

### The log given by the failure.
Refused to frame 'http://localhost:8888/

[2021-08-09 20:43] jonkoops commented on #350
You need to allow embedding of iframes in your [Content Security Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-src).

[2021-08-09 20:43] #350 closed

[2021-08-11 06:48] ibenjelloun commented on #91
WIth a 14 and 15 keycloak version installed, I had no issue with latest version of libraries.

With a keycloak version 10.0.0 installed, I had to  :

1- Use these libraries versions :
[code]

2- Set `Access Type` to `public`.

3- Update Realm > Security Defenses > Headers > Content-Security-Policy : to add my dns in the list of frame-ancestors  :
[code]
And for sure no token in the keycloak config

[2021-08-13 06:49] WernerRaath commented on #53
Just FYI, one can pass in your token, id token and refresh tokens into the `init` command, so storing them upon login in localStorage should work well.

[code]

[2021-08-13 16:07] mabihan commented on #117
I've been working on a POC using @dsnoeck approach and the example project.  I use a custom Keycloak service, and conditionally initialise it based on the URL (`window.location.href` value).

The code is available here : [mabihan/keycloak-angular-multi-tenant](https://github.com/mabihan/keycloak-angular-multi-tenant). Hope this helps those who wanted examples on this specific use case.

[2021-08-18 21:06] nelson777 commented on #273
I also would find this useful

[2021-08-18 21:08] nelson777 commented on #274
Any idea when this feature will be implemented ?

[2021-08-18 21:33] nelson777 opened #351 "How do I use onTokenExpired ?"
### Versions.

Using Angular 8, keycloak-angular v7.3.1 and I don't know how to get keycloak's version (it's a corporative server).

I'm trying to use onTokenExpired event. I initialize keycloak in my app-init.ts file. After I initialize keycloak with `keycloak.init(keycloackConfig);` I tried to use this code:

[code]

Nothing happend. the normal refresh token messages appeared, but not the "onTok

[2021-08-18 22:34] nelson777 commented on #351
I got only a typo. I worked. I would delete the question, but delete is not available to me. Sorry.

[2021-08-18 22:34] #351 closed

[2021-08-24 23:00] nelson777 opened #352 "Logout when refresh token expires"
### Type

[code]

### Versions.

keycloak-angular 7.3.1 , angular 8, not certain about keycloak version.

### Description

I have a problem with the refresh token: it seems to me it isn't being updated when I get a new normal token.
I've set token expiration to 5 mins. Refresh token expiration time has to be 40mins. It's a corporative keycloak server, I don't have management over it and they can o

[2021-08-31 14:22] DaSchTour commented on #119
This is definitely the cause. Using href instead of routerLink bypasses the angular url changing in actually opens/starts the angular application from scratch. So this should not be done this way as it eliminates all benefits of having a single page application.

[2021-09-03 07:32] bpioge commented on #289
For me, it was solved by setting initialNavigation to "enabledNonBlocking" in the parameters of the router module (it was set to "enabledBlocking").

[code]

_The only problem is that "enableBlocking" is required for the server side rendering to work_

[2021-09-03 16:36] Clashsoft commented on #299
For anyone coming here, the PR keycloak/keycloak#7779 was closed but a new one was merged: keycloak/keycloak#8161

TLDR: Fixed in keycloak-js 15.0.0

[2021-09-06 11:52] JakubRejzek commented on #289
I had this issue too.
We later found out that the reason behind it was incorrectly set up keycloak.
Add * in weborigins of your realm settings. It solves this issue.

I hope that this works for you too. If not try the solutions above.

[2021-09-09 05:34] mauriciovigolo commented on #289
Thanks for all info. I'm working on the next version and will check again for possible scenarios which could cause this issue. Maybe some extra documentation would help.

[2021-09-09 05:34] #289 closed

[2021-09-09 12:31] givan2code commented on #289
After going over the [Keycloak documentaion](https://www.keycloak.org/docs/latest/securing_apps/index.html#javascript-adapter-reference) I discovered that the issue may resolve itself if the keycloak init() has `initOptions`  for `responseMode` set to 'query'.  However, YMMV

[code]

[2021-09-15 12:45] anandmishra13 commented on #180
ghgyy

[2021-09-20 16:39] givan2code commented on #339
I believe this may be a duplicate of https://github.com/mauriciovigolo/keycloak-angular/issues/289 but I agree that this is a serious issue that could stand to get some immediate attention.

At the very least, remove the automatic extension of CanActivate

[2021-09-21 13:11] marcwrobel opened #353 "Missing github release and tag for version 8.4.0"
Version 8.4.0 of keycloak-angular, released on 9/9/2021 (according to https://www.npmjs.com/package/keycloak-angular, keycloak-angular 8.4.0), is missing both github release and tag.

Is the version 8.4.0 legit ?

[2021-09-21 13:11] marcwrobel commented on #353
This issue is not a bug nor a feature request, so I did not follow the contributing guideline. Let me know if this is a problem.

[2021-09-23 08:49] jonkoops commented on #353
Yes, `8.4.0` is a legitimate version that adds support for Keycloak 15. We had forgotten to push a commit to update the repo so thanks for the report.

This has been fixed in 2445f2cff5fb439d376fc6f24d65f433f3b299f8

[2021-09-23 08:49] #353 closed

[2021-09-24 15:15] deniztoprak commented on #27
@chaixdev you can also convert promises to observables with rxjs's [From operator](https://rxjs.dev/api/index/function/from):

`const observable = from(promise);`

[2021-09-24 21:22] NishthaDixit opened #354 "Keycloak angular 10.0.2 ask for login on pressing f5.. need to login again"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

### Repro steps.

### The log given by the failure.

### Desired functionality.

[2021-09-26 11:09] jonkoops commented on #354
There is not enough information here to really fix this bug, if it's even a bug in our code. We need the versions of the libraries used and a reproducible example. I am closing this issue.

[2021-09-26 11:09] #354 closed

[2021-09-29 11:14] db6edr commented on #336
The promise returned by `keycloak.updateToken()` will be rejected if the refresh token has expired, so you could react to that and either run `keycloak.clearToken()` or `keycloak.logout()`.

[2021-09-29 14:47] jonkoops commented on #336
@db6edr Is on the right track, I would also recommend to listen to the `OnAuthRefreshError` event and handle it there.

[2021-09-29 14:47] #336 closed

[2021-09-30 06:22] c00 opened #355 "Allow Regex for `bearerExcludedUrls`"
I would like to be able to input a regex in the bearer excluded urls property. I can see that in the code it's turned into a regex with `new Regexp(excludedUrl, 'i')` anyway, so the only stopping me is the typescript definition.

### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

Angular12, Keycloak angular 8.3.0

### Repro steps.

Try this setup:

[code]

### The log giv

[2021-09-30 09:26] jonkoops commented on #355
This sounds like a nice feature that I would like to see as well. I am currently swamped with other work so I cannot justify picking this up, but if someone felt like implementing it I would be more than willing to review the work.

[2021-10-18 11:14] SchmidtKBS opened #356 "KeycloakService throws error when navigating back from login page"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular: 7.2.0
angular: 8.2.14
keycloak-js: 9.0.0
keycloak server: 9.0.0

### Repro steps.

I'm working on an Ionic app for Web, Android and iOS. On Android and iOS I navigate to Keycloak's Login page by calling
```keycloakService.login(options)```
The I use the hardware back button to navigate back from the logi

[2021-10-18 14:55] jeddai commented on #342
As an alternative, I think that having an ignore list based on request headers would be an improvement over route matching. That should allow it to match routes as you'd expect but also be a bit more explicit about how it matches.

I am going to start working on a PR for this feature.

[2021-10-25 06:09] mkmittalwabtec opened #358 "Window Title not coming after adding canActivate on route of pop up window"
I am trying to open pop up from main window, it's working fine without authentication, but after adding canActivate on route of pop up window(child), window title is not visible.

This is only happening with child popup windows, which is opening in new window.

### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

    "keycloak-angular": "^8.2.0",
    "keycloak-js": "13.0.1"

[2021-11-05 10:07] christian-kocke commented on #244
@wieczorekmarcin could you share the code for your custom capacitor adapter ?

[2021-11-08 18:55] krojew opened #359 "Support Angular 13"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

8.4.0

### Repro steps.

Try to install with Angular 13.

### Desired functionality.

Would be great to support the latest Angular.

[2021-11-08 20:26] mauriciovigolo commented on #340
The refresh token is handled by the keycloak-js implementation as described in the [keycloak docs](https://www.keycloak.org/docs/latest/securing_apps/).
This library is a wrapper to that client. Closing this issue.

[2021-11-08 20:26] #340 closed

[2021-11-09 11:18] jonkoops commented on #359
I'd like to combine this upgrade with the release of Keycloak 16 which should be coming this week.

[2021-11-10 05:46] murray-lang commented on #297
Me either.
`keycloakService.init().then(() =>{})` never reached.
`keycloakService.init().catch(() => {})` never reached.
`try { keycloakService.init() } catch () {}` never reached
`keycloakService.keycloakEvents$` never fired.

[2021-11-12 13:55] vtassios commented on #91
I get cors policy error and status 401 when I run the ```DELETE /{realm}/groups/{id}/role-mappings/realm```. On any other request works fine. This is the only one that I get cors policy.

My client has AccessType = public, Valid Redirect URIs = /* and WebOrigins = *.
I've also tried with WebOrigin = + but nothing change.

Does anyone know why I got this error on this specific request and how to so

[2021-11-15 06:24] RoopanV commented on #359
Hi @jonkoops, will new version be released by this week?
Thanks in advance

[2021-11-16 12:20] jonkoops commented on #359
Looks like it might be released this week, but no promises.

[2021-11-16 21:00] brainstain commented on #342
Hi there, is there anything we need to do to get this reviewed merged??  It's a helpful addition to the integration and would appreciate feedback.

[2021-11-17 07:35] mauriciovigolo commented on #342
I liked the idea. I will review it today. Thanks @jeddai and all involved.

[2021-11-17 07:43] mauriciovigolo commented on #359
Hey @jonkoops, thank you for the update. Should we expect breaking changes in the new keycloak-js release?

[2021-11-17 10:29] jonkoops commented on #359
We're keeping things backwards compatible for now. When we complete the work for the new Admin Console we're going to work out a plan for the future of Keycloak JS and associated community projects such as Keycloak Angular.

[2021-11-17 13:58] Masterxilo commented on #121
How does enableBearerInterceptor fit into this? I did not find

bearerStrategy: 'include_urls',
  bearerIncludedUrls: ['/api'],

these props don't exist...

[2021-11-18 18:58] Waterstraal commented on #121
It has not been implemented yet.

Any ETA on when this will be implemented @mauriciovigolo?

[2021-11-18 21:09] jonkoops commented on #121
It is expected that we will introduce this in a next major release. Once we deliver the new Admin UI for Keycloak my priorities will shift to improving `keycloak-js` and associated community projects.

[2021-11-21 17:39] mauriciovigolo commented on #359
I updated keycloak-angular to the recent Angular version. From version 13 on, they removed the support to IE11 and there is no support for UMD anymore. This results in problems with the current version of `keycloak-js` as showed bellow.

[code]
One possible workaround would be to enable `allowSyntheticDefaultImports` in the tsconfig.json file, in your Angular application.

[2021-11-22 11:25] jonkoops commented on #359
@mauriciovigolo Looks like this is just referring to the type definitions, have you tried modifying this file to use `export default` instead?

[2021-11-25 06:36] vijayjamariya1122 opened #361 "Identity Provider Logging Out Issue"
Hi,

i'm using following setup for keycloak
keycloak-angular ~ 8.2.0
angular-cli - 8

While login in to keycloak through any identity provider it saves its credentials to browser so after i've logout from my keycloak and try to login again it didnt ask for credentials for respective identity provider.
i want to prevent that and in every login they have to provide credentials for respective identit

[2021-11-29 22:09] Clashsoft commented on #359
Any update on this? You said you are waiting for Keycloak 16, is there an announced release date? Otherwise it'd be nice to upgrade Angular in the meantime.

[2021-11-30 13:50] jonkoops commented on #359
There is currently no release date set in stone for Keycloak 16, it should be out in the span of a couple of weeks but no guarantee. I think it makes sense to go ahead with the implementation of Angular 13 support but we need to work out the kinks mentioned by @mauriciovigolo first.

[2021-12-06 05:01] mauriciovigolo commented on #359
@jonkoops, the problem is with the keycloak type definitions. The keycloak type definitions would need to be updated.

One possible solution meanwhile could be to release a beta version of keycloak-angular with Angular 13 support and add `allowSyntheticDefaultImports: true`, as I [explained above](https://github.com/mauriciovigolo/keycloak-angular/issues/359#issuecomment-974861770). However it is

[2021-12-06 11:33] jonkoops commented on #359
Yes, I think the best option right now would be to advise users to enable `allowSyntheticDefaultImports`. I just do not have time right now to spend on Keycloak JS and I am sure folks are waiting for the upgrade.

[2021-12-09 09:37] davidpadych commented on #294
`redirectUri: document.baseURI.slice(0, -1) + state.url`

[2021-12-11 19:23] ontec-xrail commented on #350
@jonkoops Can you add more details please - I know what CSR is and configured it in nginx on test environment but in a local dev environment - how can I get angular (npm start) -> when I access localhost:4200/index.html -> that the correct "frame-ancestors" is set?

[2021-12-12 16:31] ontec-xrail commented on #350
Found a solution here:
https://stackoverflow.com/questions/65190345/setting-headers-in-the-local-angular-development-server/70319469#70319469

[2021-12-14 17:46] Vytas-dev commented on #359
Quickly checked PR for Angular 13 support, but looks like changes just formatting / linting, documentation. So maybe it's safe to use 8.4.0 with Angular 13 and `allowSyntheticDefaultImports` enabled?

[2021-12-15 11:17] judicodes commented on #359
Hey guys, is there any news on this? I tried using Angular 13 and keycloak-angular@8.4.0 with `allowSyntheticDefaultImports` but `npm install` fails because of a dependency conflict since keycloak-angular@8.4.0 requires Angular 10/11/12.

[2021-12-15 12:32] Vytas-dev commented on #359
@judicodes  I did force install `npm install -f` and looks like 8.4.0 works with Angular 13. Of course its nasty workaround, but if you cannot wait for new release - try it.

[2021-12-15 12:36] #359 closed

[2021-12-15 12:48] jonkoops commented on #359
@mauriciovigolo I've patched up the work in the PR and merged it, could you run a release?

[2021-12-15 19:15] Clashsoft commented on #346
It's an Angular issue. Did you try to re-run the test command?

[2021-12-15 20:40] nelson777 commented on #352
The problem wasn't the token but another keycloak configuration. I'm closing this issue.

[2021-12-15 20:40] #352 closed

[2021-12-16 16:07] Clashsoft commented on #359
Seems like v9.0.0 was tagged but not published to npm? Also there is no GitHub Release.

[2021-12-20 11:13] KMathyTech opened #362 "Angular 13 support: Release date?"
### Bug Report or Feature Request (mark with an `x`)

[code]

Hi maintainers,

Just a small issue with keycloak-angular. Looks like you pushed support for Angular 13, but keycloak-angular version 9.0.0 seems not released yet. Do you have an idea when it will be available, please?
Moreover, it seems keycloak-js v16 is available since Friday :)

Thanks in advance for your answer and have a nice day!

[2021-12-21 13:47] dongnhatanhtam01 commented on #135
keycloak-angular@8.4.0" has incorrect peer dependency "@angular/common@^10 || ^11 || ^12".

[2021-12-21 21:08] jonkoops commented on #362
Duplicate of #359, see https://github.com/mauriciovigolo/keycloak-angular/issues/359#issuecomment-994759995.

[2021-12-21 21:08] #362 closed

[2021-12-27 08:05] muhammad-naderi commented on #359
Dear @mauriciovigolo,  Any update on this release ?

[2021-12-28 12:28] marcwrobel opened #363 "keycloak-angular v9.0.0 version is tagged but not released"
Version 9.0.0 of keycloak-angular [is tagged](https://github.com/mauriciovigolo/keycloak-angular/releases/tag/v9.0.0) but not released (no GitHub release and no new package on npm. Did the release process fail or is it intentional?

This issue has been discussed in #359 ([comment](https://github.com/mauriciovigolo/keycloak-angular/issues/359#issuecomment-995958346)) but it is closed, hence this ne

[2021-12-28 12:38] mauriciovigolo commented on #363
Hi @marcwrobel, I will release the new version today, thank you!

[2021-12-28 12:38] #363 closed

[2021-12-28 21:06] marcwrobel commented on #363
Hi @mauriciovigolo, I take the opportunity to thank you for your work on keycloak-angular. It's greatly appreciated !

[2022-01-03 15:34] tolsam opened #364 "App failed to start with silent-sso in prod environment"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular: 8.4.0,
keycloak-js: 10.0.2,
@angular/core: ~12.2.5

### Repro steps.
Add keycloak-angular and follow the README with the sillent-sso configuration.
It works when I starting angular with `ng serve` but it fails completely (Angular app is not even started)
when the application is build with production confi

[2022-01-04 07:14] bgutschke opened #365 "keycloak-angular not working with keycloak-js@16 (outdated keycloak-js peer dependency)"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

[code]

### Repro steps.

[code]

### The log given by the failure.

[code]

### Desired functionality.

keycloak-angular working with keycloak-js v16

[2022-01-04 16:40] #365 closed

[2022-01-06 14:27] ghdoergeloh commented on #155
It says:

So it is not the default. You can try by enforcing keycloak to expect PKCE:

Go to: Clients > [select your client] > Advanced Settings > Proof Key for Code Exchange Code Challenge Method > set to "S256"

If you open your web app you can see an Error "{error: 'invalid_request', error_description: 'Missing+parameter%3A+code_challenge_method'}"

so you need to set pkceMethod

[2022-01-06 15:41] jonkoops commented on #155
Correct, I should have phrased this differently. PKCE is available for `keycloak-js`, there is no need for it to be implemented here.

[2022-01-07 07:43] tolsam commented on #364
This problem was caused due to keycloak-js and the following line
`loginIframe.iframeOrigin = authUrl.substring(0, authUrl.indexOf('/', 8));`

First we had a space in the begging of the property and had the above error.
Then after deleting the space, the above code fails to parse the host URL if it doesn't contains a `/`, which in our case didn't since the production keykloak it's behind a reverse

[2022-01-07 07:43] #364 closed

[2022-01-09 09:57] pbalsianok opened #367 "-js"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

### Repro steps.

### The log given by the failure.

### Desired functionality.

[2022-01-10 06:59] mauriciovigolo commented on #367
No info, closing this issue.

[2022-01-10 06:59] #367 closed

[2022-01-12 12:34] dimayavorski opened #368 "Unable to get KeycloakService working in lazy loaded modules."
Hi. I'm working on app where all the modules are lazy loaded.
Base configuration looks like you described it in the keycloak angular documentation https://www.npmjs.com/package/keycloak-angular

![image](https://user-images.githubusercontent.com/30145659/149138883-961dfdb1-ea63-4548-8aff-5af79f63ef7a.png)

It works fine while i'm using it only in the appModule. But when I'm try to go further accor

[2022-01-12 13:46] adilorenzodema opened #369 "Namespace as no exported member 'ɵɵNgModuleDeclaration'"
Hi!,

I use Angular 11 and I would update keycloak-angular from version 8.2.0 to 9.0.0,
but after installed new version and run application the terminal take me a following errors:

- Namespace ... has no exported member 'ɵɵNgModuleDeclaration'.
- Module '"C:/Users/developer/Desktop/progetti/npt-common-gui/projects/npt-net/node_modules/keycloak-js/dist/keycloak"' can only be default-imported using

[2022-01-13 08:08] llspace8 commented on #369
I have the same problem and it hasn't been solved yet
[code]

[2022-01-13 17:51] jonkoops commented on #369
Have you tried enabling [`allowSyntheticDefaultImports`](https://www.typescriptlang.org/tsconfig#allowSyntheticDefaultImports)?

[2022-01-14 03:31] llspace8 commented on #369
It's enabled, but it doesn't work

[2022-01-14 16:03] sadplace opened #371 "Question: Refreshing the page, the scope is lost"
- [ ] bug report -> please search for issues before submitting
- [ ] feature request
- [x] question

### Versions.

"keycloak-angular": "^7.3.1",
"keycloak-js": "^10.0.2",

### Question.
Hi,
I have implemented your example with scopes and everything works fine until I do a refresh of the page (F5). Then the scope disapears from the token.
Can someone tell me what I am missing or what i have to add

[2022-01-14 16:20] jonkoops commented on #369
I can confirm this bug exists, although it's not very clear why it came to be. It looks like Angular yet again has some backwards compatibility breaking issues in the newer version of the compiler. I'll see if we can work up a fix, until then I'd recommend to keep using 8.x.

[2022-01-14 16:45] jonkoops commented on #369
No, you can see that our [example code](https://github.com/mauriciovigolo/keycloak-angular/tree/master/example) (which uses Angular 13) compiles without issues.

[2022-01-18 07:55] Waterstraal commented on #355
Please note that there's also a ticket that should change the behavior to an allowList: #121

[2022-01-18 16:17] jonkoops commented on #369
This seems to be caused by the fact that Angular libraries compiled with the latest version of Angular expect some imports that are not present in Angular 11. I've checked this issue against Angular 12 as well, which seems to work fine.

Since there is very little we can do about this I've reported this issue upstream (see https://github.com/angular/angular/issues/44745), perhaps someone is willin

[2022-01-18 16:39] jonkoops commented on #369
Looks like my suspicions [are correct](https://github.com/angular/angular/issues/44745#issuecomment-1015578019), which means that in order to support older versions of Angular we also have to compile our code with an older version of the compiler.

I am updating the release notes for version 9.0.0 so this is reflected properly. The mitigation for this will remain to upgrade your Angular version to

[2022-01-18 16:39] #369 closed

[2022-01-29 09:35] Siri15 opened #377 "Keycloak undefined error in electron application while redirecting after authentication"
Need help to fix this issue as been facing from long time,

### Bug Report or Feature Request (mark with an `x`)
INDEX.html below

<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>var keycloakFlag = false;</script>
  <script type="text/javascript" src="../node_modules/keycloak-js/di

[2022-01-29 10:40] jonkoops commented on #377
I don't think this is an issue with Keycloak JS or Keycloak Angular. It looks like your JavaScript files are returning a different kind of content (presumably HTML considering the unexpected token is an opening bracket).

Check your Network panel in the devtools to see what you are getting back from the server.

[2022-01-29 10:40] #377 closed

[2022-02-04 11:37] rogerg93 opened #378 "Check if session expired"
Is it possible to get an event when a session is terminated in the Keycloak's admin panel?

Right now if I terminate it the user can keep browsing the app until he refreshes the page.

[2022-02-07 09:56] jonkoops commented on #378
Yes, you can listen to events from `keycloak-js` as described in the [README](https://github.com/mauriciovigolo/keycloak-angular#keycloak-js-events). For a list of complete events see the [reference documentation](https://www.keycloak.org/docs/latest/securing_apps/index.html#javascript-adapter-reference).

[2022-02-07 09:56] #378 closed

[2022-02-07 21:56] gatos-cc commented on #299
Anyone have a working example of this?  This is one of the top hits in Google when searching for error handling during keycloak-angular init (and most of the others eventually land you here).  I followed the PRs listed above, and made sure I'm using keycloak-js > 15.0.0:
[code]

and my init code:
[code]

This works fine if the values for the realm/resource/etc are valid.  But if they aren't valid,

[2022-02-13 11:16] fellmann commented on #317
I found a very hacky solution, that apparently works. Add to `initializeKeycloak`:
[code]

Still, this ticket is almost one year old, and the project has more than 45.000 downloads per week, so I would expect official support for HMR.

[2022-02-23 11:50] 1-alex98 commented on #369
The docs still claim compatibility with Angular 11. That might be changed then I assume

[2022-02-25 19:37] sygns13 commented on #91
ello, the only way to achieve the authentication that I achieved with rest api openid-connect with keycloak was following this tutorial: https://javascript.tutorialink.com/keycloak-returns-cors-access-control-allow-origin-error/
For me its magic because I consulted a lot of topics. But with fetch with javascript like a postman sends data it works for me too.

![image](https://user-images.githubuse

[2022-03-05 21:18] Mallesh-Nagothi commented on #87
It's still breaking if I use CanActivateChild implementation in KeycloakAuthGuard.!

[2022-03-07 12:25] fabiopacheco18 opened #384 "enableBearerInterceptor not working"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
"keycloak-angular": "9.1.0"
 "keycloak-js": "16.0.0"
"Angular": "13.0.2"

i'm trying to implement keycloak-angular but i'm not able to add the bearer token by default to my http requests.

app.module.ts

[code]

[code]

[2022-03-08 09:31] dveter opened #385 "keycloak-angular not working with keycloak-js@17 (outdated keycloak-js peer dependency)"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

[code]

### Repro steps.

[code]

### The log given by the failure.

[code]

### Desired functionality.

keycloak-angular working with keycloak-js v17.0.0

[2022-03-24 11:21] fstouten commented on #53
hi all,

Did someone find a solution as how to make keycloak-angular work with PWA? Or does the post by WerrnerRaath is a valid solution?

[2022-03-24 11:23] fstouten commented on #227
hi all,

Did someone find a solution as how to make keycloak-angular work with PWA? Did the post of dome4 using the keycloak adapter directly help?

[2022-03-24 16:43] stephane-dereppe commented on #227
Not as I know. From previous post. I understand that offline tokens don't do the job. I wonder how native app handle that? You don't have to login again and again on those apps...

[2022-03-30 07:51] movertaker opened #388 "Token Error in Firefox Private Mode (Inkognito)"
[code]

### Versions.

### Repro steps.
When we start our angular app in Firefox Private Mode (check-sso in IFrame) the login process works fine at the beginning. We see the successfull code to token exchange. The SSO Server delivers refresh and access token to our browser.
When we make an HTTP Call to our backend, the keycloak interceptor tries to put an access token to authorization header.
It s

[2022-03-30 09:47] jonkoops commented on #388
The refreshing of the token is handled by Keycloak JS, you can report this issue on the main [Keycloak repository](https://github.com/keycloak/keycloak). When you do so please make sure to include a minimal and reproducible example.

[2022-03-30 09:47] #388 closed

[2022-03-31 10:18] sovushka-utrom commented on #87
Got the same problem. It would be really a useful feature.

[2022-04-05 05:53] FinnishFlash8 opened #390 "Unable to get selected locale from keycloak login page"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

Keycloak-angular version 9.1.0
Keycloak version 15.2
Angular version 13.2.2

### Repro steps.

Changing locale on keycloak login page, texts are changed on keycloak login page accordingly. When brought back to Angular, we retrieve the parsed token which contains the locale. However, the locale contains the information bou

[2022-04-05 12:57] Or05230 opened #391 "404 error for step1.html server version 17"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

server@17.0.1

"keycloak-angular": "^9.1.0",
    "keycloak-js": "^16.1.1",

### Repro steps.

1. Creating a dev server by running:
`docker run -p 8080:8080 -e KEYCLOAK_ADMIN=admin -e KEYCLOAK_ADMIN_PASSWORD=admin quay.io/keycloak/keycloak:17.0.1 start-dev`

2.Removing the header policies since there is an error regarding

[2022-04-06 08:41] electrofLy commented on #342
is there an update on this?

[2022-04-13 01:10] szkissyh commented on #391
This is not a bug, it's a 17 Version problem. Change the Url address to
 http://localhost:8080 instead of http://localhost:8080/auth in the example

[2022-04-13 11:31] grimurd opened #395 "Scope property missing in KeycloakInitOptions type"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Desired functionality.

The scope property is used in the init function in keycloak-js [See here](https://github.com/keycloak/keycloak/blob/3da5a8ea7349ee306895f0071b883901102fe2fd/adapters/oidc/js/src/keycloak.js#L152)

I've tried defining it in the init options in keycloak angular and it worked, the only thing missing is the types

[2022-04-20 04:22] FinnishFlash8 commented on #390
Found a solution, seems that this was not bug after all. You need to set the "update locale" action in "Authentication" => "Required actions" view. I guess this was default action in earlier versions

[2022-04-22 08:02] furkick commented on #334
Is there any intention to include idpHint? Our company requires us to force 2FA but this library does not support idpHint out of the box currently as far as I can see?

[2022-04-22 09:54] tricsusz opened #396 "redirect_uri parameter is no longer supported in Keycloak v18.0.0"
See: https://www.keycloak.org/2022/04/keycloak-1800-released

### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

Keycloak v18.0.0
Angular v13.2.0
keycloak-angular: v9.1.0

### Repro steps.

After login, call the logout method from the KeycloakService

### The log given by the failure.

Invalid parameter: redirect_uri

### Desired functionality.

Logout the user.

[2022-04-23 23:45] raulruizbarea commented on #396
Any workaround for it?

[2022-04-25 10:13] ibagaric commented on #324
@sookoll Did you find the correct way to handle this issue?

[2022-04-27 11:24] hesamsagha opened #399 "Guest access"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Desired functionality.

Our platform needs to support both type of access: i) with registration and login, ii) guest access

A guest is someone who does not need to create an account and login manually. She will have a temporary access to the resources until a logout is called.

[2022-04-28 07:36] Goopher commented on #396
The documentation of keycloak provides the following workaround:
There is a backwards compatibility option, which allows your application to still use the old format of the redirect_uri parameter.

You can enable this parameter when you start the server by entering the following command:

`bin/kc.[sh|bat] --spi-login-protocol-openid-connect-legacy-logout-redirect-uri=true start
`

[2022-04-28 08:40] raulruizbarea commented on #396
Thank you for sharing this! I missed that part <3

[2022-04-28 12:23] davrobs commented on #396
Are those parameters valid when running keycloak via wildfly [standalone.sh]?

[2022-04-30 23:50] masalinas commented on #396
If your start keycloak from docker what environent is related to this command spi-login-protocol-openid-connect-legacy-logout-redirect-uri??

[2022-05-04 08:40] antonio-castellon commented on #396
Any due date for an update here? we have no options to change the keycloak to backward compatibility, we cannot do this work-around mentioned

[2022-05-04 11:02] masalinas commented on #396
I fix the problem updating the version of **keycloak-js** dependency installed by **keycloak-angular** compatible with Keycloak 18.0.0

When you install **keycloak-angular** this library install the dependency **keycloak-js** 16.0.4 in my case, but If you are using keycloak 18.0.0 you must install the version compatible with this service, so update in your package.json the version 16.0.4 to the ne

[2022-05-04 11:43] antonio-castellon commented on #396
right, we just already did it before but... someone forgot to merge the code before to test it X'D.
Many thanks

[2022-05-04 11:45] tricsusz commented on #396
Thanks @masalinas , it's working!

[2022-05-04 11:45] #396 closed

[2022-05-06 07:50] MVVN commented on #91
Just ran into the problem and what helped me was going into my realm roles and for _Client Roles_ - _account_ I added the _manage-account_ role. After that the CORS problem was gone.
![image](https://user-images.githubusercontent.com/62952612/167090049-c410a4c4-2e48-448f-9f55-50da861aae82.png)

[2022-05-06 07:53] MVVN commented on #257
Had the same problem. I posted my solution here:
[Issue #91](https://github.com/mauriciovigolo/keycloak-angular/issues/91#issuecomment-1119349821)
Maybe it helps someone.

[2022-05-06 07:54] MVVN commented on #260
Had the same problem. I posted my solution here:
[Issue #91](https://github.com/mauriciovigolo/keycloak-angular/issues/91#issuecomment-1119349821)
Maybe it helps someone.

[2022-05-08 14:43] SafwenSoker opened #400 "Unable to connect to two public clients"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
Keycloak version: 16.1.1
"keycloak-angular": "^9.1.0",
"keycloak-js": "^18.0.0",

### Repro steps.

I followed the demo steps from the docs, It worked for the first client but it didn't work for the second,
I haven't done any extra configuration for the client neither the second one !

### The log given by the failure.
[co

[2022-05-09 10:13] Iliass-alilou commented on #359
in your tsconfig.json add "allowSyntheticDefaultImports": true

[2022-05-10 23:26] dderjoel opened #401 "redirect to server-login on reload"
I think this is more like a question.
So I recently updated my Keycloak server from 15 to 18 (as they no longer support wildfly (i.e. <17) from next month).
Since then, I always get redirected to the login-page from that keycloak-server whenever I 'navigate' to my application.
By 'navigate' I mean reload, initial visit, links `<a href=...>`'s.
It used to be the case that the token (or at least ref

[2022-05-11 03:17] maitredede commented on #385
Hi,
Same kind of error for keycloak-js ^18 :)

[2022-05-11 09:27] cogito-abhijeet commented on #352
Can you please explain what was the another keycloak configuration issue.

[2022-05-15 16:12] #400 closed

[2022-05-19 11:05] Yberion commented on #385
Hello @jeddai @jamesrweb @jonkoops,

Do you have any informations/ETA on when the new version are going to be supported?

Thank you for your help.

[2022-05-19 12:19] mauriciovigolo commented on #385
Hey,

I release the new versions this week. It will include @jeddai changes and another release to support the new keycloak versions.

Thanks and sorry for the delay.

[2022-05-23 06:33] SameerChorge94 commented on #391
@Or05230  @szkissyh
Are you able to achieve the keycloak authentication using the Iframe without exposing the keycloak redirect URL parameters ??

As per our requirement we don't want to expose the URL parameters but while using keycloak URL in Iframe we're getting errors
![Keycloak_angular_iframe_redirection](https://user-images.githubusercontent.com/55871576/169757689-314c9407-7053-41ae-8ead-5e7

[2022-05-24 01:02] szkissyh commented on #391
I haven't used the iframe scheme, but I think your idea is wrong. Ng-keycloak should use window.location.href without changing iframe.src（Sorry, English is not good, translated with translation software）

[2022-05-24 01:03] szkissyh commented on #391
I haven't used the iframe scheme, but I think your idea is wrong. Ng-keycloak should use window.location.href without changing iframe.src（Sorry, English is not good, translated with translation software）

[2022-05-26 10:38] charanraj-golla opened #402 "shouldAddToken and shouldUpdateToken not available"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

### Repro steps.
Install latest Keycloak Angular  from NPM
npm i keycloak-angular

This will install package version 9.1.0.
This version does not contain changes related to shouldAddToken and shouldUpdateToken

### The log given by the failure.
The build for the last commit https://github.com/mauriciovigolo/keycloak-angul

[2022-05-26 21:50] gwin003 commented on #395
So we recently ran into this issue as well. The KeycloakOptions interface actually exists in the keycloak-js repository, not this one. That being said, the scope property was added there very recently, and is being published with their nightly build.

The problem we have is, angular-keycloak had a hard requirement on keycloak-js up to 16^, but in order to get the scopes property, we need that to b

[2022-05-27 09:50] jonkoops commented on #395
The `KeycloakInitOptions` interface is part of Keycloak JS and not Keycloak Angular. As long as the correct version of Keycloak JS is installed this field should be present.

[2022-05-27 09:51] #395 closed

[2022-05-27 09:53] jonkoops commented on #402
This work has not yet been published to NPM. @mauriciovigolo can you publish a new version?

[2022-05-27 09:59] jonkoops commented on #399
If you do not want to have certain routes or API endpoints protected then you can extend the `AuthGuard` and add your own custom logic to prevent redirects to the Keycloak login. More information in the [README](https://github.com/mauriciovigolo/keycloak-angular#authguard).

[2022-05-27 09:59] #399 closed

[2022-05-27 10:02] jonkoops commented on #332
We cannot reproduce issues unless they have a clear code example. This seems to be an issue with older versions of Keycloak using a newer version of the library, please refer to the [compatibility table](https://github.com/mauriciovigolo/keycloak-angular#versions) to find the right version.

[2022-05-27 10:02] #332 closed

[2022-05-27 12:49] gwin003 commented on #395
Wait a second. We're NOT able to install the correct version of Keycloak JS, because this library's depends on Keycloak JS up to version 16^. Forcefully putting the latest version of Keycloak JS in the package.json causes npm to throw an error.

I just found the issue below, which should resolve this problem once the new release is created.

https://github.com/mauriciovigolo/keycloak-angular/issue

[2022-05-27 12:50] gwin003 commented on #385
@mauriciovigolo Any update on this release? We need it in order to specify the 'claims' property on KeycloakInitOptions. See the above linked issue.

[2022-05-27 13:01] jonkoops commented on #385
I'm closing this issue as this has been resolved on the main branch. However a release still has to be done (for which I do not have permissions).

[2022-05-27 13:02] jonkoops commented on #395
Correct, this will require a release to be done. Unfortunately I do not have permissions so we'll have to wait until @mauriciovigolo does a release.

[2022-05-27 19:52] jamesrweb commented on #385
As @jonkoops said, it is resolved in the main branch, therefor there's no issue on the code level to solve.

The next release will clear the issue and since the issue is known and tracked elsewhere, it doesn't make sense to keep this one open.

@mauriciovigolo any ETA for the next release?

[2022-05-30 01:50] mauriciovigolo commented on #402
The new version 9.2.0 is now published and it includes the latest changes from @jeddai.

[2022-05-30 01:50] #402 closed

[2022-05-30 01:54] mauriciovigolo commented on #391
I will close this issue since it seems to be a configuration problem. @Or05230, feel free to open this issue again in case it is a bug. Thank you and also thanks @szkissyh for your support!

[2022-05-30 01:54] #391 closed

[2022-05-30 02:56] mauriciovigolo commented on #385
I released 9.2.0 today (29.05) but this version contains other changes. I did the tests for keycloak version 17 / 18 and I'm working on adapting the example/docker to the new Keycloak version.
My plan is to release it on 30.05.

[2022-05-30 11:59] jonkoops commented on #385
My bad, I see the work was merged in another branch for later.

[2022-05-31 01:32] Yberion opened #407 "Error with `updateToken` doesn't allow parameter anymore since 9.2.0"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

[code]

### Repro steps.

We update to the version `9.2.0`.
Since this new version, we're not allowed to use the following function with a parameter:

[code]

### The log given by the failure.

[code]

### Desired functionality.

Same behavior as before `9.2.0` or a note about this breaking change in the changelog/release

[2022-05-31 03:20] mauriciovigolo commented on #385
New versions released.

keycloak-js@18 is now ESM. For this reason, I created a major version for keycloak-angular and removed backward compatibility.

Please note that since the new Keycloak release with Quarkus (Keycloak 17 and 18), the URL property in the keycloak initialization doesn't need the `/auth` path anymore. I updated examples. If not changed it will not work properly.

Thank you all!

[2022-05-31 03:20] #385 closed

[2022-05-31 03:38] mauriciovigolo commented on #407
Hey @Yberion, thank you for opening the issue.

You are right, it is missing this parameter since the changes from https://github.com/mauriciovigolo/keycloak-angular/pull/357, but now revisiting this, I think the change is wrong and I will create a patch, restoring the parameter. For now, I recommend you to use v9.1.0.

[2022-05-31 11:09] thanoskoutr commented on #407
Hey, we also noticed this error in our build pipeline, because we accept minor releases for version 9 of `keycloak-angular`.

Thanks for creating a patch to restore the parameter, but because this is a breaking change, I think it would be best to mention it in the release notes of `9.2.0`, to save some future headaches :smiley:

[2022-05-31 11:19] Yberion commented on #407
Hello @mauriciovigolo, thanks for the answer.

I'm glad to know that this issue can be fixed.

Will it be fixed with the version `10` of `keycloak-angular` supporting Keycloak 18 ?

Have a good day. :)

[2022-05-31 13:04] joggeli34 opened #409 "Requests are failing with 'undefined' when keycloak is not logged in since 9.2.0"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular: 9.2.0 & 9.3.0
keycloak: 18.0.0

### Repro steps.

When the keycloak is not logged in correctly, (initialized but not logged in) request are failing with an error `undefined`.

This happens due to the new `conditionallyUpdateToken` in the interceptor is called even if keycloak is not logged in. Here the c

[2022-06-01 10:40] bgutschke commented on #409
I can confirm this error. 👍

[2022-06-01 14:25] mauriciovigolo commented on #407
Thank you @Yberion. I will create the release for both 9 and 10 with the fix today.

[2022-06-01 14:30] mauriciovigolo commented on #409
Hey @joggeli34, I will have a look at this issue.

If you have an example with the error, it would make things easier for me. Also, if you are using Keycloak 18, you should use keycloak-angular v10.

[2022-06-01 14:44] Yberion commented on #407
@mauriciovigolo can we upgrade to last version even if the server is on Keycloak 15 or 16 (different env).

I mean version 10 is for `Keycloak-javascript 18`, but can we use latest version of those libs on old server Keycloak version ?

[2022-06-02 00:55] mauriciovigolo commented on #407
@Yberion, usually there aren't breaking changes in keycloak-js, however it is recommended to use the same version as your server for better compatibility.

Also, since v.17 RedHat released a new version with Quarkus and this will be maintained version. The Wildfly version will reach EOL in Keycloak v.20, so I strongly recommend to check internally the possibility to upgrade to the new version.

I

[2022-06-02 05:34] rogerg93 commented on #126
You can do:
[code]

[2022-06-02 08:24] Yberion commented on #407
Hello @mauriciovigolo,

I will forward your advice regarding the update.

This week-end looks good :)

Thanks for your help!

[2022-06-07 00:59] mauriciovigolo commented on #409
I could reproduce the error and will create a fix for it in v9.3.1 and v10.0.1.

[2022-06-12 07:00] msalzig opened #411 "Angular 14 support"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

"keycloak-angular": "10.0.0",
"keycloak-js": "18.0.0",
"@angular/*": "14.0.1",

### Repro steps.

ng update @angular/core @angular/cli @angular-eslint/schematics@next

### The log given by the failure.

0 verbose cli C:\Program Files\nodejs\node.exe C:\Users\micha\AppData\Roaming\npm\node_modules\npm\bin\npm-cli.js
1 info

[2022-06-13 00:31] mauriciovigolo commented on #409
Versions 9.3.1 and 10.0.1 fix this issue.

[2022-06-13 00:31] #409 closed

[2022-06-13 00:32] mauriciovigolo commented on #407
Versions 9.3.1 and 10.0.1 fix this issue.

[2022-06-13 00:32] #407 closed

[2022-06-13 00:34] mauriciovigolo commented on #411
Hey @[msalzig], I was about to open an issue for the new Angular 14 version.

I will work in the update this week. Thanks!

[2022-06-14 08:37] dderjoel commented on #401
Solved, turned out, was not an issue with `keycloak-angular`.
For others, I'll explain what happened on my side.

On of the breaking changes in the `keycloak`-server update to 17/18 is that they removed the `/auth` from the URIs.
In my setup, I have an nginx as a reverse proxy in front of the keycloak-server containers.
In the nginx-config I then used a `location /auth` directive to `proxy_pass` i

[2022-06-14 08:44] #401 closed

[2022-06-15 10:13] joggeli34 opened #414 "isLoggedIn() throws an error if the keycloak is not initialized"
### Bug Report
[code]

### Versions.
keycloak-angular: 10.0.1
keycloak: 18.0.0

### Repro steps.

Calling the method `isLoggedIn()` now returns an error when the instance is not initialized. Before it just returned "false".

This was introduced by adding the "await" keyword inside the function:

[code]

Does it make sense to use here an async await, if the `authenticated` on the keycloak instance

[2022-06-20 06:57] Shamshiel commented on #411
@mauriciovigolo Thanks for working on Angular v14 support. Is there a rough ETA?

[2022-06-21 09:29] electrofLy opened #415 "library requires keycloak-js ^18.0.0"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
^10.0.0

### Repro steps.

package.json
[code]

### The log given by the failure.

[code]
### Desired functionality.

It is possible to use latest `keycloak-angular` version with versions of `keycloak-js` < 18.

For example, the red hat implementation of keycloak still uses keycloak 15. If you are using that you have to us

[2022-06-21 18:24] mauriciovigolo commented on #415
It is not possible to use keycloak-angular v10 with previous versions of keycloak as keycloak-js v18 changed to be ESM, therefore this library was updated accordingly.

For keycloak-js 15, please stick with the latest version of keycloak-angular 9.X.

As the future versions for keycloak will only be on Quarkus, the old version with Wildfly is reaching EOL, I believe they will soon release a new ve

[2022-06-21 18:24] #415 closed

[2022-06-26 17:57] Clashsoft commented on #299
This is broken again with v10 and keycloak-js 18 (or earlier...) Absolutely terrible behaviour because it makes Keycloak a SPoF. Not every application needs user login in order to be usable.

[2022-06-28 08:18] hrueger commented on #411
In the meantime, feel free to use my fork:
[code]

[2022-06-30 12:54] blinkdagger182 commented on #299
You have to use success and error to catch the keycloak Promise. Even though in the manual it mentions that it is deprecated, and prefer to use '.then()' and '.catch()' instead but that just simply does not work. But might need to review it in the future if it loses support later on.

[code]

[2022-07-01 07:06] AlexSchuetz opened #417 "AuthGuard.roles is insufficient for checking access due to lacking resource information"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

Keycloak-Server: 11.0.0
keycloak-angular: ^9.1.0
keycloak-js: 15.0.0
angular/material: 13.3.6

### Repro steps.

- Add two clients to the same realm in Keycloak with equal named roles.
- Create a user that has the roles of one client, but not of the other.
- AuthGuard.roles doesn't provide any information about the origin

[2022-07-03 12:24] Clashsoft commented on #299
@blinkdagger182 unfortunately that does not work in newer versions, `init` returns a regular `Promise` which does not have the `success` and `error` methods.

[2022-07-03 13:29] Sazzels commented on #299
i opened an issue in keycloak for that, maybe a bit of attention could help to fix that problem.

Link: https://github.com/keycloak/keycloak/issues/12581

[2022-07-04 19:48] skynolimits247 commented on #129
facing same issue.....tried the same walkaround no luck

[2022-07-10 10:33] sbruhse commented on #388
However I opened an issue in keycloak repository: https://github.com/keycloak/keycloak/issues/12982.

[2022-07-11 06:41] Tomassito commented on #411
@mauriciovigolo Hi! Thank you for working on this! What do you think could be a realistic release for Ng v.14 support ? Are there any major issues with hrueger PR?

[2022-07-12 00:06] mauriciovigolo commented on #414
Versions 9.3.2 and 10.0.2 fix the problem from this ticket.
Thanks!

[2022-07-12 00:06] #414 closed

[2022-07-12 02:30] mauriciovigolo commented on #411
I could test and finish the release for Angular 14.

I created two releases of keycloak-angular v11 and v12, so the previous versions of Keycloak are still supported.

For more information, please follow the release notes:
- https://github.com/mauriciovigolo/keycloak-angular/releases/tag/v12.0.0
- https://github.com/mauriciovigolo/keycloak-angular/releases/tag/v11.0.0

[2022-07-12 02:30] #411 closed

[2022-07-18 13:44] kutkovav commented on #368
Hi, any progress with this? I'm dealing with the same issue - Angular 13.3.5, keycloak-angular 10.0.1, keycloak-js 18.0.0. Thanks

[2022-07-18 14:07] kutkovav commented on #368
@DmitryYavorsky Aren't you importing the KeycloakAngularModule into your CoreModule? It should be imported only in the AppModule.

[2022-07-21 11:28] mrcat71 commented on #396
Hi, i try fix this issues in k8s cluster, i have image quay.io/keycloak/keycloak:legacy and try fix this with env, but spi-login-protocol-openid-connect-legacy-logout-redirect-uri doesnt work for me.

[2022-07-23 10:55] GretUp commented on #260
Is there an update on this issue?
I am getting for the confidential client where we also need the authorization part:
Access to XMLHttpRequest at '[https://keycloakx.example.com/realms/xxxx/protocol/openid-connect/token'](https://keycloakx.example.com/realms/xxxx/protocol/openid-connect/token%27) from origin 'http://localhost:4200/' has been blocked by CORS policy: No 'Access-Control-Allow-Origin'

[2022-07-27 18:20] MaximVerb opened #421 "New window not responding to await keycloakservice.isLoggedIn"
[code]
So I've read all the documentation regarding this lib + extensively checked the example you've given. In said example you use isLogged= await this.keycloakService.isLoggedIn
I'm using this together with an ngIf to display a Login or Logout button, and this works perfectly fine. But when logging in, closing the tab, and reopening the tab on localhost:4200, the login button reappears, and whe

[2022-08-02 07:59] bakgaard opened #422 "Keycloak 19 release"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

- New version
- Angular 14+
- Keycloak 19

### Repro steps.

### The log given by the failure.

### Desired functionality.

The new version of Keycloak 19 is out ([relase notes](https://www.keycloak.org/docs/latest/release_notes/index.html#keycloak-19-0-0)).
Support for this would be appreciated.

[2022-08-03 06:33] #422 closed

[2022-08-04 14:27] thais-molica commented on #352
@nelson777 I believe I'm facing the same problem here. How did you fixed it?

[2022-08-04 16:00] rustygreen opened #424 "Need new release for Keycloak 19 support"
Can you generate a new release since you added support for Keycloak 19? Currently need to use package.json overrides in order to use Keycloak 19 with your latest release `v12.0.0`:

[code]

[2022-08-04 20:26] nelson777 commented on #352
Check my question (and answer) in SO: https://stackoverflow.com/questions/68915085/why-am-i-being-redirected-to-the-login-screen-using-keycloak-angular-library

Hope it helps you.

[2022-08-05 14:25] aanchal88 opened #425 "Unable to remove auth for certain components in an app"
Need to remove the keycloak auth for certain components in a module.

I have a sub module of the app which have the authorization in it. But inside that sub module I want one component to be public. I tried several ways, but whenever I call that specific component the keycloack API's are calling even if I removed the canActivate: [AuthGuard] from that component.

[2022-08-08 12:54] Samad-Shaikh commented on #384
Hi @fabiopacheco18

You can get the bearer token by using `KeycloakService.getToken()`. Note that it returns _Promise<string>_.

[2022-08-14 09:30] shaheer-k opened #426 "onAuthRefreshError event does not return the error details"
The onAuthRefreshError event does not return the error information. So we are not able to log the message when token refresh fails due to some reason.

[code]
event.arg is always null when this event is raised.

As I see in the implementation, the error data is not set when this event is raised.
[source ](https://github.com/mauriciovigolo/keycloak-angular/blob/b8c9acf372af3ffdfff8da3bc5c3a0106312d

[2022-08-16 08:59] jonkoops commented on #424
@mauriciovigolo could you kick off the release for this one?

[2022-08-17 07:28] mauriciovigolo commented on #424
Thank you @jonkoops, I will prepare the release today.

[2022-08-18 17:01] alanlupsha commented on #391
The problem:

![image](https://user-images.githubusercontent.com/41340720/185451723-26ac3a8b-aace-4792-82c9-17fe896d6a93.png)

The 404: ```http://keycloak:8080/realms/master/protocol/openid-connect/3p-cookies/step1.html```

Notice that you have to name your server "keycloak".

For Windows folks, open a text editor in administrator mode and edit file: ```c:\windows\system32\drivers\etc\hosts``` and

[2022-08-22 18:29] mauriciovigolo commented on #424
Hey @jonkoops and @rustygreen,

keycloak-angular v.12.1.0 release adds support to keycloak-js v.19

Thank you @jonkoops for the work and @rustygreen for opening the issue.

Best!

[2022-08-22 18:29] #424 closed

[2022-08-22 18:41] mauriciovigolo commented on #425
Hi @aanchal88,

Have you tried to setup the interceptor as described [here](https://github.com/mauriciovigolo/keycloak-angular#:~:text=by%20implementing%20the-,shouldAddToken,-method%20in%20the)?

This seems more like a question and not a real bug in the library, so I'm going to close this issue. If you have doubts please  use the discord channel and also don't forget to add an example.

Thank you

[2022-08-22 18:41] #425 closed

[2022-08-22 19:00] mauriciovigolo commented on #421
Hi @MaximVerb,

this happens because the session values are stored as cookies by Keycloak, so the session value will be stored even if the tab is closed.

I'm going to close this issue, because it is not an issue.

[2022-08-22 19:00] #421 closed

[2022-08-22 19:09] mauriciovigolo commented on #417
Hi @AlexSchuetz and thanks for opening the issue.

Would adding a prefix of the application or something similar as part of the role name, be an option for you? The list of rules comes from keycloak. Neither keycloak-js and keycloak-angular manipulate them.

[2022-08-23 10:51] furkick commented on #334
Hi @lemonprogis, did you manage to work around this in the end? My company is pushing for 2FA and really needs this change.

[2022-08-24 02:03] lemonprogis commented on #334
Hello @furkick, we ended up forking the base and adding the above functionality. We are looking forward to the new version (next branch) from @jonkoops and team that I believe pulls out initialization.

[2022-08-25 05:54] mibnd opened #427 "Using `assets/` instead of `/assets` in examples"
Hey! Maybe using `assets/` instead of `/assets` in examples with `bearerExcludedUrls` like below can cover more use cases because request URL can start with `assets` without leading `/` like this example `assets/example.file` and will not be excluded from adding bearer process. What do you think about this?

[code]

<details>
  <summary>Diff</summary>

[code]
</details>

[2022-09-03 19:53] arekgotfryd commented on #290
Hello @jonkoops
what would be suitable place for documentation like this?
Do you want to have it in readme.md or maybe in different place in repo structure?

[2022-09-04 01:01] JulianWerner98 opened #429 "Redirect after reloading page"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
Keycloak-Angular: 12.0.1
Keycloak-JS: 19.0.1
Angular: 14

### Repro steps.
I used the AuthGuard from the Documentation. If i click my routerlinks, everything works fine. But if i reload the page (F5), i will redirect to the main page. I think maybe the AuthGuard is too slow or at the wrong place in my project.
Maybe its no

[2022-09-14 16:33] marct83 opened #430 "Expired Token causes init failure"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

    angular: 14.2.0
    "keycloak-angular": "12.1.0"
    "keycloak-js": "19.0.2"

### Repro steps.

When a user accesses the app with an expired token this happens:

![image](https://user-images.githubusercontent.com/17341758/190210643-be2c0cc0-dce2-40f1-8a2d-42d745960dd1.png)

The response from the get request is {"error

[2022-09-23 20:40] JulianWerner98 commented on #429
Is not a Bug!
![Bildschirmfoto 2022-09-23 um 22 21 08](https://user-images.githubusercontent.com/37833886/192052973-85818814-908a-41eb-be03-abff9b4cf088.png)
The marked clamps have unfortunately been too much

[2022-09-23 20:40] #429 closed

[2022-09-26 12:26] dowinter commented on #430
We are facing the same issue, automatically keeping the token alive might work in some cases, but may fail in others (e.g. inactive browser window).

[2022-09-28 01:55] dfeneck commented on #89
What is the appropriate way of doing this in 2022? None of this is working for me.

[2022-09-28 02:29] dfeneck commented on #102
Very frustrating to see this closed with a "works for me". I'm getting the exact same behaviour mentioned by Koldoon using keycloak-angular 12.1.0 and keycloak-js 19.0.2 on Angular 14.

I can initiate a login, it then returns with a valid token and loads the profile appropriately. Then refresh/change the page and the login is dropped as if a token doesn't exist.

[2022-10-03 15:58] fraschizzato opened #431 "TypeError: keycloak.init is not a function"
I'm trying to migrate a code developed for keycloak 14 to 19.0.2, adapted the package.json to keycloak-angular 12.1.0 and keycloak-js 19.0.2. I get the "TypeError: keycloak.init is not a function" error im chrome. Initially I've tried with that:
[code]

then, to exclude some doubts, i've directly made the initialization as the examples:
[code]

In both cases I have the same error, any suggestions?

[2022-10-04 09:29] jonkoops commented on #431
The problem is in this line:

[code]

The `KeycloakService` should be the only thing here, as it will be passed to the `initializeKeycloak` function. Also `KeycloakService` should not be passed directly into the `providers` array.

[2022-10-04 09:29] #431 closed

[2022-10-05 06:32] yasammez commented on #391
I have the same problem with KC 19.0.2 in production mode when building with `--http-relative-path=/auth --features-disabled=admin2`.

[2022-10-13 19:18] fraschizzato opened #432 "Question: Keycloak with Module Federation"
Hi,
at this time I'm running keycloak-angular in a standalone app with the (working) following configuration/initialization:

Keycloak.init function:

[code]

AuthModule (first loaded):

[code]

If I try to share the keycloak-js in webpack (to federate the module) like this:

[code]
I'll get the following error (The share that causes the issue is `keycloak-js`):

[code]

This is in the "shell" fro

[2022-10-17 19:57] marcinmajkowski opened #433 "updateToken swallows errors"
### Bug Report or Feature Request (mark with an `x`)

[code]

#412 wrapped `updateToken` `throw` statements with `try`/`catch` effectively hiding thrown errors.

I am going to submit fix for this as well as a simple test case.

### Versions.

12.1.0 (the one currently in package.json on `main` branch).

### Repro steps.

### The log given by the failure.

### Desired functionality.

Previously imp

[2022-10-18 06:30] kibadi opened #435 "Angular app "blinks" (page reload with bootstrap) when refresh token is expired"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular@10.0.1
keycloak-js@18.0.0

### Repro steps.

#### Keycloak Admin Console:
Realm Settings:
- Authorization Code Flow
- Access Token Lifespan: 1800 secs
- SSO Idle Timeout: 1800 secs
- SSO Max Timeout: 10 hours
- Client Idle Timeout: not set
- Client Max Timeout: not set
Client Specific Settings:
- SSO Idle

[2022-10-18 09:00] #433 closed

[2022-10-19 06:27] kibadi opened #436 "Validation JWT Token"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular@10.0.1
keycloak-js@18.0.0

### Repro steps.

### The log given by the failure.

### Desired functionality.

I am fairly new to Keycloak and OAuth2. I have read about token validation and I am not entirely sure that it is needed in an Angular application and if it poses a security risk if the token is not

[2022-10-22 10:49] Floscho2402 commented on #430
Same here. As workaround I removed access and refresh token from the config and then called the init method again inside the catch block.

[2022-10-25 18:50] #220 closed

[2022-11-03 12:45] mauriciovigolo opened #437 "Update to Keycloak v.20"
### Bug Report or Feature Request

[code]

### Versions.

Not applicable.

### Repro steps.

Not applicable.

### The log given by the failure.

Not applicable.

### Desired functionality.

Update to the latest Keycloak version: v.20.

[2022-11-03 18:38] Liuk0 commented on #437
Hi, please can you update the line at [https://github.com/mauriciovigolo/keycloak-angular/blob/af55d1d7226b30df0320a115c84c3f8280a534ad/projects/keycloak-angular/src/lib/core/services/keycloak.service.ts#L240](url) to use the `new` keyword instead of the deprecated fuction constructor?

[2022-11-10 16:38] baxyz opened #443 "Doc: stop recommend to load JS lib from server."
### Bug Report or Feature Request

[code]

### Versions.

* keycloak 20+

### Repro steps.

Not a bug.

### The log given by the failure.

Not a bug.

### Desired functionality.

In this documentation (README):

However, in Keycloak [20.x release notes](https://www.keycloak.org/2022/11/keycloak-2000-released):

Could we remove this recommendation or change it to the opposite ?

[2022-11-10 16:55] jonkoops commented on #443
I think we can just remove the quote from the docs and instead simply tell users that it is recommended to use the same version of Keycloak JS as the server is running.

[2022-11-11 11:34] abdsalehamcef opened #444 "Property 'intercept' in type 'KeycloakBearerInterceptor' is not assignable to the same property in base type 'HttpInterceptor'."
https://github.com/mauriciovigolo/keycloak-angular/blob/af55d1d7226b30df0320a115c84c3f8280a534ad/projects/keycloak-angular/src/lib/core/interceptors/keycloak-bearer.interceptor.ts#L80

is casuing the follwing issuee:
Type '(req: HttpRequest<unknown>, next: HttpHandler) => Observable<HttpEvent<unknown>>' is not assignable to type '(req: HttpRequest<any>, next: HttpHandler) => Observable<HttpEvent<a

[2022-11-11 12:18] #444 closed

[2022-11-17 19:01] cghislai opened #449 "Update to angular v15"
Angular 15 as been released, but keycloak angular  v12.1 requires angular@14

Angular changelog:
https://github.com/angular/angular/blob/main/CHANGELOG.md

### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak v19 - v20
angular v15
keycloak-angular >v12

[2022-11-17 23:55] GabrielFoxDev commented on #449
I have a PR as a draft for that to work, I have also published a package if anyone's willing to try it out
https://github.com/GabrielFoxDev/keycloak-angular/pkgs/npm/keycloak-angular

[2022-11-23 22:16] ccravens opened #451 "Cannot Call HttpClient Service When KeycloakAuthGuard Enabled"
### Bug Report or Feature Request (mark with an `x`)

[code]

Enabling AuthGuard prevents HttpClient calls from completing with no error or any console output (calls never finish) within the components.

### Versions.

"@angular/core": "14.1.1"
"keycloak-js": "18.0.1"
"keycloak-angular": "12.0.0"
Keycloak Server Version | 18.0.2

-- | --

### Repro steps.
I have the following route definition:

[c

[2022-11-25 09:55] Rezorl commented on #53
Hi,

Anything new about this? I'm creating a PWA app that uses keycloak-angular and needs offline access.

[2022-11-26 21:12] JakobStadlhuber commented on #437
Push! Anything new with keycloak-js 20.0.1?

[2022-11-29 02:56] mauriciovigolo commented on #437
Support for Keycloak v20 published in keycloak-angular v12.2.0 and v13.0.0.

Thanks!

[2022-11-29 02:56] #437 closed

[2022-11-29 03:17] mauriciovigolo commented on #449
keycloak-angular v.13 adds support to Angular v15 and Keycloak v20.

Thank you all!

[2022-11-29 03:17] #449 closed

[2022-11-29 03:19] mauriciovigolo commented on #451
Hi @ccravens,

To make the interceptor work seems it is missing some configuration in your module. Could you please check the example from this repo? There is also a basic setup of a keycloak server using docker.

If you have problems please let me know. Thanks!

[2022-11-29 06:23] ccravens commented on #451
Hello @mauriciovigolo and thank you for looking into this issue! You are exactly right!

So what I did was cloned the `keycloak-angular` and `keycloak-js` libraries locally, built them and included them in my project so I could add debug statements. The `KeycloakHttpInterceptor` was receiving the http requests, however it got stuck at the return statement of the `intercept()` function:

[code]

I

[2022-11-30 00:43] #451 closed

[2022-11-30 00:54] mauriciovigolo commented on #436
Hi @kibadi,

The interceptor from keycloak-angular only adds the bearer into the HTTP header request. I really recommend you to have a look in the Keycloak documentation to understand the different approaches you might have.

- [Project documentation](https://www.keycloak.org/documentation)
- [Core concepts and terms](https://www.keycloak.org/docs/latest/server_admin/#core-concepts-and-terms)
- [S

[2022-11-30 00:55] #436 closed

[2022-11-30 01:02] mauriciovigolo commented on #435
Hi @kibadi,

if I understood it right, the page is blinking because it leaves the page, going to keycloak for a new authentication. As probably you still have a valid update token then it refreshes and get a new valid token. When coming back to the app you have a full page load (there is a change in urls from app -> keycloak -> app) and that is the reason why it blinks.

You can have a better look

[2022-11-30 01:02] #435 closed

[2022-11-30 09:30] alpha-mo commented on #257
how does it seem to be solved??