[2017-11-22 10:31] unib1t opened #1 "Error: KeycloakAngularModule is not an NgModule"
Hi,

First of all tx for publising this lib! Very useful.
I get following error while compiling my app.
As a workaround I copied the keycloak module declarations and providers to my app module.
That seems to work fine.
I inspected your code, the keycloak module has the @NgModule decorator. So I guess something went wrong with the publishing of the lib?

[code]

[2017-11-22 11:02] mauriciovigolo commented on #1
Hi @unib1t,

Could you tell me the angular and keycloak-angular versions you are using in your project? I will take a closer look on it.

Probably today or tomorrow i will add an example to this project to make the setup up easier.

Thanks!

[2017-11-22 11:20] unib1t commented on #1
keycloak-angular: 1.1.0
angular: 4.4.4

[2017-11-22 14:43] mauriciovigolo commented on #1
@unib1t,

You are right! There is an issue in the build process. Didn't catch it because in the latest angular versions (> v.5) the issue is not happening.

I will fix it and release a new version.

Thanks for submitting the issue!

[2017-11-22 19:46] mauriciovigolo commented on #1
Problem fixed in v. 1.1.1.

Closing the issue.

[2017-11-22 19:46] #1 closed

[2017-12-29 17:18] jmparra opened #3 "Error building 1.2.0"
I'm using Angular 4.4.6
and Angular-cli 1.4.9

during compilation time I have this error.

`ERROR in Error: Metadata version mismatch for module /frontend/node_modules/keycloak-angular/index.d.ts, found version 4, expected 3, resolving symbol AppModule in /frontend/src/app/app.module.ts, resolving symbol AppModule in /frontend/src/app/app.module.ts`

[2017-12-30 11:24] mauriciovigolo commented on #3
@jmparra, thanks for reporting. I will fix it, mean while it's better to use v.1.1.1.

[2018-01-02 17:06] vhpgomes opened #4 "Error: bearerExcludedUrls ignored"
Hello there,

found a little bug. My **bearerExcludedUrls** option was being ignored, and the problem was in the KeycloakBearerInterceptor.

Had to change from

[code]

to

[code]

Before, the code was always comparing with the pattern 'urlPattern', not the variable urlPattern... which returned always false....

Want me to do a PR or something?

[2018-01-03 03:57] mauriciovigolo commented on #3
@jmparra,

This bug was related to an upgrade I did in v.1.2.0 to the newest version of angular. To maintain compatibility to prior versions I did a rollback to angular 4.4.6 and it should work now for both v.4 and v.5.

I will release this new version in 01/03/18 during the day to test it better.

Thanks again!

[2018-01-03 04:05] mauriciovigolo commented on #4
Hello @vhpgomes,

Thanks for reporting the issue! As I needed to fix issue #3, I already included the fix for the problem you reported. I will release v.1.2.1 in 01//03/18 during the day.

Having any issues in the future feel free to contact me or to contribute to the project.

Have a good day!

[2018-01-03 11:18] mleegwt opened #5 "Promise never gets called"
When using the HttpClient Observable.toPromise() the promise is never called.

Workaround: Do not use toPromise(), but subscribe on the Observable instead.

[2018-01-03 18:41] mauriciovigolo commented on #5
Hello @mleegwt,

The library doesn't have Observable.toPromise(). Could you share the method or an example with the problems you are facing?

Also, the versions of angular and keycloak-library are important.

Thanks!

[2018-01-04 10:35] mauriciovigolo commented on #4
@vhpgomes,

Version 1.2.1 released with your changes. Thanks!

[2018-01-04 10:35] #4 closed

[2018-01-04 10:36] mauriciovigolo commented on #3
@jmparra,

Version 1.2.1 released. Thanks!

[2018-01-04 10:36] #3 closed

[2018-01-04 12:13] mleegwt commented on #5
Observed using version 1.1.1. In combination with RXJS library that provides Observable and Promise.

[2018-01-04 13:08] mauriciovigolo commented on #5
@mleegwt,

Could you share the keycloak-angular method you are having problem?

[2018-01-04 15:51] vhpgomes opened #6 "bearer interceptor being created before keycloak.init"
Hello again,

I have just upgraded to 1.2.1, to get the new changes, hoping to fix the #4 issue, but now I'm facing a new one. This time I'm not sure where the problem is.

The `KeycloakBearerInterceptor` is constructed before my initialization code (`keycloak.init()`), where I define the `bearerExcludedUrls` option.

In the constructor we have this:

[code]

So the `excludedUrlsRegex` variable is

[2018-01-04 16:12] mauriciovigolo commented on #6
Hi @vhpgomes,

Thanks for reporting. I removed an undefined check and it's true important in cases the keycloakService is not defined yet. I will fix this situation, sorry about that.

Also, I will mock the keycloak services behavior to create the test scenarios... this is really missing in this library, but not in the next release with this fix. I will create an enhancement task for it.

[2018-01-05 15:39] mauriciovigolo commented on #6
@vhpgomes,

Version 1.2.2 released fixing this bug. If you face any other problem feel free to post.

Thanks and wish you a perfect weekend! :smile:

[2018-01-05 15:39] #6 closed

[2018-01-05 16:07] vhpgomes commented on #6
Seems to be working perfectly. Thanks!

[2018-01-15 10:02] mauriciovigolo commented on #5
Hi @mleegwt ,

I will close this issue since it doesn't appear to be a bug in the library and more the way to use the Observable subscribe from the rxjs library. There is no .toPromise in the keycloak-angular library.

If there is anything I can help you, please contact me or send the lib method you are calling that is happing the error.

Thanks

[2018-01-15 15:27] ESSimon opened #7 "Cache the token"
Is there a way to cache the Bearer in order to avoid another authentification after each page refresh ?

[2018-01-15 17:17] mauriciovigolo commented on #7
@ESSimon ,

Which flow are you using? The keycloak-js library already stores the bearer, deals with token refresh to always get a valid one. By authentication you mean all the authentication flow requested page -> login page -> requested page?

[2018-01-16 16:56] ESSimon commented on #7
It might be an Angular CLI issue: when I make any changes to a file, I get the auth flow requested page -> login page -> requested page

[2018-01-17 13:26] duydao opened #8 "KeycloakService.addTokenToHeader needs to complete the observable"
The keycloak service creates an observable when calling KeycloakService.addTokenToHeader, but does not call observer.complete() to message the subscribers that it's finished.

This changes the behavior of the angular httpClient methods (``get``, ``post``, etc.)

As a workaround, we currently have to add a .take(1) (e.g. ``httpClient.get('protected/url')``) to every http operation that is protected

[2018-01-18 13:41] Herbis commented on #5
Hey @mauriciovigolo ,
I have actually run into the same problem as @mleegwt it seems.

So usually, my requests look like this:
[code]
where the Observable.toPromise() is getting called to handle responses as a Promise.
In the end, the call itself is successful, but the promise never gets a response, so neither "then" nor "catch" is being called, and no messages are logged.
I have no idea what exac

[2018-01-18 17:28] mauriciovigolo commented on #5
Hello @Herbis,

Thanks for your example and now think I get it. This could also be related to issue #8 , I will take a look on it.

Sorry for the delay to reply your message, I'm on vacation theses days, but I'll fix and release a new version.

Thank you again and it's rewarding to know that the library is benefiting you and your projects.

[2018-01-18 18:10] mauriciovigolo commented on #7
Hi @ESSimon, how are you?

Sorry for the delay to answer you, I'm on vacation these days, so sometimes depending the location I'm completely offline :smile: .

About your problem It doesn't seem to be a problem with the angular cli.
Every time the page is edited, webpack is watching for changes and trigger a full page reload at the browser. So, the keycloak-js will look for a token stored at you b

[2018-01-18 18:19] mauriciovigolo commented on #8
Hi @duydao , how are you?

Thank you for reporting the problem. Sorry for the delay to answer you, I'm vacation right now and sometimes I'm totally offline :smile:.

I will take a look at the problem and release a new version.

Thanks for your contribution!!

[2018-01-18 21:07] duydao commented on #8
No worries, thanks alot for taking the time. But for now, enjoy your vacation!

[2018-01-19 08:43] ESSimon commented on #7
No problem, enjoy your vacations :)

It doesn't infinite loop, it's just a minor inconvenience for the development flow. Every changes in the code make the page refresh twice (regular refresh => then Angular bootstraps => then Keycloak server => then Angular bootstraps again). The token might get deleted somehow, I'll look into it. Thanks for the pointers

[2018-01-21 19:41] mauriciovigolo opened #9 "Add the API documentation"
Add the API documentation for the library using the [compodoc](https://github.com/compodoc/compodoc) project.

[2018-01-22 11:09] mleegwt commented on #5
@Herbis: Thanks for the clear example.
@mauriciovigolo : Sorry for my lack of respone. The example is exactly what I would provide.

[2018-01-24 07:30] czeckd opened #10 "Add function to return the instance.tokenParsed"
Thank you for your module!

I'd like access to the data contained in the Keycloak instance.tokenParsed. I can get at it via the KeycloakService.getKeycloakInstance function, but it'd be tidier if I could access it directly.

Right now I'm specifically after tokenParsed.email and tokenParsed.name, but the other fields could be useful in the future.

Would this something you'd be willing to add and/

[2018-01-26 07:37] fennekit commented on #8
Hi, any chance the new version will be out soon? Otherwise I need to make other arrangements.

[2018-01-26 09:24] mauriciovigolo commented on #8
I'm really sorry @fennekit and everybody with the same issue. I will try to release today or in this weekend for sure. Was out this week on vacation and it was really hard to work on the library issues. On Monday the new version will be available. Thank you

[2018-01-28 09:01] mauriciovigolo commented on #8
Hello everyone!

Just released version v.1.2.3 with the bug fix. Thank you so much for opening the issue and for all your help @duydao, also @Herbis for confirming that the issue #5 was also related to this problem.

[2018-01-28 09:01] #8 closed

[2018-01-28 09:04] mauriciovigolo commented on #5
Hello @Herbis and @mleegwt,

Just released version v.1.2.3 with the bug fix. Thank you for sharing your time to help the library!

[2018-01-28 09:04] #5 closed

[2018-01-28 10:57] fennekit commented on #8
Works like a charm!

Thanks

On Sun, Jan 28, 2018 at 10:01 AM, Mauricio Gemelli Vigolo <
notifications@github.com> wrote:

--
Met vriendelijke groet/Kind Regards,

Erik Konijnenburg
http://www.fennek-it.nl
+31 6 24218265

[image: View Erik Konijnenburg's profile on LinkedIn]
<http://nl.linkedin.com/pub/erik-konijnenburg/47/106/284>

Op onze aanbiedingen zijn de Algemene Voorwaarden
<http://www.fen

[2018-01-29 15:29] angular101 opened #11 "Authorization header not excluded sometimes"
Hi,
  Thanks for creating this excellent module.
I'm new to Angular so apologies if this is not an issue and just me being an idiot.

I'm having a problem excluding the Authorization header in my requests.
(preflight fails when Authorization header is included so I need it removed).

I've modified the given keycloak-heroes example to replicate my problem.
I've added a span with on click event in t

[2018-01-29 16:22] mauriciovigolo commented on #11
Hello @angular101,

I think that the problem may be related with the URL and special characters. The bearerExcludedUrls must be a valid regex. In your case, is it necessary to use the full url? By the way, you will have to deal with different environments for testing, production, development.
Another idea is to use the simple path like:

[code]
If not possible, you will have to build a valid regex

[2018-01-29 17:58] angular101 commented on #11
Thanks for rapid response very much appreciated.

I tried using` 'graphql'` and I still get same problem - it includes the auth header every second time.

if I use` '.*'` it works and never includes the auth header.

I wonder if this has any bearing?:
https://stackoverflow.com/questions/3811890/javascript-regular-expression-fails-every-other-time-it-is-called

[2018-01-30 12:54] mauriciovigolo commented on #11
Hello @angular101,

You are right! Just replicated this situation and the problem also happened to me.
It seems to be related to the stackoverflow post you mentioned and by the way, for our case, there is no need to be global as if there is one occurrence in the given URL it should exclude, so excellent!

I will release a fix for this. And again, thank you for help @angular101!!

[2018-01-30 13:07] angular101 commented on #11
@mauriciovigolo  Brilliant I look forward to the new release! Thanks for all your hard work.

[2018-01-30 14:47] mauriciovigolo commented on #11
@angular101, nice work for the community!

Version 1.2.5 was released with the bug fix. Wish you the best!

[2018-01-30 14:47] #11 closed

[2018-02-01 22:17] frederikprijck opened #15 "Running tests locally produce errors"
When I run the library's test locally, I get the following errors:

![image](https://user-images.githubusercontent.com/2146903/35706422-f9592ce4-07a5-11e8-9cea-971eea13c379.png)

I guess I'm missing something but I can't find any information in the contribution file.

[2018-02-01 22:22] frederikprijck opened #16 "Question about refreshToken concurrency"
I have a question about the current implementation of this library.

Imagine the following situation:

- The angular application starts an Http request (request A) using the HttpClient
- Request A will be intercepted by the interceptor
- Taken that the token is invalid, a new call will be made to refresh the token before its being added to the header
- Before the token refresh is finished (the cal

[2018-02-02 05:49] frederikprijck commented on #16
Unless this is handled in the keycloak library? In that case there might be no issue.

[2018-02-02 08:55] mauriciovigolo commented on #15
Hi @frederikprijck ,

I definitely will spend some time to improve the library tests and the heroes example.

Taking a look at the image, it seems to be related to the example specs. Regarding the keycloak-angular library, I will replicate a keycloak server instance behavior, creating a mock of it. Then I will write the BDD's for the KeycloakService. Currently I've been testing the library manuall

[2018-02-02 09:30] mauriciovigolo commented on #16
Hello @frederikprijck, well placed!

This situation really can happen, for example when working with web workers or in multiple requests in a method of a component.
So the keycloak server deals with this situation and the keycloak-js library will store the last received token. I think that the problem with situation would be multiple requests to the keycloak instance to renew the token, but both u

[2018-02-02 09:33] frederikprijck commented on #16
@mauriciovigolo I have created a keycloak library which handles this using rxjs, it's very easy.
But then I found ur library and I prefer to NOT create a new library and publish it to npm. That's why I created the issues/PRs, coz I'd prefer to work together on a good library! :)

[2018-02-02 09:45] frederikprijck commented on #16
I have a service for this, maybe we can see how we can incorporate it.

[2018-02-02 10:00] mauriciovigolo commented on #16
Great, let's talk about it!

This is the kind of situation where I need to have my own login page and user account creation, not following the oauth authentication flow. In this case the library will have to deal with all requests to the keycloak REST API. We can talk more about it later and even improve the idea.

[2018-02-02 10:31] frederikprijck commented on #16
Alright, Travis is working fine!

![image](https://user-images.githubusercontent.com/2146903/35728651-8cc2ac60-080c-11e8-9fce-953f306abc1b.png)

[2018-02-02 10:52] livthomas opened #19 "Make keycloak-js a peer dependency"
Why is there a single hard-coded version of `keycloak-js` dependency? Would it be possible to make it a peer dependency so everyone can use whatever version they have on the server?

Or do new versions of `keycloak-js` work properly with older versions of Keycloak server?

[2018-02-02 11:59] mauriciovigolo commented on #19
Hi @livthomas,

The keycloak-js is a dependency to ensure that:
- The keycloak-angular will work with the keycloak-js library.
- Always have the latest bug fixes.

However it would be good to have this kind of freedom, because it may support more people.

Regarding

Usually the keycloak team always release a pair version, for example: keycloak server 3.4.2 comes with a keycloak-js 3.4.2 correspond

[2018-02-02 14:44] livthomas opened #20 "Dealing with expired token"
How does this library deal with expired Keycloak token? Does it automatically redirect user to the login screen again?

[2018-02-02 14:47] frederikprijck commented on #20
It depends which token you're talking about.

If the Access Token is expired, the keycloak-js updateToken method is used, see: https://github.com/keycloak/keycloak-js-bower/blob/master/dist/keycloak.js#L394

If the Refresh Token expires, I guess it redirects to the login page. @mauriciovigolo is that correct?

[2018-02-03 11:27] livthomas commented on #20
@frederikprijck, what I meant was a refresh token. But I tried it with my testing Keycloak server instance, set really short session expiration time and it worked like a charm!

Thanks a lot for developing this library. It solves so many common problems when dealing with Keycloak!

[2018-02-03 11:27] #20 closed

[2018-02-04 13:31] CodeBenson opened #21 "Question"
Hey there!

I got a question: I am working on a web app with Docker + Angular2 + Java Backend + Keycloak. The library works fine! But I cannot figure out how to do the following:

I have a landing page, that should be unprotected, like: mydomain.de/home. Every visiter should land there if not logged in. If logged in, users should instead be redirected to mydomain.de/main. By logging out, back to m

[2018-02-04 21:07] mauriciovigolo commented on #21
Hello @CodeBenson,

Sure we can help! So this is probably related to the initOptions you passed in the keycloak initialization. If you followed the examples in the README.md, the **initOptions.onLoad** has a value === **'login-required'**. This value in the keycloak-js library, redirects the user to the login page.

Look at the example below:

[code]

In your case, the problem is related to this c

[2018-02-07 14:58] mauriciovigolo commented on #21
@CodeBenson,

Will close this issue, since it seems to be ok. If you have any other doubts you can also use our slack at: keycloak-angular.slack.com .

See you there!

[2018-02-07 14:58] #21 closed

[2018-02-07 17:10] CodeBenson commented on #21
Yeah sure, sorry should have told you. It worked with setting 'login-required' to 'check-sso'. Thanks again! 👍

[2018-02-08 10:40] vincevaghalsen opened #22 "How to intrgrate or put keycloak.json?"
Aloha,
I'm new to keycloak and i want to integrate this adapter to my angular 5.2.0 app.
I get `GET http://localhost:4200/keycloak.json 404` and I can't found where i should my keycloak.json
What did I wrong?

[2018-02-08 12:45] #22 closed

[2018-02-09 13:33] Wassim24 opened #23 "Does v1.2.4 contain @frederikprijck fix for importing ?"
Hello !

I'm wondering, as i saw the fix by @frederikprijck, if the keycloak-angular version 1.2.4 in NPM included the correction ?

Thank you !
Cheers

[2018-02-09 14:19] fmq commented on #7
Hi @ESSimon .. did you ever find where the token get's deleted??

If not I will try and look into it .. but maybe you had solve the issue already.

Thanks

[2018-02-09 15:08] mauriciovigolo commented on #23
Hello @Wassim24,

The 1.2.4 doesn't have the @frederikprijck changes yet.
A new version with the changes will be published in the beginning of the next week.

Thanks!

[2018-02-09 15:09] Allsimon commented on #7
Sorry: I heavily optimized the startup time using lazy load and removing tons of unneeded dependencies, so I still have the same issue but it doesn't really matter anymore for me :/

[2018-02-09 15:10] mauriciovigolo commented on #7
@fmq, are you facing the same problem?

[2018-02-09 15:20] fmq commented on #7
@mauriciovigolo yes, basically the issue is that on every reload of the page (Command+r or ng cli reloading the page) I'm required to login again.

As Mauricio stated it's a minor inconvenience at development time, it's not breaking.

The only thing I'm worried about (I have not deployed the app yet) is that on every refresh of the page the user will face the same issue regardless of the token val

[2018-02-09 15:56] mauriciovigolo commented on #7
Hi @fmq, thanks for your feedback. I have been using this version in production and did not face this issue.
Try to start your angular cli with the ssl enabled, I think it may be some issue related to it. The drawback is that all your dev servers will have to use https....

Let me know if it helps.

[2018-02-09 16:19] fmq commented on #7
Thanks @mauriciovigolo I will eventually give it a try, right now I have SSO running in a local Minishift and I would have to move everything to ssl.

I will test this over the weekend and let you know how it goes.

TIA!

[2018-02-09 16:31] Wassim24 commented on #23
Hello @mauriciovigolo,

Thank you very much ! Really appreciate your work :)

Cheers !

[2018-02-12 08:58] duydao commented on #19
IMO, Including keycloak.js from another source instead of the keycloak server is a security risk. We should declare compatibiliy in the release file instead of including an unofficial one.

[2018-02-13 10:48] mauriciovigolo commented on #19
Hello @duydao,

Agree with you that is not a good idea to use an unofficial keycloak-js version, but I understood that @livthomas was talking about using the official version, but not force the app to use a fixed version of keycloak-js.

Probably the best option for this situation is really to declare the keycloak and RedHat SSO compability list, because removing this dependency could also bring s

[2018-02-19 20:33] SandyKnock commented on #21
Is it possible to use a string in this form?

const str = JSON.stringify(        {
          "realm": "test",
          "auth-server-url": "http://localhost:8080/auth",
          "ssl-required": "external",
          "resource": "test",
          "public-client": true,
          "confidential-port": 0
        });

await keycloak.init({
    config: str ,
    initOptions: {
      onLoad: 'login-requ

[2018-02-19 20:38] SandyKnock opened #24 "Is it possible to use a string in this form?"
[code]

I get an error "GET http://localhost:4200/%7B%22realm%22:%22test%22,%22auth-server-url%22:%22http://localhost:8080/auth%22,%22ssl-required%22:%22external%22,%22resource%22:%22test%22,%22public-client%22:true,%22confidential-port%22:0%7D 404 (Not Found)" and "ERROR An error happened during Keycloak initialization."

kind of like config allows : "config?: string | KeycloakConfig;"

[2018-02-20 10:16] fquirogam opened #25 "Is it compatible with angular 5??"
I'm guiding myselft through the example for implementing my usecase but I'm getting the same error again and again

`Syntax error: Unexpected token <`

I went through the code so many times that I really don't see nothing worng so, I want to ask if could be problem of using angular 5 instead of angular 4. Because just importing the KeycloakAngularModule gives me this error, only with that the app

[2018-02-21 06:00] mauriciovigolo commented on #25
Hello @fquirogam,

It is compatible with angular 5. Could you detail the angular lib versions you are using, from your package.json.

Thanks!!

[2018-02-21 06:07] mauriciovigolo commented on #24
Hi @SandyKnock ,

No, it should not be used in this way. The keycloak-js allows to pass a string if you want to specify the keycloak.json url. To pass a variable, it must be a valid object.

[2018-02-21 06:49] fquirogam commented on #25
Hi @mauriciovigolo,
before anythin thanks for your answer, this are my angular dependencies:

"@angular-devkit/build-optimizer": "0.0.41",
    "@angular/animations": "^5.1.0",
    "@angular/cdk": "^5.1.0",
    "@angular/common": "^5.1.0",
    "@angular/compiler": "^5.1.0",
    "@angular/core": "^5.1.0",
    "@angular/flex-layout": "^2.0.0-beta.12",
    "@angular/forms": "^5.1.0",
    "@angular/mat

[2018-02-21 07:22] mauriciovigolo commented on #25
Hi @fquirogam, I will give a try with this version, but I have already used with these before and higher also. Tks

[2018-02-21 07:27] fquirogam commented on #25
Ok thanks, Meanwhile I'll keep testing if it is due a compatibility with another non-angular library or so

[2018-02-23 15:26] Wassim24 commented on #23
Hello Mauricio,

The new version of angular-keycloak, has not been published yet, is always planned to be released ?

Thank you very much !

[2018-02-27 12:08] fquirogam commented on #25
I kept looking over my error these days, is somehow possible that the libreary may not be compatible with angular-seed? Because I keep getting the error just importing the KeycloakAngularModule module

[2018-02-27 12:16] mauriciovigolo commented on #25
@fquirogam,

I'm using it with angular 5, and I'm not having this problem. Could you tell me what seed you are using?

[2018-02-27 12:16] #24 closed

[2018-02-27 21:21] velorium-star opened #26 "onload: 'check-sso' not working without excludedUrls"
Hi,

I found your library today and I wanted to thank you for the great work.

However, I encountered one problem that stops me from completing my work.

**Short intro:**
The main page has only two buttons: Login and Register. This page should be presented to the user first and only after either Login or Register has been pressed the browser should redirect to Keycloak to complete the flow.

**1st

[2018-02-28 10:50] mauriciovigolo commented on #26
Hi @velorium-star,

Great that you are trying the library! So straight to the answers :smile: :

Every time the bearer is added to the http request, the flow updates the token in order to refresh it. When updating, it will check if you are logged in and will redirect the user to the login page, because you are not logged in yet.

If a path is included in the bearerExcludedUrls, if the given url ma

[2018-02-28 12:41] velorium-star commented on #26
@mauriciovigolo thanks for quick response.

OK, now it's clear. The only thing that bothers me is that url matching. If I understood you correctly if I exclude for example '/page' it will match '/page' but '/page/one' and '/page/one/two' also?

[2018-02-28 14:57] mauriciovigolo commented on #26
@velorium-star, as it is a regex, you may append ```$``` to the end of your text, for example:  /page$. In this example it will only match the url that finishes with '/page'.

[2018-03-01 10:17] mauriciovigolo commented on #23
Hi @Wassim24,

The new version was published yesterday, sorry for the delay.

Thanks!

[2018-03-01 10:17] #23 closed

[2018-03-01 10:26] mauriciovigolo commented on #19
Hi @livthomas,

I've made some research about this topic and the keycloak-js will be maintained as a dependency to ensure that the library will work as desired.

From version 2.0.0 on, we will release a list of keycloak servers compatible with this library.

Thank you!

[2018-03-01 10:26] #19 closed

[2018-03-01 12:30] chaixdev opened #27 "promises"
hi, back-ender trying front end here.

is there any particular reason why this library returns promises everywhere, as opposed to the angular-preferred observable reactive flow?

it seems to me a lib specifically created for angular should also adopt the preferred async paradigm. trying to mix both is giving me headaches, as i'm not exactly familiar with javascript, and just recently started getti

[2018-03-01 21:50] velorium-star commented on #26
@mauriciovigolo Perfect. I went through the code in the meanwhile. Everything is clear now. Thanks!

[2018-03-01 21:50] #26 closed

[2018-03-06 11:51] mauriciovigolo commented on #27
Hello @chaixdev,

At the beginning the KeycloakService methods were returning observables, however I didn't see advantages for what the library **was** offering, as:
- The recommended way to load the KeycloakService is at the startup, using the APP_INITIALIZER token. Using this approach you will be sure that the keycloak instance is loaded and available to consume.
- The oauth login flow redirects

[2018-03-06 11:55] mauriciovigolo commented on #25
@fquirogam,

I will close this issue since I didn't have any reply and it may be related to the seed you are using. If you have any further info or question about this, please send me a message.

Thanks

[2018-03-06 11:55] #25 closed

[2018-03-06 14:44] #27 closed

[2018-03-06 17:04] mauriciovigolo commented on #27
Hi @chaixdev,

If you need any other assistance you are welcome to post it, okay @chaixdev?

Thanks for your interest in this library.

[2018-03-06 20:02] bpalermo opened #28 "Check SSO not working"
I'm trying to use

[code]

But it is still being redirected to login.

http://localhost:4200/#error=login_required&state=67f53f12-206c-44b9-83be-7eef7c982ce4

It also doesn't work with the example provided.

[2018-03-06 22:50] bpalermo commented on #28
Found a workaroud, include all pages on 'bearerExcludedUrls'

[2018-03-08 09:22] mauriciovigolo commented on #28
Hello @bpalermo,

Besides using ```onLoad: 'check-sso'``` you have to specify what url patterns must be excluded from the bearer interceptor, using the ```bearerExcludedUrls``` property.

So if you want to exclude the pages ending with main you have to use it:
[code]
The reason it redirects to the login page is that the KeycloakBearerInterceptor sends a request to renew the token and as the user i

[2018-03-09 14:44] sateliermartin opened #29 "ERROR An error happened during Keycloak initialization"
I'm trying to use

[code]

in the browser see this error:

[code]

also:
[code]

this causes that the web does not load.

[2018-03-12 11:11] mauriciovigolo commented on #29
Hi @sateliermartin,

Could you attach or send me an example? I couldn't reproduce this error. Did you tried the library's example to check your environment?

[2018-03-12 11:13] mauriciovigolo commented on #28
@bpalermo ,

I will close this issue, since it seems that the problem is solved. If you face any problems you can post a comment later on this issue.

Tks!

[2018-03-12 11:13] #28 closed

[2018-03-12 14:25] michalc94 opened #30 "Lack of id in KeycloakProfile object"
Hello, first of all - your library is really great, thanks for your effort :)
To the point though:
I'm invoking loadUserProfile() so I can process KeycloakProfile but the result doesn't have id set - it's undefined all the time for me. All the other fields like email, firstname, lastname and even additional attributes set on my keycloak server are found - the only missing is id. By id I mean id se

[2018-03-12 21:28] sateliermartin commented on #29
Reproduce this error

[code]

Edit src/app/utils/app-init.ts
[code]

Run
[code]

More info this error:
[code]

[2018-03-13 11:23] mauriciovigolo commented on #29
Hi @sateliermartin,

Thanks for sending your setup steps. I just replicated your scenario but it is working for me, however I changed the realm and clientId to other values.

Are you trying to access a clientId with the name ```account```? This is an existent clientId from keycloak to manage the user accounts.

I suggest you to try with another clientId and also it may be related to some kind of c

[2018-03-13 11:37] mauriciovigolo commented on #30
Hi @michalc94,

I just tried in my keycloak sandbox environment and the KeycloakProfile.id property was successfully loaded / returned. So I suggest you to take a look at your browser developer tools and check if the http response to the account app returned the client id. If true this value should be loaded.

Let me know if this helps you and if the problem persists.

[2018-03-13 16:09] sateliermartin commented on #29
The configuration of keycloak is standard, do not make any special configuration and the clientId and secret are correct.

analyzing the code, go to line 546 of keycloak.js:

[code]

req.status is 0

Any other idea to be able to find the problem.

[2018-03-13 17:09] sateliermartin commented on #29
I found out what the error is.

The error is CORS 'Access-Control-Allow-Origin'.

To test it, disable Cross Source Restriction in the Safari browser and it worked correctly.

[2018-03-13 17:09] #29 closed

[2018-03-14 11:17] ayoubnejm opened #31 "interceptor keycloack does not work"
I have a problem with the interceptor, it does not add the Authorization Bearer header, it adds it well for keycloack requests exepmle: http: // awl-si-cap-keycloack3: 8080 / auth / realms / realm / account
but not for my queries coming out of my application, example : getUser

Any suggestion. Thank you

[2018-03-14 11:32] mauriciovigolo commented on #31
Hello @ayoubnejm,

I need more information about your scenario. Please let me know the angular version you are using in your project and your keycloak-angular init configuration.

To work the interceptor requires the use of angular's HttpClient. Are you using it in your requests?

[2018-03-14 21:33] CharlesQueiroz commented on #31
Same problem here. My configs:

app.module.ts:

[code]

The app-init.ts:

[code]

The app-auth-guard.ts:

[code]

The login works fine, but the request to the backend not:

![materialwrap_-_angular_4___bootstrap_4_admin_theme](https://user-images.githubusercontent.com/2192264/37432060-e61931f8-27b5-11e8-83c3-d944fad934e6.png)

[2018-03-14 21:34] CharlesQueiroz commented on #31
The versions are:
[code]

[2018-03-15 09:31] snowping opened #32 "Add support for Keycloak authorization endpoints"
Are there any plans to support the authorization endpoints of Keycloak. If we activate Policy Enforcement on an API Backend we need to convert the Access Bearer Token to an Requesting Party Token (RPT) in order to get authorized.

With keycloak there are two options:
- using Entitlement API
http://www.keycloak.org/docs/3.3/authorization_services/topics/service/entitlement/entitlement-api-aapi.html

[2018-03-15 11:39] mauriciovigolo commented on #32
Hi @snowping,

Currently I'm working on the next version of the library and I will take a closer look to this topic. As soon as I evaluate this I will let you know.

Thanks!

[2018-03-16 13:57] marcelnem commented on #32
For supporting the authorisation APIs, a modified Http Interceptor is necessary. The interceptor should add authorization header to each request which goes to REST API. When Keycloak Policy enforcer returns unauthorized, it also returns URL on which the client can get the requesting party token containing necessary permissions. The example is here:
https://github.com/keycloak/keycloak/blob/1b45ab2

[2018-03-19 19:43] mauriciovigolo commented on #32
@marcelnem,

Thanks for your feedback and sharing. Lets move on this topic.

[2018-03-20 12:47] nconcetti commented on #31
I just ran into the same problem. Check your module imports. There must be only one HttpClientModule, typically in the app.module.

If imported anywhere else, remove it. It should work then. This is related to the behavior of HttpClientModule.

[2018-03-20 16:30] marcelnem commented on #32
I am looking into it.

[2018-03-20 21:22] snowping commented on #32
In my opinion the implicit flow should only be used if the SPA sends directly the username/pw combination to keycloak otherwise it is more secure to get a bearer token (incl. refresh token) using an authorization code.

as stated by @marcelnem using the bearer token we have basically two options

1. Get a RPT directly from the Entitlement API without roundtrip over the resource server (API with PE

[2018-03-21 09:10] marcelnem commented on #32
I think we are talking about many issues now. Feel free to skip the _italics_ for a TL;DR version.

Sending the username/pw is a separate issue. The default configuration is that a user logs in via Keycloak Login page and the client website never sees any username/pw. _That is one of the security improvements which SSO brings. Trust Keycloak with your password because it is a well-tested software

[2018-03-21 09:24] marcelnem commented on #32
@snowping in case of method 1 (Entitlement API), the client can obtain an RPT with all permissions on the first try (if you do not specify which permissions you want, the Entitlement API returns all of them for the authenticated user), then KeycloakAuthorization.rpt can be used for all subsequent requests.

[2018-03-21 09:29] marcelnem commented on #32
In previous comments, I described how I understand the documentation and flows, please comment too, and try to challenge it. I will see if I can implement the keycloak-rpt-interceptor.

[2018-03-22 02:54] sateliermartin opened #33 "Dropdown buttons do not work when you configure keycloak-angular"
Drop down buttons and others component not working when configure keycloak-angular.

HTML example:
[code]

the configuration is correctly keycloak-angular but components stop working.
If I commet in app.module.ts
[code]
the components work again, like the drop-down menu.

Any idea what is happening??

[2018-03-22 08:00] marcelnem commented on #32
I forked the repo, currently got stuck trying to import keycloak-authz (KeycloakAuthorization) from the keycloak-js module into keycloak-angular. Anybody managed to import the KeycloakAuthorization?

[2018-03-22 11:15] mauriciovigolo commented on #32
@marcelnem and @snowping,

This topic is new for me and I'm taking a look at the keycloak documentation and the links you sent me. I will help you soon, ok?
Nice to see the discussion and the work you doing.

Thanks!

[2018-03-23 22:41] PetroProkopovych opened #34 "isLoggedIn() always retuns false"
isLoggedIn() function always retuns false, even after login() function call or init() with 'login-required'.

[2018-03-25 11:15] snowping commented on #32
@marcelnem Thanks for your comments. I have indeed mixed up two different things (direct grant vs. implicit flow). I agree with your description of the flow and would also focus on standard flow for now. I'll have a look at the keycloak-authz...

[2018-03-26 10:54] #34 closed

[2018-03-26 15:04] aelkz opened #35 "Support for multiple environments (external configuration keycloak.json i.e env. promotion)"
Hello @mauriciovigolo ,

IHAC that needed a NPM module to integrate with angular apps. So I've started designing my own keycloak module last year and we had some improvements in terms of environment promotion using CI (jenkins).

With this feature, we can be able to externalize the keycloak configurations and easy integrate with a pre-built jenkins job to grab all configurations needed for a speci

[2018-03-26 15:09] aelkz opened #36 "Support for impersonate API"
Hello @mauriciovigolo ,

IHAC that needed a NPM module to integrate with angular apps. So I've started designing my own keycloak module last year and we had some improvements in terms of using the impersonate-user API.

With this feature, we can be able to create a feature that can be used to simulate other keycloak users.
There is an excellent article about this feature: https://blog.softwaremill

[2018-03-26 15:25] mauriciovigolo commented on #31
@ayoubnejm,

I'm closing this issue since it may be related to HttpClient or the module imports of HttpClientModule as reported by @nconcetti, thanks for your feedback @nconcetti!

[2018-03-26 15:25] #31 closed

[2018-03-26 15:27] mauriciovigolo commented on #30
Hi @michalc94,

I'm closing this issue. If you face any problems related to this situation, please reopen this issue, okay?

[2018-03-26 15:27] #30 closed

[2018-03-26 15:34] mauriciovigolo commented on #33
Hi @sateliermartin,

Check if it is related to the bearer interceptor, try to exclude the path from the bearer interceptor.
It's difficult to know what is going on without knowing what your application is doing behind the scenes. If you want an assistance, please attach an example with the error.

[2018-03-26 16:29] mauriciovigolo commented on #34
@PetroProkopovych,

Sorry didn't have time to answer you. Did you managed the situation? It should work, if you didn't find a solution. What angular and keycloak server versions are you using?

[2018-03-26 17:33] PetroProkopovych commented on #34
Now it's ok. It was my mistake - I called isLoggedIn() before init() function was triggered. But anyway, thanks for your answer.

[2018-03-27 21:59] rafaelvicio opened #37 "account: Response for preflight has invalid HTTP status code 404."
I'm getting the following error when trying to login to the application.

meukeyloack/auth/realms/meurealm/account Failed to load resource: the server responded with a status of 404 (Not Found)
localhost/:1 Failed to load https://meukeyloack/auth/realms/meurealm/account: Response for preflight has invalid HTTP status code 404.

INIT:

import { KeycloakService } from 'keycloak-angular';

export fun

[2018-03-28 12:35] marcelnem commented on #32
I managed to import it as
`import * as KeycloakAuthorization from 'keycloak-js/dist/keycloak-authz';
`

Also, I think there is a bug in the line number 21 of file `keycloak-authz.d.ts`. I had to edit the keycloak-authz.d.ts file in node_modules in order for the keycloak-angular library to compile.

it should be
`import * as Keycloak from 'keycloak-js';
`
instead of
`import * as Keycloak from 'keyc

[2018-03-28 17:17] mauriciovigolo commented on #37
Hi @rafaelvicio,

Seems to be a configuration issue in your keycloak, regarding the account scope. Take a look at https://github.com/mauriciovigolo/keycloak-angular#client-configuration:

The error you described has an info about the **account** client from keycloak:

Let me know if it helps you.

Tks!

[2018-03-28 17:26] mauriciovigolo commented on #36
Hi @aelkz,

All the help is welcome! I just included a link at the readme to get an invite to the keycloak-angular chat on slack.
By the way, this feature is really interesting. We can talk more there about your ideas, but leave this issue open until we define what to do.

Thank you for your help and interest in this library!

[2018-04-02 09:24] mauriciovigolo commented on #32
@marcelnem and @snowping,

I've studied this topic and is indeed a very nice feature to include on this library. I'm working on version 2.0.0 which will include a bundle of new features and this would be a very nice one!

For easier talking, this project has now a slack workplace at https://keycloak-angular.slack.com. For invitations please use this link: https://slackin-iijwrzzihr.now.sh.

I woul

[2018-04-03 12:04] findjonmos opened #38 "keycloak.init config that depends on another APP_INITIALIZER"
Hello,
I have been trying to figure this out on my own for a while now.

I already have an APP_INITIALIZER that uses a service to fetch a config object from a .json file in the root of my project.
I want to use the config information loaded as part of the config for keycloak but I cannot get it to work.
I had an idea to run the keycloak.init inside the config service, and it works and allows me to

[2018-04-03 14:24] filipeferraz opened #39 "Issue with login using Google Chrome after closing and reopening"
I'm using the onLoad: 'check-sso' and checkLoginIframe: true properties in configuration.

First time accessing the page the and calling login() I get redirected to keycloak login page.

Closing the Google Chrome and reopening seconds later user is not logged in, but calling login() shows quickly in browser url like http://<url>#error=login_required&state=0f6d5811-c76a-4995-9e0a-142c90fa3ebd and g

[2018-04-03 16:58] mauriciovigolo commented on #38
Hello @findjonmos,

I've developed an angular components library at work and I does exactly what you are doing, loads an app-config.json file and uses part of the config data to initialize the keycloak.init. In our case the library is working as expected.

I think it may be the order of the calls or some kind of configuration you have in your app. Is there a way to share an example to reproduce th

[2018-04-03 17:01] mauriciovigolo commented on #39
Hi @filipeferraz,

I will try to reproduce this error. Thanks for reporting it! I will let you know okay?

[2018-04-03 17:04] mauriciovigolo commented on #33
@sateliermartin,

Any news about it? Please, report us if you successfully managed it.

[2018-04-05 08:24] findjonmos commented on #38
Hey @mauriciovigolo , I will try to get you some source code to show what I was up to.

Is your example part of the repo here that I can look at?

[2018-04-05 11:45] mauriciovigolo commented on #38
Great @findjonmos,

The example in this repo doesn't have this functionality (load an app-config.json file). I can implement it and release a new version. I will take a look on this.

Tks!!

[2018-04-06 00:44] mauriciovigolo commented on #33
Closing this issue for the lack of response. Recommend you to try what I suggested and if the error persists, please share an example or a project.

[2018-04-06 00:44] #33 closed

[2018-04-10 03:15] mauriciovigolo commented on #37
Hi @rafaelvicio,

Did you solved this issue? Do you still need any help?

[2018-04-10 15:11] jmparra opened #41 "Wrong typeof in definition"
I think the config definition has an error:

The Keycloak init option has a param _checkLoginIframeInterval_ with type _boolean_ (https://github.com/mauriciovigolo/keycloak-angular/blob/master/src/interfaces/keycloak-init-options.ts#L53).

According to the original source code (https://github.com/keycloak/keycloak/search?utf8=%E2%9C%93&q=checkLoginIframeInterval&type=) has the same error. Use two

[2018-04-10 15:55] mauriciovigolo commented on #41
Hi jmparra, how are you?

Thanks for reporting, I will take a look on it. By the way I would like to talk to you about the project. Would you mind to access the [keycloak-angular slack](https://slackin-iijwrzzihr.now.sh/) for talks?

[2018-04-11 12:08] marcelnem opened #43 "Silent refresh for implicit flow"
It would be also nice to expand the updateToken() function to also support the implicit flow. Currently it works only with a standard flow. It is recommended to use implicit flow with public clients such as and Angular SPA. Using implicit flow prevents keeping refresh token in a public application.

Silent refresh is usually implemented by the hidden iframe trick as is done in this library (https:

[2018-04-11 12:09] marcelnem commented on #32
#42

[2018-04-11 12:16] marcelnem commented on #41
Yep. I also had to fix this. The change is also included in #42.

[2018-04-11 12:18] #37 closed

[2018-04-12 07:39] marcelnem commented on #41
Please also check if this is not the version problem. I had this problem because I am using keycloak js 4.0.0.Beta1.

[2018-04-12 13:42] aelkz commented on #35
Hello, @mauriciovigolo after doing some analysis into the project I realized that it already handles the keycloak.json and init parameters. So, for the moment, I don't see any additional configurations that we could be adding for now. I'll keep looking for improvements and closing this issue. Thanks!

[2018-04-12 13:42] #35 closed

[2018-04-12 15:31] jngutteridge opened #45 "Bearer in lowercase in authorization header"
Hi,

In keycloak.service.ts our team discovered that the lowercase "bearer" in the authorisation header causes issues with Spring Web. I appreciate this is a fussy thing to point out, and can be fixed on the back-end, but the stricter standard "Bearer" tends to be used throughout in the RFC:
https://tools.ietf.org/html/rfc6750#section-2.1
https://tools.ietf.org/html/rfc6750#section-6.1.1

This is

[2018-04-12 16:43] mauriciovigolo commented on #45
Hello @jngutteridge, Thanks for reporting!

Sure we can take this into consideration. What about changing the keycloak-angular code to leave this value dynamic? So any changes in the future can be done through configuration.

I thought to solve this issue by adding a new parameter to the KeycloakOptions interface. The default will be bearer or Bearer (I will check the standard), but you might chan

[2018-04-12 16:45] mauriciovigolo commented on #43
Excellent @marcelnem!

Let's ship this in the next version as we already talked.

[2018-04-12 17:26] mauriciovigolo commented on #38
@findjonmos,

About this issue, I will share some code on how I handled this situation. But this is not needed in most of the cases, as for common situations the recommended way to get the config values is through the [angular environment](https://angular.io/guide/deployment) file.
To better show this common scenario, I've changed the example ([keycloak-heroes](https://github.com/mauriciovigolo/ke

[2018-04-13 07:33] jngutteridge commented on #45
Hi @mauriciovigolo, thanks for your quick reply!

Having a dynamic value would be great. Your proposed solution would work well and enable alternative solutions to work, should there be any non-standard setups out there.

After a quick dig, it appears that despite the standard using "Bearer", HTTP headers are actually case-insensitive, so any compliant solution should manage with both:
https://sta

[2018-04-14 08:54] findjonmos commented on #38
@mauriciovigolo Thank you very much for doing this. I will take some time soon to try and get this example working for me. Thanks very much :)

[2018-04-16 16:32] mauriciovigolo opened #46 "UserService#getUserRoles is not merging the clientId roles"
**Issue type:** Bug
**Description:**
The getUserRoles method from UserService is not merging the clientId roles and the realm roles when allRoles parameter is true, instead it is replacing the clientId roles with the realm roles.

Line: **190** from keycloak.service.ts
[code]

[2018-04-16 20:40] angular101 opened #47 "Cannot figure out how to get onAuthSuccess to fire?"
Hi,
  I need to log login and logout events so I'm using onAuthSuccess & onAuthLogout.

I cannot get onAuthSuccess to fire using ` keycloak.getKeycloakInstance().onAuthSuccess = ...`

This approach works for onAuthLogout when I call clearToken().

I'm setting it like this:

[code]
If I try to set before keycloak.init() the keycloak instance is not set.

I couldn't see any way to pass the callbacks

[2018-04-17 16:03] #46 closed

[2018-04-17 16:03] mauriciovigolo commented on #41
Fix released on v. 1.3.0

[2018-04-17 16:03] #41 closed

[2018-04-17 16:09] mauriciovigolo commented on #45
Hi @jngutteridge,

New feature released on v. 1.3.0. Using the property KeycloakOptions#bearerPrefix you can now setup a custom bearer prefix.

Thanks for reporting!

[2018-04-17 16:09] #45 closed

[2018-04-17 16:47] mauriciovigolo commented on #47
Hi @angular101,

First of all you need to check your keycloak initialization. From the [keycloak javascript adapter docs]()

So, you cannot set the checkLoginIframe to false.

Regarding the way to invoke a function for the events, you could do something like this:
[code]
This code is just an example, use it inside the best method or function in your project.

[2018-04-18 02:32] HaHaHaHaHaHaHaaaaaa opened #48 "Use direct access grant"
i get token by direct access grant ,how to connect it with keycloak-angular,i am really confused

[2018-04-20 11:51] angular101 commented on #47
Hi mauriciovigolo,
   Thanks for responding and sorry for my late response.

I checked and I have checkLoginIframe set to false.

onAuthLogout works fine - I still cannot get onAuthSuccess to fire?

I register the onAuthSuccess callback after keycloak.init() which is maybe too late, is it?
but I cannot set it up before keycloak.init() as keycloak instance is undefined.
You see what I mean?

[2018-04-21 20:07] angular101 commented on #47
Hi,
  As an example I've set onAuthSuccess in 2 locations below in the  keycloakService  init() method:

The first will be called - the second won't (if you uncomment it)

I presume first one is called because it's set before _this.instance.init() is called.

The second is after  _this.instance.init() and seems to be too late?

Given the current keycloakService implementation I can only get the ke

[2018-04-26 21:04] mdemerat opened #49 "Access Tokens for Service Account"
Hello,
Thanks for all of your work on this project.

I have not been able to figure out how to use the credentials in the init to secure an access token for my service account.

I have set up the application and tested it with a user. That works great! I get redirected to the login page and back to the app with an access token. However, when I try setting

`const keycloakConfig: KeycloakConfig = {

[2018-04-28 10:45] angular101 commented on #47
Hi,
   It's been a week since my last post so hopefully someone can find a little time to just confirm/deny what I'm asking.

I don't think it's possible to set onReady or onAuthSuccess correctly with the current KeycloakService implementation because you can only set them **after** keycloak has initialized?

Thanks.

[2018-04-28 11:46] mauriciovigolo commented on #47
Hi @angular101,

Sorry for the delay, it was tough week. You can only set the events after the keycloak-js initialization. I was working on an example to show how to handle the events, but didn't finish it yet.

Don't know if it is clear, but onAuthSuccess will be called if there is a second tab opened and a success login happen. The login workflow should not be onLoad: 'login-required', because i

[2018-04-29 19:08] angular101 commented on #47
Thanks @mauriciovigolo appreciate you creating an example.

[2018-05-02 16:33] abhishekkaura commented on #47
@angular101 @mauriciovigolo  By any chance you are able to create example as I am also facing the same issue for onAuthSuccess()

[2018-05-03 17:21] osafi opened #50 "Support changing Authorization Http Header name"
Hi,
In our organization the token is expected to be in a different header than the standard 'Authorization'. Having support for changing the Http Header name as well would be helpful (similar to #45 ).

I have implemented this already and can submit the PR for consideration if this feature request is acceptable

Thanks

[2018-05-04 21:41] samherrmann opened #51 "Add support for RxJs 6"
Environment:
* keycloak-angular 1.3.0
* Angular 6.0.0
* RxJs 6.1.0

Description:
RxJs 6, included in Angular 6, has a few breaking changes one of which is a change in [import paths](https://github.com/ReactiveX/rxjs/blob/master/MIGRATION.md#import-paths).
When importing keycloak in an Angular 6 project, the following compile errors are thrown:
[code]
The error can be patched with `npm install rxjs

[2018-05-05 06:06] mauriciovigolo commented on #51
@samherrmann thanks for opening the issue!

I'm working on the next version of the library and I'm expecting to release it on this weekend to be compatible with angular 6.

I'm planning a new versioning strategy and i'm testing some possibilities, however I will probably follow the angular major version, for example:
- keycloak-angular 6.x.x will be compatible with angular 6
- keycloak-angular 5.x

[2018-05-05 06:16] mauriciovigolo commented on #50
@osafi, first of all, thanks for contributing to the project!

I have a question about this feature: isn't the Authorization header a default value for Http and for keycloak?

[2018-05-05 06:40] mauriciovigolo commented on #48
Hi,

Currently neither keycloak-angular and keycloak-js, implement this feature since its [limitations](https://www.keycloak.org/docs/3.0/securing_apps/topics/oidc/oidc-generic.html#_resource_owner_password_credentials_flow) and also the absence of an update token.

Are you using this flow for a web or mobile app with nativescript (for example)?

[2018-05-05 06:46] mauriciovigolo commented on #47
@abhishekkaura and @angular101

I've been working on a new example to show how to handle the keycloak events and I started to build it using angular 6, so I came across a bigger issue, regarding the angular versions.  I expect to finish all the migration to angular 6 this weekend and also release the examples.

[2018-05-05 11:27] osafi commented on #50
@mauriciovigolo, yes Authorization is the standard for Http. Unfortunately the services our SPA needs to call use a different header for authentication.
The suggested change is to default to Authorization but have the option to change it.

Requests to Keycloak would continue to use the default Authorization header as it is hard coded in keycloak.js

Happy to contribute, thanks for the great projec

[2018-05-06 15:24] mauriciovigolo opened #52 "Project structure refactoring"
Change of the project structure to the **@angular/cli** format, following the **library** schematic.

[Click here](https://github.com/mauriciovigolo/keycloak-angular/blob/feat/release-6.0.0/docs/project/proposals/request-for-change/project-structure-refactoring.md) for a full description.

[2018-05-06 18:32] aelkz commented on #51
I agree! cheers

[2018-05-06 18:39] aelkz opened #53 "Docs for PWA/mobile apps"
We should think about adding an extension in the documentation on how to use keycloak-angular with PWA and Mobile applications. Since Keycloak have different behavior with such scenarios, it will be good to have a proper documentation for overall guidance.

[2018-05-07 05:32] abhishekkaura commented on #47
@mauriciovigolo  Thanks !!!

[2018-05-08 05:58] HaHaHaHaHaHaHaaaaaa commented on #48
@mauriciovigolo Em,I want to use this flow for a web to manage privilege and use myself login page

[2018-05-09 02:13] mauriciovigolo commented on #50
@osafi, this feature certainly may help others with the same situation as you are facing.

Thanks for PR #54! Great to have your contribution!

PS: This will be shipped on release 6.0.0, okay?

[2018-05-09 02:25] mauriciovigolo commented on #48
@HaHaHaHaHaHaHaaaaaa, unfortunately I can't develop this feature for you now, but I have an idea to create a login component for keycloak-angular to support direct access grant in the future.

The way to do it, is to create your login and interfaces directly, consuming the Keycloak REST API. In your case, for now, the keycloak-angular will not help you yet.

Thanks for reporting the issue.

[2018-05-09 02:29] mauriciovigolo commented on #53
@aelkz, you are right, this is something we really could move on.

In progressive web apps, you are thinking to describe offline access?

[2018-05-09 09:57] mauriciovigolo opened #55 "Docker compose to bootstrap the project examples"
A docker-compose file for the project should be created in order to facilitate the examples bootstrap and configurations.

[2018-05-09 10:14] mauriciovigolo opened #56 "New versioning proposal"
We are working on the next release and found some issues regarding what's the best way to version the keycloak-angular library, considering breaking changes in Angular and Keycloak versions.

The new proposal is presented in:
- [Proposal: Update Angular 6 Version](https://github.com/mauriciovigolo/keycloak-angular/blob/feat/release-6.0.0/docs/project/proposals/request-for-change/update-angular-6-v

[2018-05-09 19:53] rafaelvicio opened #57 "Profiles is a mandatory?"
Is the following configuration mandatory?

I do not intend to work with the account setup page, but without that I'm having trouble using the library.

[2018-05-09 21:12] rafaelvicio commented on #57
I'm getting the following error:

I already use LDAP for the accounts in keycloak, so everyone who has account is already authorized. I do not need to associate it with any profile.

[2018-05-12 13:03] mauriciovigolo commented on #57
@rafaelvicio, this configuration is necessary to load the user profile data in KeycloakService#loadUserProfile or keycloak-js loadUserProfile function. So, regardless if you are using LDAP as user federation or some other identity provider, to have access to the user info, you have to authorize access to read the user data in the account client.

Besides doing the scope configuration, please also

[2018-05-12 15:46] mauriciovigolo opened #58 "Option to disable the KeycloakBearerInterceptor"
Add an option to disable the KeycloakBearerInterceptor if it is a not desired feature for the app, as pointed by @bpalermo in issue #28.

[2018-05-16 15:55] jtttttt opened #60 "Use userinfo endpoint for getting user info rather than the account client"
After logging into an app using this plugin I can see that a request is made to the Keycloak account client to get information about the user, at `/auth/realms/realm-name/account`. I'd expect to get that information from the userinfo endpoint at `http://localhost:28080/auth/realms/realm-name/protocol/openid-connect/userinfo ` instead. It looks like the information available at the two endpoints is

[2018-05-17 00:06] rightisleft opened #61 "Support For Keycloak 4.0 Beta"
Howdy Howdy, this is probably more of a timing question. What does your timeline for releasing 4.0.X support? Is this different than the timing for the Angular 6 support work?

------

Given that i am a user who is working with the Keycloak 4.0.X Beta,
When i declare a version number OR Git repo / branch in package.json
Then i should be able to use keycloak-js 4.0.x beta AND Keycloak 4.0.X server

[2018-05-17 12:38] marcelnem commented on #56
I am not sure that this will work.

In semver the versioning the model is MAJOR.MINOR.PATCH-prerelease

In semver, the part after hyphen (in this case "-k3") is used for pre-releases. Our use case is that someone wants to stay on keycloak 3 because switching to a version of the library that supports keycloak 4 would be a breaking change for them.

If someone has ^4.0.0-k3 in their package.json, wh

[2018-05-18 00:38] mauriciovigolo commented on #61
Hi @rightisleft, the coming release will support both, angular 6 and keycloak 4.

It should be released in the next few days, however I'm still working on some issues to the final release.

The keycloak-angular@1.X supports keycloak 3, angular 4 and 5. In keycloak 4 there are some breaking changes, so I would not recommend to override the keycloak-js 4 version.

[2018-05-18 00:46] mauriciovigolo commented on #60
@jtttttt, the user profile is loaded by the keycloak-js library and it indeed gets the user info from ```/auth/realms/realm-name/account```.

As we don't have plans to change the official lib, maybe you should open an issue to the keycloak team at https://issues.jboss.org/projects/KEYCLOAK.

Thanks!

[2018-05-18 00:56] mauriciovigolo commented on #56
Hi @marcelnem, glad to have your comments.

This is a real problem, considering a future release, like you said, 4.0.0-k3 and then 4.0.1. The npm will update the 4.0.0-k3 to 4.0.1 (compatible with keycloak 4). Maybe your suggestion will gonna be better.
I will prepare some tests and think about it.

[2018-05-18 04:41] mauriciovigolo commented on #47
Just found a bug in KeycloakService while doing the example, related to the order to register the events.

@angular101, testing the keycloak-js events, discover that the only event propagated between tabs is the onAuthLogout. All the others don't work between tabs. :disappointed:

The login event will be executed only if you refresh the page.

Thanks for reporting.

[2018-05-18 09:33] jtttttt commented on #60
Thanks, will do!

On 18 May 2018 at 01:46, Mauricio Gemelli Vigolo <notifications@github.com>
wrote:

[2018-05-18 13:02] H3ll0W0rld commented on #51
I was just going to open new issue for this but just noticed this one. Looking forward to v6 over the weekend.
Thanks for the library and keep up the good work.

[2018-05-18 13:38] rsachin opened #62 "ERROR Error: Uncaught (in promise): The user profile could not be loaded."
Hi all,

We are using Keycloak 3.4.3 with "keycloak-angular": "^1.2.4" and "keycloak-js": "^3.4.3",

After successful login, the application shows a blank page with following error:-

if we access https://qsso.abc.com/auth/realms/TestRealm/account from another tab in the same browser, we are seeing User Account Information.

Please advise.

14:47:41.362 keycloak.js:685 [KEYCLOAK] Estimated time di

[2018-05-19 00:26] #60 closed

[2018-05-21 02:04] mauriciovigolo commented on #56
So the final versioning pattern will be:

| keycloak-angular | Angular | Keycloak | SSO-RH |
| :--------------: | :-----: | :------: | :----: |
|      1.4.x       | 4 and 5 |    3     |   7    |
|      2.x.x       | 4 and 5 |    4     |   -    |
|      3.x.x       |    6    |    3     |   7    |
|      4.x.x       |    6    |    4     |   -    |

This versioning proposal was the result of a talk w

[2018-05-21 04:44] #50 closed, assigned to osafi

[2018-05-21 04:44] #52 closed, assigned to mauriciovigolo

[2018-05-21 09:35] #61 closed

[2018-05-21 17:53] rightisleft opened #63 "HttpInterceptor not working on 2.0.0"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

@2.0.0
Angular 5.2

### Repro steps.

1. Make Post to keycloak node
2. Inspect network calls in Chrome
3. Note missing Authorization header + bearer token

[code]

The AuthGuard works as expected, but the HttpInterceptors do not append the bearer token.

[2018-05-21 19:02] Mihai-B commented on #63
It is the same for me, on angular version 6 and keycloak-angular 4.0.0-beta1

[2018-05-21 21:31] rightisleft commented on #63
I wrote my own interceptor and it worked fine - i think it has something to do with how the interceptor is being declare in your common module

[code]

[2018-05-22 11:03] Mihai-B commented on #63
I found the bug.
In your nit options you have to set the ` disableBearerInterceptor` to **TRUE** for actualy ave it enabled.

Will open a bug for this.

[2018-05-22 12:30] mauriciovigolo commented on #63
Hi @rightisleft and @Mihai-B and thanks for reporting the issue!
Sorry for not aswering this bug yesterday, I'm having a busy week.

When you mentioned the bug I thought about this new flag to disable the Bearer Interceptor and that this could be the cause.

The behaviour should be: always add the bearer at the HttpClient requests but if someone doesn't need this feature there is a flag to disable

[2018-05-22 14:08] Mihai-B commented on #63
Hi @mauriciovigolo ,

I am not saying to change the default behaviour, I am saying to change the property name to enableBearerInterceptor AND have it by default to **true**.(so by default the bearer interceptor is **enabled**)
The advantage of having the property they way I proposed is that we lose the **[double negative](https://www.refactoring.com/catalog/removeDoubleNegative.html)** or also [re

[2018-05-22 18:42] rightisleft opened #64 "AOT Failing on ng build --prod --aot=true"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular 2.0.0
Angular 5.2

### Repro steps.

Download and install @2.0.0
Add keycloak module
Add init
run build and note error:

[code]
./init.ts

[code]

Next:

[code]

Expected: AOT should work

[2018-05-22 19:04] mauriciovigolo commented on #63
@Mihai-B, I agree with your points, let's do it. Thanks!

[2018-05-22 19:47] samherrmann commented on #63
I can confirm the same issue with the following stack:
angular: 6.0.0
keycloak: 3.4.3
keycloak-angular: 3.0.0

I agree with @Mihai-B that losing the double negative would be an improvement.

[2018-05-22 20:48] mauriciovigolo commented on #62
Hi @rsachin, this seems to be related to giving the user the view_account permission, as mentioned in #37 and #57.
Let me know if it helps, thanks!

[2018-05-22 21:01] samherrmann commented on #64
I am experiencing this issue as well.

[2018-05-23 12:56] iomgi commented on #64
Facing the same issue.

Just adding the following line to a fresh angular app is enough to break AOT.
`import { KeycloakAngularModule } from 'keycloak-angular';`

[2018-05-23 13:41] sakrai opened #66 "Add product URL for login/logout to Keycloak"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
1.2.4
### Desired functionality.

I would like to be be able to add the image/ SVG for login/logout. Could we add it in anyway or do you have to add it to keycloak.d.ts to a keycloakInitOptions as a productImage url

[2018-05-23 22:35] czeckd commented on #64
Confirm same issue with:
keycloak-angular 3.0.0
Angular 6.0.0

[2018-05-24 19:58] mauriciovigolo commented on #64
Hi, I'm working on this issue.
@rightisleft, thanks for reporting.

[2018-05-24 19:59] mauriciovigolo commented on #66
Hi @sakrai, I didn't get it.
Are you meaning a custom theme for keycloak?

[2018-05-25 04:45] amacoder opened #67 "keycloak-heroes example is missing"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular master & v3

### Repro steps.

### The log given by the failure.

### Desired functionality.

See the updated example

[2018-05-25 10:18] angular101 opened #68 "Backport fixes from 4.x.x to 1.3.x"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular 1.3.x
angular 5
keycloak 3

### Repro steps.

### The log given by the failure.

### Desired functionality.
Are there any plans to backport fixes from 4.x.x. to other branches such as 1.3.x?
Specifically I am interested in the fix for issue #47
From what I can tell looking at the issue the fix is only avai

[2018-05-25 11:39] mauriciovigolo commented on #67
Hi @amacoder, both examples - events and heroes will be updated and released in 05/28 (monday). The  release v4.0.1 will include bugfixes and the examples updated.
Thanks!

[2018-05-25 11:42] mauriciovigolo commented on #68
@angular101, sure, the release v.1.4.0 will include the events observer, so you could use it on your app. The release will be on 05/28, together with v.4.0.1.

[2018-05-25 12:51] amacoder commented on #67
Great @mauriciovigolo. Thank you for your efforts

[2018-05-25 14:48] angular101 commented on #68
Brilliant thanks very much!!!

[2018-05-25 14:48] #68 closed

[2018-05-26 07:10] sakrai commented on #66
Yep. So, you could pass on the product URL to the end of the login URL. Allowing a custom image to be used with the login.

[2018-05-28 15:00] aleksandar78 opened #69 "Missing KeycloakAuthGuard in keycloak-angular@4.0.0-beta.1"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

angular 6.0.3
keycloak-angular 4.0.0-beta.1

### Repro steps.

Create new project and install keycloak-angular library
[code]

Try to implement AppAuthGuard that extends KeycloakAuthGuard as
exposed in project README file. KeycloakAuthGuard class cannot be found.

### The log given by the failure.

### Desired functionali

[2018-05-28 19:32] mauriciovigolo commented on #69
Hi @aleksandar78, I already noticed that the content of this file was missing, it was an error during the migration for the new structure. The release of today, v.4.0.1, will fix this. Thanks!

[2018-05-28 20:39] mauriciovigolo commented on #66
Hello @sakrai, the login, welcome, email, account and admin pages can be customized in the way you need as described on the [keycloak docs -> themes](https://www.keycloak.org/docs/3.3/server_development/topics/themes.html). Is this what you are looking for?

[2018-05-29 07:43] aleksandar78 commented on #69
Thanks, @mauriciovigolo. I can confirm that v.4.0.0-beta.3 contains KeycloakAuthGuard.

[2018-05-29 07:43] #69 closed

[2018-05-29 09:57] sakrai commented on #66
![1](https://user-images.githubusercontent.com/5224056/40651632-1b86a3da-632e-11e8-90ee-ff89611b771d.png)

Kinda of, the idea was to not have it customised at keycloak end but have the ability to pass in a product_image url that would be appended like client ID is as one of the keycloak keycloakInitOptions. So, the URL at the end would be something like
&product_image=https://mycustomimage.svg

[2018-05-29 10:23] Jeroen96 opened #70 "Can't login to confidential client"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

Keycloak-angular: 4.0.0-beta.1
Angular 6.0.3
Keycloak 3.4.3.Final

### Question
I'm trying to get this package to work for the last couple of hours. When my application is posting to
http://127.0.0.1:8180/auth/realms/crydash/protocol/openid-connect/token i get the following:
{"error":"unauthorized_client","error_descripti

[2018-05-30 13:04] jderuere commented on #63
Same problem with version 3.0.0 (just in case). Thanks!

[2018-05-30 20:41] mauriciovigolo commented on #67
@amacoder, keycloak-heroes example migrated to angular 6.
Thanks!

[2018-05-30 20:41] #67 closed

[2018-05-30 20:42] mauriciovigolo commented on #64
New versions released. All tested and working with aot.
Thanks everybody!

[2018-05-30 20:42] #64 closed

[2018-05-30 20:44] mauriciovigolo commented on #63
New versions release, including this update suggested and coded by @Mihai-B!
@Mihai-B, thanks for your contribution to this project!
@rightisleft thanks for reporting the issues!

[2018-05-30 20:44] #63 closed

[2018-05-30 20:48] mauriciovigolo opened #71 "Wrong assignment of enableBearerInterceptor."
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

- keycloak-angular: 4.0.0-beta.3.

### Desired functionality.
enableBearerInterceptor is always true. Error in assignment.

[2018-05-30 20:59] mauriciovigolo commented on #71
Fix released on v.4.0.0-beta.4

[2018-05-30 20:59] #71 closed

[2018-05-31 21:29] Danny-P commented on #62
Hi @mauriciovigolo ,

I run into the same error. I think my keycloak configuration ist correct. Should I send some Screenshots to verify that?
But unfortunananntelly I get the same Error as @rsachin.

In Firefox Developer Console I can see, that the account endpoint is successfully called:
https://development.keycloak.private:8443/auth/realms/MY-REALM/account

Accessing that URL in a second tab, s

[2018-06-01 13:20] kashpatel opened #72 "How to initialize keycloak with locale in i18n Angular app?"
##Question or Feature Request

I know this might not be the best place  for this question but just wondering if someone has encountered this problem? Since I could not find any solution online.

We use keycloak [https://www.keycloak.org/] server for user authentication in our Angular 6 app. We also use this wrapper library https://github.com/mauriciovigolo/keycloak-angular to interact with the und

[2018-06-01 13:46] jderuere opened #73 "Protractor test failed when I switch between 1.3.0 and 3.0.1"
### Versions.

Works with 1.3.0 and fail with 3.0.1

### Repro steps.
I have E2E Protractor tests that connect through Keycloak and then test our features. It works well for weeks.
When I switch to keycloak-angular 3.0.1, the connection through keycloak still work but when it comes to test our features I got this error :

[code]

When I switch back to 1.3.0 it works as usual.

Also, switching to 3

[2018-06-01 18:20] jderuere commented on #73
I succeeded to make it work by running keycloak.init outside of angular zone:

[code]

As you can see, my need is a little different since I need to be multi-tenant, so the initialization is not done at the App init but later.

I'm interesting in understanding what change was introduce in 3.0.1 that made me do that.
Thanks

[2018-06-05 01:17] mauriciovigolo commented on #73
Hi @jderuere, sad to hear you are having problems in your tests, let's solve it!

So, the main change in version 3.0.0 and above is that this is a new project generated by the angular cli v6. In this version, the angular cli introduced a new schematic that incorporates the nice [ng-packgr](https://github.com/dherges/ng-packagr) library. So now, we do have a more standardized way to create a librar

[2018-06-05 14:29] mauriciovigolo commented on #73
@jderuere, great to know it! Also, thanks for sharing and for contributing to the project!

[2018-06-05 14:35] #73 closed

[2018-06-05 17:08] mauriciovigolo commented on #62
@Danny-P, sorry for the delay. Could you check if the clientId has the **view_account** role from the accounts client? This problem usually happens when you don't have the permissions to access it.

[2018-06-05 17:11] mauriciovigolo commented on #38
@findjonmos, I'm closing this issue, since it seems to be solved. If you have any issues in the future we will be here to help. Thanks!

[2018-06-05 17:11] #38 closed

[2018-06-05 19:27] rightisleft commented on #43
Does this address the symptom where there's what appears as a temporary redirect before the page is authenticated?

[2018-06-06 16:37] mauriciovigolo commented on #72
@kashpatel, one option could be initialize the KeycloakService but not redirect to the login page when calling the init method. This is similar to the [keycloak-events example](https://github.com/mauriciovigolo/keycloak-angular/tree/master/examples/keycloak-events). Just a note, the example is not finished but you can take a look on how the app is dealing with the login workflow.

Then you have tw

[2018-06-06 18:33] Danny-P commented on #62
Hi @mauriciovigolo , thank you for your reply.
my client in Keycloak has the permission.

Look at this screenshot, I think it is correct?

![grafik](https://user-images.githubusercontent.com/3408338/41057925-b71bd91e-69c8-11e8-8aca-37ddf2e3e11b.png)

[2018-06-06 18:55] mauriciovigolo commented on #62
hello @Danny-P, yes it seems to be okay.

One thing I noticed now is the realm name in your url: **MY-REALM**
```https://development.keycloak.private:8443/auth/realms/MY-REALM/account.```
Is it correct?

[2018-06-06 20:18] Danny-P commented on #62
@mauriciovigolo yes it is correct. I'm working with some test configuration to get it working first.

I did a reboot of my keycloak Server. Now the error has changed and it seems be related to a CORS Problem. I get the following error:

    Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://development.keycloak.private:8443/auth/realms/MY-REALM/pr

[2018-06-06 22:06] Radionz opened #74 "Require login only for heroes page"
Hello,

Thanks for the job done and the great examples. This can be labeled as a question.
I was wondering how "unprotect" the home page in the heroes example.

I tried to remove the  `canActivate: [AppAuthGuard]` in the app-routing.module.ts file for `path: 'home'` but nothing happend. Still ask for login on home page.

Can you help me ?

Thanks.

[2018-06-07 07:33] Radionz opened #75 "How to get the roles descriptions"
### Request kind.
- [ ] bug report -> please search for issues before submitting
- [x] feature request

### Versions.
- keycloak-angular : 4.0.0.Beta3
- keycloak : 4.0.0.Beta3
- angular : 6.0.0

### Description.
Is it possible to retrieve role description from Keycloak ?

![image](https://user-images.githubusercontent.com/9740002/41084874-98a912b8-6a35-11e8-8296-4a78f28c3e07.png)

In order to have

[2018-06-07 14:46] jdmaguire opened #76 "Implicit Flow Checks Non-Existing Refresh Token"
Hello, I'm integrating keycloak-angular into an existing Angular 5 app and am experiencing an issue when using the `implicit` flow. (I'm new to keycloak and this library so it's entirely possible I've not configured something properly or misunderstood use cases.)

From a behaviour prospective, after initializing the keycloak.service, I am forwarded to the Keycloak login page and after login, succe

[2018-06-08 17:40] mauriciovigolo commented on #74
Hi @Radionz,

The keycloak-heroes was built with the login first premise, so you will have to change a couple of things:
1. In app-init.ts file, change the ```onLoad: 'login-required'``` to **'check-sso'** and add the **'home'** path at the bearerExcludedUrls: ```bearerExcludedUrls=['home']```
[code]
2. In app-routing.module you will need to remove the authguard:
[code]
3. In app.component.ts, add

[2018-06-08 17:48] mauriciovigolo commented on #75
As far as I know the roles descriptions are not included in the JWT, and we are using the default keycloak-js library.
To solve your issue you could take a look at the [keycloak-admin-client](https://github.com/keycloak/keycloak-admin-client). For security reasons, just take a look on how to properly access or expose this kind of info. I didn't use it yet, just saw that it is an implementation to

[2018-06-08 20:08] kashpatel commented on #72
Hey @mauriciovigolo,

Thank you for getting back to me and sorry for late reply. I tried doing exactly you told but now I got the following error.

**https://localhost/auth/realms/realm/account 401 (Unauthorized)
ERROR Error: Uncaught (in promise): The user profile could not be loaded.**

So,

I followed your previous comment from this issue: https://github.com/mauriciovigolo/keycloak-angular/issu

[2018-06-09 20:48] samir-kamble opened #77 "Using Library in Lazy load setup Angular 5"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions. : Angular 5

### Repro steps. - None

### The log given by the failure. - None

### Desired functionality.
Installed this library in my existing Angular 5 Lazy load setup. I am sending Bearer token with every request to server. Somehow I am not able to detect Roles of user on server side. Am I missing any configurations? O

[2018-06-11 11:50] Radionz commented on #75
Thank you for the response I will take a look at the admin-client.

[2018-06-11 16:20] #75 closed

[2018-06-11 16:34] mauriciovigolo commented on #77
Hi @samir-kamble, this is the responsibility of the server adapter. You need to take a look at your server adapter configuration.

The web must send a valid bearer to the server. Then the server adapter will check if this token is valid and proceed or not with the http request. From the server adapter you should get the user roles and info. For more info you should take a look on the server adapte

[2018-06-12 09:51] mauriciovigolo commented on #76
@jdmaguire, I was able to reproduce your issue and you are right, when using the implicit flow the behavior should be different, otherwise it will face an endless redirect loop.

Thanks for opening this issue!

[2018-06-12 10:03] mauriciovigolo commented on #70
@Jeroen96,  did you try to use the credential.secret on keycloak.init.config?

For example:
[code]
Thanks!

[2018-06-12 10:05] mauriciovigolo commented on #74
Closing this issue since it seems to be okay. Having any doubts feel free to reach us.

[2018-06-12 10:05] #74 closed

[2018-06-12 16:34] mauriciovigolo commented on #72
Hi @kashpatel, do you have an example to share, so I think it would be easier to help you.
I could also try to implement an example with internationalization, but I still have some issues to deal before.
Thanks!!

[2018-06-12 16:44] mauriciovigolo commented on #66
@sakrai, based on the redirect_uri query param on keycloak you could try to implement what you need on you custom theme.
For example: redirect_uri=http://company1.com and redirect_uri=http://company2.com
You could create a js file on your custom login theme to get this value and based on this, render a different image for each company.

[2018-06-12 16:52] mauriciovigolo commented on #62
@Danny-P, looking to the message I think it is a keycloak setup issue. Do you have an example to share so I would be easier to help you. Did you try the keycloak-heroes example with your server?
I'm working to improve the project documentation, so I will try to reproduce the common errors the people are having to create a FAQ.

[2018-06-13 12:40] kashpatel commented on #72
Hi @mauriciovigolo,

I will get on it as soon as I get time. Have been busy lately.

Thanks

[2018-06-14 17:22] Danny-P commented on #62
@mauriciovigolo : I cloned the heros example to localhost. Then I did npm install and changed environment.ts to my configuration. You can find it in this gist: https://gist.github.com/Danny-P/3b85a4f7162966118e621517c756c711

I created a default Realm with a client called app. The only things I configured are the Redirect Uri (http://localhost:4200/*) and the scope settings.

Try the user test wit

[2018-06-15 12:50] mauriciovigolo commented on #62
@Danny-P, thanks for using your time to create this scenario. I asked about the keycloak-heroes because this is an working example, so it should work in your server as well. Taking a look at your config on gist, I saw that you are using HTTPS. Is this a self signed certificate? It might be the root of the problem.

[2018-06-15 13:12] Danny-P commented on #62
@mauriciovigolo thank you very much for your assistance!
It is a Let's Encrypt certificate and still valid for the next four weeks.

[2018-06-15 17:46] mauriciovigolo commented on #62
@Danny-P, if this is a valid certificate it might be a setup issue on keycloak. I'm creating some docker images to work with the examples, so you could use it to check your setups. It will be released on 4.0.0-beta.5 milestone together with the new project docs, but as soon as I push to the docker hub I will get in touch with you. Thanks!

[2018-06-15 20:18] kashpatel commented on #72
Hey @mauriciovigolo,

I was able to accomplish this. There are two ways I think we could do this.

1. Return a second promise from then of the keycloakService.init().then(). For example.
[code]

2. The way you described in your example. By subscribing to the  keycloak.keycloakEvents$ subject somewhere in the service constructor.
[code]

None of this would work if you use 'login-required' because k

[2018-06-16 11:30] zac87 opened #78 "Parameter client_assertion_type is missing"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
Angular CLI 6
keycloak-angular 2.x.x
keycloak server  4.0.0.Beta3

### The log given by the failure.
[code]
when accessing the token endpoint .../protocol/openid-connect/token

I couldn't find a setting for the client_assertion_typ parameter. What am I missing here?
Would be glad if someone could give me a hint on how to s

[2018-06-18 06:11] SimonLau2017 opened #79 "Keycloak-Angular try to open /account after login / requesting a token"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

### Repro steps.

Just set up a new angular project (version 6) and follow the stepps mentioned to get keycloak-angular running. Followed the tutorial at https://www.npmjs.com/package/keycloak-angular

### The log given by the failure.

My public client ist able to request a token, but also make a request to the keycloak

[2018-06-18 11:55] mauriciovigolo commented on #78
@zac87, I need more details about your project or an example to help you. Please send me your config info and also a consideration, for angular 6, keycloak 4 you should use keycloak-angular 4.

[2018-06-18 12:00] mauriciovigolo commented on #79
@SimonLau2017, to support you I need more details about your project, ideally a project example would be better. Did you try the examples provided by the library? A good kickstart is [keycloak-heroes](https://github.com/mauriciovigolo/keycloak-angular/tree/master/examples/keycloak-heroes).

[2018-06-18 12:30] mauriciovigolo commented on #79
@SimonLau2017, what flow are you using? I need some details about your config, init parameters.
Also, did you setup the view_account role to the app's clientId at your keycloak server?

[2018-06-18 12:47] SimonLau2017 commented on #79
One moment i provide the neccessary information shortly

[2018-06-19 12:00] mauriciovigolo commented on #79
@SimonLau2017, thanks for sharing a project with your situation. At this time you have to setup the view_account role from the accounts app to get the user info. The library is expecting that this data is something that is needed by most of webapps, so after the keycloak instance initialization, the user profile is loaded.
Some time ago, there was a request from another user to remove this load at

[2018-06-19 12:15] SimonLau2017 commented on #79
Thanks a lot for your quick help.

Unfortunately I am not in the position to change the settings of the server.

Do you know maybe another module which I can use, that does not require this setting?

As far as I know, the roles are transferred in the access token. Since I do not need the roles at all, I do not know exactly.

As far as I could see from the Keycloak documentation, one should get the

[2018-06-19 12:35] mauriciovigolo commented on #79
The bearer is a JWT and it includes the user roles. I understand that your requirement is only authentication using the oauth2 flow, so removing any calls from the getUserProfile should be enough and won't require roles from the accounts client.
The next release is coming this week, on friday. I could bundle this feature, but I need to test it and check the impacts. Another option could be using t

[2018-06-19 14:46] mauriciovigolo commented on #72
Thanks @kashpatel, nice work! To help others I will also create a new example with this scenario.

[2018-06-19 14:46] #72 closed

[2018-06-21 16:35] mehmetzahid commented on #7
Hi, I'm dealing with the same issue since the beginning of my project.
Command+r or cli refreshes redirect to keycloak login page everytime and asks for user/pass.
I have tried a lot of configuration combinations, but I couldn't make it work.
Until I saw this issue post, I started to think that this was the intended behaviour.

I will be glad if you can guide me to correct this workflow.
I have up

[2018-06-22 03:02] pbit opened #80 "Keycloak event onAuthRefreshError is published as KeycloakEventType.OnAuthLogout"
Hi,

just found this line in KeycloakService.bindsKeycloakEvents

https://github.com/mauriciovigolo/keycloak-angular/blob/2a1e4e8e72af141c6f82bf2cd8eba5548988d141/projects/keycloak-angular/src/lib/core/services/keycloak.service.ts#L105

Should it be `KeycloakEventType.OnAuthRefreshError` ?

[2018-06-22 07:00] SimonLau2017 commented on #79
Hello Mauricio,

I'm curious. Will the new version actually be released today?

Thank you very much for your efforts.

[2018-06-22 17:02] TechGnome commented on #62
I'm having a similar issue. It only happens when the user isn't logged in. Once the user logs in, the error goes away.  We want the user to be able to use the site w/o being logged in. At the top of index.js, we're initiating
`keycloak.init({ onLoad: 'check-sso' }).success( authenticated => {`
The error back is Uncaught (in promise) Undefined
It's reported on this line:
`p.reject(result);`
Line 98

[2018-06-22 18:20] mauriciovigolo commented on #79
@SimonLau2017, I still have some issues to work on. I will try, otherwise it will probably be released on this weekend or on Monday.

[2018-06-22 18:23] mauriciovigolo commented on #80
@pbit, that is a truly bug! :smile:

Will be fixed on the upcoming release 4.0.0. Thanks for reporting!

[2018-06-23 14:41] jcharlytown commented on #48
Hi @mauriciovigolo ,

is there any news regarding the support for direct access grant? I haven't seen anything in the docs.

Regards!

[2018-06-26 02:36] mauriciovigolo commented on #78
@zac87, great job! Did you open an issue at the [keycloak project](https://issues.jboss.org/projects/KEYCLOAK/issues)?

[2018-06-26 02:39] mauriciovigolo commented on #77
Closing this issue since it seems to be solved. Any questions, please visit our [slack channel](https://slackin-iijwrzzihr.now.sh/) or open an issue. Tks!

[2018-06-26 02:39] #77 closed

[2018-06-26 02:42] mauriciovigolo commented on #70
Closing this issue for inactivity. @Jeroen96 if you need any further help, please contact us on our [Slack channel](https://slackin-iijwrzzihr.now.sh/) or (re)open an issue. Tks!

[2018-06-26 02:42] #70 closed

[2018-06-26 02:44] mauriciovigolo commented on #66
Closing this issue for inactivity and it seems to be solved. @sakrai if you need any other further help, please visit our [slack channel](https://slackin-iijwrzzihr.now.sh/) or (re)open an issue. Tks!

[2018-06-26 02:44] #66 closed

[2018-06-26 02:45] mauriciovigolo commented on #53
@aelkz could you add more information about which features we need to doc for PWA? Tks!

[2018-06-26 02:48] mauriciovigolo commented on #49
@mdemerat, I'm closing this issue for inactivity. If you have any further question, you can also use our [slack channel](https://slackin-iijwrzzihr.now.sh/) or (re)open an issue. Tks!

[2018-06-26 02:48] #49 closed

[2018-06-26 02:51] mauriciovigolo commented on #16
@frederikprijck, I'm closing this issue, since your changes were merged and the other features will be treated in separate issues in future releases. Thanks for your support!

[2018-06-26 02:51] #16 closed

[2018-06-26 03:49] mauriciovigolo commented on #62
@TechGnome, did you make any calls to loadUserProfile before the login? This could be the reason.
I will change the loadUserProfile to only proceed with the request if the user is logged in.
Thanks for everyone that contributed to this issue!

[2018-06-26 06:17] mauriciovigolo commented on #80
Version v.4.0.1 includes the fix for this bug. Thanks @pbit!

[2018-06-26 06:17] #80 closed

[2018-06-26 06:20] mauriciovigolo commented on #79
@SimonLau2017. Versions 1.4.1, 2.0.2, 3.0.2 and 4.0.0 of keycloak-angular, includes this enhancement. I added a flag so you can set it to false if your app should not initialize and load the user profile. Thanks!

[2018-06-26 06:20] #79 closed

[2018-06-26 06:21] mauriciovigolo commented on #76
Versions 1.4.1, 2.0.2, 3.0.2 and 4.0.0 includes the fix for this bug. Thanks @jdmaguire!

[2018-06-26 06:21] #76 closed

[2018-06-26 11:57] TechGnome commented on #62
@mauriciovigolo -no. There were no calls to anything except the init. After some review, it looks like the firs time it happens is on the init, the second happens with the iframe code, when it attempts to check the token. Thanks for taking a look at this. I'll pull it and see if the problem is resolved.

[2018-06-26 14:45] SimonLau2017 commented on #79
works pretty nice on the first look :)

Thank you very much!

[2018-06-28 16:37] mauriciovigolo commented on #78
Closing this issue since it is related to the keycloak-js adapter. Thanks @zac87!

[2018-06-28 16:37] #78 closed

[2018-06-28 16:40] mauriciovigolo commented on #7
@mehmetzahid, I will take a look on this problem. Thanks!

[2018-07-04 06:54] ilacomp opened #81 "No binding for OnAuthRefreshSuccess event"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular 3.0.2
angular 6.0.3
keycloak 3.4.3

### Repro steps.
Try to subscribe to keycloakEvents$ with type === KeycloakEventType.OnAuthRefreshSuccess
There is no events emmited on token update.

### Desired functionality.
There must be binding at KeycloakService.bindsKeycloakEvents for keycloak.onAuthRefreshSucces

[2018-07-05 01:15] lainosantos opened #82 "Uncaught (in promise): undefined"
### Bug Report

Uncaught (in promise): undefined

### Versions.

Ionic Framework: 3.9.2
Ionic App Scripts: 3.1.10
Angular Core: 5.2.11
Angular Compiler CLI: 5.2.11
Node: 8.11.3
OS Platform: Linux 4.17
Navigator Platform: Linux x86_64
User Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.99 Safari/537.36

### Repro steps.

[code]

The error only occour

[2018-07-05 01:19] lainosantos commented on #82
Is it Related?? #62

[2018-07-05 11:41] mauriciovigolo commented on #81
@ilacomp, you are right, the onAuthRefreshSuccess event is missing. Thanks for reporting!

[2018-07-05 16:24] mauriciovigolo commented on #82
@lainosantos, I didn't test keycloak-angular with an ionic app, but it should work.
Which version of keycloak-angular you are using? I would also need more details or an example as the given log is too generic.

[2018-07-06 10:59] lainosantos commented on #82
@mauriciovigolo, I'm using version 2.0.2. I will make a project available here in github with the code of a basic ionic. And I will also test with an app using only angular.

[2018-07-06 18:24] jdmaguire commented on #76
Thanks for the fix. Works like a charm Mauricio.

[2018-07-10 06:41] dmnrmr commented on #7
As I understand the default behavior is:

request a page > get redirect to kc server (it appends query params to redirect url > load initially requested page with new query params that are used to fetch the token.

And this thing happens every time you refresh a page.

Is it even possible to obtain a token without being redirected to kc page if you are logged in?

[2018-07-10 08:21] Allsimon commented on #7
It works if you are in `--prod` mode with Angular CLI

[2018-07-10 08:35] dmnrmr commented on #7
I am not using angular cli actually, but same behavior is seen when I build in production mode as well. Could you check when you are in prod mode and set chrome's network console to "Preserve log" to see if your bundle is loaded twice?

[2018-07-10 09:03] Allsimon commented on #7
Damn, it's loaded twice indeed...

[2018-07-10 10:26] findjonmos opened #84 "Is it possible to query the full keycloak API using keycloak-angular?"
This is a question about this component, not a bug report.
I'm having a hard time trying to workout how the roles across the various realms and clients work to allow me to have access to the Keycloak API from my Angular 6 project that is itself a client sat in a specific realm.

I want to rule out all dead ends in terms of my investigation and so I wanted to ask if angular-keycloak can query the f

[2018-07-10 12:06] mauriciovigolo commented on #7
@dmnrmr, thanks for reporting. By loaded twice you mean two requests to initialize the library or the authentication workflow being executed twice?

[2018-07-10 12:34] mauriciovigolo commented on #84
@findjonmos, keycloak-angular is a wrapper to keycloak-js, adding functionalities and components (future) for authentication and authorization in angular apps, but it does not query the admin API.

To query the keycloak admin API there are some options:

**Official clients**:
- NodeJS - [keycloak-admin-client](https://github.com/keycloak/keycloak-admin-client)
- Java - [keycloak-admin-client](http

[2018-07-10 13:08] dmnrmr commented on #7
Let me illustrate a case for already logged in user.
Let's say front-end is running on **http://localhost:4200** and  keycloak server is running on **http://kc.srv**

When I open front-end:

This results in page loading twice, but with small bundle sizes and gzip compression is barely noticeable.

And this all is with "normaL" flow. Keycloak also allows to use "impolicit flow" when token would be

[2018-07-10 14:56] findjonmos commented on #84
Oh right, so this isn't something I would be able to do with an Angular front-end that is already a client in keycloak? I would need to use a backend stack like you have suggested?

[2018-07-10 16:07] mauriciovigolo commented on #84
The keycloak-js offers some functions for basic user management as:
- User register
- Account management

The workflow for these functions includes a redirect to the keycloak instance. You could customize a theme to follow your app look and feel, however it depends on your use case.

For a better user experience and customer retaining, sometimes the user register workflow must be inside the purcha

[2018-07-11 02:00] czeckd commented on #81
Could the OnAuthRefreshSuccess fix be back-ported to v3.0.x too please?

[2018-07-11 08:13] mbonfanti opened #85 "isUserInRole function problem"
This line -> hasRole = this._instance.hasResourceRole(role);
Calls keycloak-js function -> kc.hasResourceRole = function(role, resource)
so basically, alway fails not passing resource

https://github.com/mauriciovigolo/keycloak-angular/blob/6d4549c4804cc0a3632eb4687f2f794f99a4cfc4/projects/keycloak-angular/src/lib/core/services/keycloak.service.ts#L315

[2018-07-11 08:23] #85 closed

[2018-07-12 15:31] juansmolano commented on #53
Hi @mauriciovigolo

At the moment we are enhancing a Platform with PWA attributes, Offline access to be precise.   We are using Angular 6 with keycloak-angular.  So far everything is fine (Thanks you so much for keycloak-angular :D )
The problem we are having is trying to came up with an strategy for offline access.  Keycloak official documentation explains offline access in this URL: https://www.

[2018-07-13 11:06] marcelnem opened #86 "The keycloak-auth-guard.ts does not work with implicit flow and "check-sso" option"
The keycloak-auth-guard.ts does not work with implicit flow and "check-sso" option. The reason is proabaly that the keycloak-auth-guard.ts calls "await this.keycloakAngular.isLoggedIn()" inside canActivate function. The "this.keycloakAngular.isLoggedIn()" will produce error with the implicit flow because it calls "this._instance.updateToken(minValidity)". A possible fix would be to just return "th

[2018-07-13 16:03] mauriciovigolo commented on #53
@juansmolano, thanks for sharing your thoughts and needs. The keycloak do have support for offline access, however, as far as I know, keycloak-js doesn't. So consequently, keycloak-angular doesn't have it too.
I also think this is a must feature, supporting both PWA and Ionic, so we could move forward this discussion and feature.

[2018-07-13 16:06] mauriciovigolo commented on #81
Hello @czeckd, sure. All versions will be fixed. Thanks!

[2018-07-16 19:52] lainosantos commented on #82
@mauriciovigolo, sorry, the error was because of the 'Content-Security-Policy' configuration of the keycloak server.

[2018-07-16 19:52] #82 closed

[2018-07-18 10:57] NehalDamania opened #87 "Feature: support CanLoad and CanActivateChild implementation in KeycloakAuthGuard"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

### Repro steps.

### The log given by the failure.

### Desired functionality.

Can we extend KeycloakAuthGuard to support CanLoad and CanActivateChild.

This will be very useful for lazy routed modules.

[2018-07-18 11:49] Mord1n commented on #7
I have a simular issue, i would love the option to store the token in a cookie so a page-refresh doesnt redirect you to keycloak and back everytime i do F5 or send a link to someone.

[2018-07-18 17:02] mauriciovigolo commented on #7
@dmnrmr thanks for sharing the workflow. The redirect during initialization, even if the user is logged in, is a behavior from keycloak-js adapter and right now I don't have any plans to customize the official js adapter.

There is a [topic at Keycloak JIRA](http://lists.jboss.org/pipermail/keycloak-user/2016-October/007937.html) related to this issue. In summary they opted for security instead of

[2018-07-18 17:04] dmnrmr commented on #7
Thanks for this information,

[2018-07-18 17:10] #7 closed

[2018-07-18 17:17] mehmetzahid commented on #7
sorry for reopening this issue, but now I integrated your package in another project of mine.
in this second project, keycloak does not require user/pass login on browser refreshes.
there are several differences between two projects, but the most important difference is that second project is hosted on https with ssl.

so there is absolutely something wrong that depends on configuration or environ

[2018-07-18 17:49] mauriciovigolo commented on #7
@mehmetzahid, no problem for reopening. This is happening in your machine or in an app in production or hosted in a test environment?

[2018-07-18 17:57] mehmetzahid commented on #7
first project, where keycloak needs login on every browser refresh is tested both locally on my machine and a test environment. the behavior did not change.

for the second project, where the browser refresh does not asks for user/pass input is hosted on a tet environment very close to the same test environment above.

as of now, we havent get any products to production using keycloak.
we are stil

[2018-07-20 20:50] VSSILVA opened #89 "Method to return the user attributes that can be customized at the Keycloak's Admin console at the "Clients -> Select a Client -> Mappers" tab"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Versions.
keycloak-angular:3.0.2
angular:6.0.0
keycloak:3.4.3 provided by Red Hat SSO:7.2.2 (RH SSO)

### Repro steps.
Not applicable

### The log given by the failure.
Not applicable

### Desired functionality.
I did not found a method to return the user attributes that can be customized at the Keycloak's Admin console at the "Clien

[2018-07-23 20:44] VSSILVA commented on #89
To get the custom attribute, I parsed the JSON from the token and accessed the attribute manually, e.g:
`this.phone = JSON.parse(atob(this.token.split(".")[1])).phone`

Is this the best way to do it?
Thanks for you help in advance.

[2018-07-24 15:48] mauriciovigolo commented on #89
@VSSILVA, for getting the custom user attributes you could get the attributes property from loadUserProfile method. For example:

[code]

[2018-07-24 15:50] mauriciovigolo commented on #87
@NehalDamania, I will take a look at your request feature. I'm pretty busy last days, so as soon as I have some time available I will send you a feedback. Thanks!

[2018-07-24 15:52] #84 closed

[2018-07-24 16:18] mauriciovigolo commented on #7
@mehmetzahid, I had this kind of issue during development and using angular-cli. In applications deployed in a test or production environments don't. I need to do a better investigation about it, however I guess that, locally the generated build from a code update may interfere and also the keycloak server in https and locally http.

But as I said, this is only a guess I need to take a closer look

[2018-07-24 17:04] VSSILVA commented on #89
Hello @mauriciovigolo.
I am getting a compilation error when I try to get de "attributes" property from the userDetails variable as you can see in the attached file. In which keycloak-angular version was this property available? I am using 3.0.2.
Thanks for your help.
![compilation error](https://user-images.githubusercontent.com/41481621/43154331-654cdc12-8f4a-11e8-9f09-dac22fc5d7f0.png)

[2018-07-24 21:45] pako-g opened #90 "AppAuthGuard used only on some pages"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular-4.0.0
angular-6.0.8
keycloak-4.1.0

### Repro steps.

I'm testing this excellent library.
I have two components: `DashboardComponent` and `ProductComponent`.
I would like the dashboard to be visible without login while in the product component the user needs to be logged in

[code]
If I add `canActivate: [

[2018-07-28 20:03] jmparra commented on #48
Hi, I'm using direct access grant in one of my web application, I have my own login and register page that's connected with an intermediate service which calls the Keycloak API REST (with the admin credentials), I have implemented the API for login and register in this service, and this service returns to the Angular web application the access_token and refresh_token that I set into angular-keyclo

[2018-07-30 03:51] mauriciovigolo commented on #48
hello @jmparra, nice to hear you solution. I'm really interested in providing this functionality in keycloak-angular. We could talk more about it, maybe on slack.

@jcharlytown, sorry I didn't see your message. As this issue was closed I did not see it. We are working on the new docs and soon we will have more details about different flows.

Thanks!

[2018-08-02 11:40] muaddib123 commented on #30
@doublemc I've got the same problem. Keycloak /account endpoint returns no id. How have you fix that problem?

[2018-08-02 12:36] mauriciovigolo commented on #30
hello @doublemc, this property should exist in the response of loadProfileMethod. Could you give me more details about it? Like keycloak-angular, keycloak and angular versions you are using.
When I answered @doublemc I tried with keycloak-heroes example. You can debug or print the result in your console. Thanks!

[2018-08-09 20:50] Danny-P opened #91 "CORS blocked"
I have setup keycloak on another host as my angular application.
When I access the angular application I get redirected to the login page. After logging in the angular apps tries to load. But then I get CORS errors:
Cross-Origin Request blocked
Where do I need to configure CORS and which changes are necessay?

[2018-08-11 01:24] mauriciovigolo commented on #91
Hi @Danny-P, may you send more information about your app? This kind of error is usually related to some config error. I would need more information to help you like a sample project with the error and your configs on keycloak. Thanks!

[2018-08-17 06:52] ulise commented on #91
Same here.
The login request don´t have an orign header (but referer) and is accepted by my keycloak.
The token request has an orign header  with postname only ( referer has complete base-url) and is blocked by keacloak.

[2018-08-17 11:51] mauriciovigolo commented on #91
@ulise, this is related to a config in your keycloak server. You have to setup the Web Origins of your client 'https://ressource-url' on keycloak.

[2018-08-17 12:19] ulise commented on #91
@mauriciovigolo, I did. I tried with all settings. 'https://ressource-url', + and *
Same effect.

[2018-08-20 15:49] mauriciovigolo commented on #91
@ulise, did you try, just for testing purposes, to leave only * in Web Origins field?

[2018-08-20 15:58] mauriciovigolo commented on #90
Hi @pako-g, sorry for the delay to answer you here on github. As we already talked before on slack I will create an example with all the details to leave this configuration more understandable.

Release 4.1.0 was scheduled today to September but i will try to release this example earlier, so I will update this issue.

Thanks!

[2018-08-20 16:08] mauriciovigolo commented on #89
@VSSILVA, sorry for the delay. Did you manage to deal with the custom userDetails attributes?
The KeycloakProfile from keycloak-js definitions file doesn't have the attributes property.

I will add on v.4.1.0 and backward versions also. v.3.0.3.
To solve this problem until the fix, you could use

[code]

or even better:

[code]
Thanks for reporting it!

[2018-08-20 16:26] GearoidSugrue opened #92 "Uncaught errors logged to the console when not logged in"
### Bug Report or Feature Request (mark with an `x`)

[code]

When the app loads and you are not logged in, 3 errors are logged to the console.
If `onLoad: 'check-sso'` is NOT included in keycloak options then the number of errors drops to only 1.
If you are already logged, in then no errors will be logged to the console.

### Versions.

keycloak-angular: 2.0.2
angular: 5.2.2
keycloak: 4.1.0.Final

[2018-08-20 17:03] mauriciovigolo commented on #92
Hi @GearoidSugrue, I just reproduced this error on keycloak-heroes. I will take a closer look on this issue.

Thanks for reporting!

[2018-08-21 10:12] GearoidSugrue commented on #92
Thanks for the quick response!

[2018-08-22 11:16] ulise commented on #91
@mauriciovigolo : Sorry, I´m out some days. So I cannot verify this right now. But - CORS-Headers with an '*' are not accepted with credentials. So setting the 'correct' Web Origins should do the job. I will give it a try soon.
We have some apps running with angular.js and with the same keycloak. I´ll figure out the diffs.

[2018-08-24 14:13] mel1nn commented on #92
I also have the same problem

[2018-08-29 14:14] jngutteridge opened #93 "Initialization error after login on Microsoft Edge"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

Keycloak v3.1.0.Final
Keycloak-Angular (angular6-keycloak3) v.3.0.2
Angular v6.1.4
Angular CLI v6.1.5

Microsoft Edge 42.17134.1.0
Windows 10 v1803 (build 17134.228)

### Repro steps.

  - Using example 'keycloak-heros'
  - Using Keycloak base installation.
  - Updating the 'keycloak-heros' keycloakConfig in environment t

[2018-08-30 12:42] mauriciovigolo commented on #93
Hi @jngutteridge, I will try to reproduce this error today and help you. Thanks for reporting!

[2018-09-04 01:34] mauriciovigolo commented on #93
@jngutteridge, I reproduced this error at work with the following versions:
- RedHat Single SignOn 7.x.
- Windows 10
- Edge 41.

The funny thing is that at home I couldn't reproduce this scenario.
Home environment:
- Keycloak 3.1.0 and 4.1.0,
- Keycloak-angular 3.0.2 and 4.0.0.
- Windows 10
- Microsoft Edge 42.17134.1.0
With this config at home, Edge is working correctly.

Did you try with a newer

[2018-09-04 07:34] jngutteridge commented on #93
@mauriciovigolo thank you for your prompt feedback!

A Keycloak 4 upgrade is on the cards for us, I'll ask my manager if we can push this forward. We face a bit of difficulty as we have several apps using the same Keycloak server, various in-house plugins, and many themes for various tenants that wouldn't work given the new version without some alteration.

It might be we have to push forward with

[2018-09-04 10:40] mauriciovigolo commented on #92
@GearoidSugrue and @mel1nn, I'm working on this issue.

On newer versions of Angular and keycloak-angular, the problem is not happening. Seems to be related to zone.js, however I'm still looking at it. If it is something related to keycloak-angular, I will release a bugfix on the next version 4.0.1. This is also the reason for the delay of 4.0.1, but I'm planning to release it in the middle of thi

[2018-09-05 01:09] mauriciovigolo opened #94 "Keycloak-js errors silenced"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

- keycloak-angular - 4.0.0

### Desired functionality.

The errors are being silenced. The library should append the error in the reject.

Example:
[code]

[2018-09-13 18:08] Danny-P commented on #91
@mauriciovigolo now I am back and I have done some more tests
My app is running on a different server than keycloak does.
I have set up keycloak-heroes example from latest github.
That is the configuration in environment.ts
`let keycloakConfig: KeycloakConfig = {
 url: 'https://keycloak-server/auth',
  realm: 'MA-Portal',
  clientId: 'webapp'
};`

and that is the configuration in keycloak:

  "id"

[2018-09-13 20:04] mauriciovigolo commented on #91
Hi @Danny-P, I will take a look on this. Tks!

[2018-09-17 14:07] AlfaCoder commented on #93
Same here:
Keycloak-angular 4.0.0
Microsoft Edge 40.15063.674.0

[2018-09-24 16:32] frederikprijck commented on #86
@mauriciovigolo can u publish 4.0.1? We need this fix :(

[2018-09-24 17:01] mauriciovigolo commented on #86
Sorry @frederikprijck. I will release this version today or tomorrow, just need to finish the tests and one last simple issue.

[2018-09-24 17:03] frederikprijck commented on #86
Alright, thanks!

[2018-09-26 23:50] #81 closed

[2018-09-26 23:50] #86 closed

[2018-09-26 23:50] #94 closed

[2018-10-02 08:43] corentin59 commented on #90
Hi @mauriciovigolo
I have a similar problem.

Your help is welcome
Thanks!

[2018-10-03 12:17] Danny-P commented on #91
@mauriciovigolo Have you seen anything wrong in my configuration?

[2018-10-04 12:36] bsener commented on #90
I have similar problem too.
A solution is appreciated.

Thanks !

[2018-10-05 13:58] karimi94 opened #95 "bearerExcludedUrls not working V1.3.0"
I'm using the version 1.3.0 and trying to make some url public using bearerExcludedUrls

[code]
But it is still being redirected to login while typing this url.

http://localhost:4200/#error=login_required&state=67f53f12-206c-44b9-83be-7eef7c982ce4

[2018-10-05 15:20] karimi94 commented on #95
Resolved just get that bearerExcludedUrls mean other url that we call and not the project route

[2018-10-05 15:21] karimi94 commented on #95
Resolved just get that bearerExcludedUrls mean other url that we call and not the project route

[2018-10-05 15:21] #95 closed

[2018-10-10 14:29] dmaglio opened #96 "redirect after login"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular: 1.3.0
angular: 5.2.x
keycloak: 3.1.x
### Repro steps.

   initOptions: {
            onLoad: 'check-sso',
            checkLoginIframe: false
          },
### The log given by the failure.

I create a route "/signin" to call a component with `KeycloakService.login()` to call login page but when the user

[2018-10-11 14:16] roinou commented on #92
Same here:
keycloak-angular 2.0.3
Keycloak 4.3.0
Angular 5.2

[2018-10-12 10:34] dmaglio commented on #96
solved. in signin component i call `KeycloakService.login()`and recall it because i cannot check if it's already logged.
PS: Should not it be automatically in Login function?

[2018-10-12 10:34] #96 closed

[2018-10-14 13:00] spagop opened #97 "question: secure ionic3 mobile app for mobile devices (ios and android) using the hybrid flow"
sorry to use this channel issues to ask this question:
I'm working on a sample ionic 3 mobile app demo that I would like to secure with keycloak using the hybrid flow see https://www.keycloak.org/docs/latest/securing_apps/index.html#hybrid-apps-with-cordova.
I have already seen that you can configure in the init method of keycloak-angular framework options flow = 'hybrid' and onLoad = 'check-sso'.

[2018-10-15 09:13] mehmetzahid commented on #90
Hi @mauriciovigolo
I'm having the exact problem also.
I have three components that does not need login, if I modify auth guard, I keep redirect loops to the login page.
Do you have any road map for this task?
Or do we have any workarounds we can use until a permanent fix?

Btw thank you for the awesome library!

[2018-10-15 14:13] corentin59 commented on #90
Hi,

This a sample :

Step 1 : Create new guard (this guard must extends KeycloakAuthGuard)
![image](https://user-images.githubusercontent.com/2035983/46956255-24bef900-d095-11e8-98dd-25a9170de6d6.png)

Step 2 : in app.module.ts
Add AuthGuard in providers
Add AuthGuard on each routes (canActivate)

[2018-10-17 15:14] TMSantos commented on #22
hey @vincevaghalsen How did you fix it?

[2018-10-17 20:36] pivotal-kaveh commented on #90
is this request still open or the functionality is there now? I have the same requirement.

@corentin59 I've tried the similar approach but didn't work. do you mind sharing your init options? I've tried the same configuration that is in 'README' page and a guard similar to yours, but it seems during app initialization at some point 'login' method is called. so it's not up to the guard to call the

[2018-10-18 07:15] Danny-P commented on #91
@akash19901990 unfortunantelly not.
I'm still running in this issue. Therefore I cannot use this library in my Project by now :-(

[2018-10-22 16:54] mauriciovigolo commented on #97
Hey @spagop, how are you?

I didn't create an ionic app using keycloak-angular, however it shouldn't be a problem, as the keycloak-js adapter offers support to cordova applications.
From the example you mentioned, the important part is here:
[code]
From keycloak docs: https://www.keycloak.org/docs/latest/securing_apps/index.html#hybrid-apps-with-cordova.

The next release from keycloak-angular I w

[2018-10-24 08:55] indiana-jonas commented on #97
Hi

Just a comment to this (as Im trying to do the same). KeycloakInitOptions doesn't currently support adapter and redirectUri properties.

Cheers

Jonas

[2018-10-24 11:42] spagop commented on #97
Thanks @mauriciovigolo  for your answer.

as @indiana-jonas already mentioned adapter and redirectUri options are not implemented in the current keycloak-angular. Please correct me if I'm wrong.
I would appreciate it, if keycloak-angular can be extend to support  adapter and redirectUri options.

Regards

[2018-10-26 15:35] mauriciovigolo commented on #97
@spagop and @indiana-jonas (great nick by the way :smile:)

The properties are really missing and I will add they on the next release. I tried to create an ionic app to give you an example and test the library on ionic. I didn't finished it yet, because there are some missing points and the information available is not so good.

Meanwhile you could create your app using the **as any** trick from t

[2018-10-30 09:25] ValentinBossi opened #98 "Need update of keycloak.js"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
2.0.3

### Repro steps.
https://issues.jboss.org/browse/KEYCLOAK-7920

### The log given by the failure.
https://issues.jboss.org/browse/KEYCLOAK-7920

### Desired functionality.
unhandled error should be catched. should be fixed here https://github.com/keycloak/keycloak/pull/5611/files

could you please update this as soo

[2018-10-30 13:30] PrabakarKaruppasamy opened #99 "Could not determine a single project for the 'serve' target."
Not able to run this project after installing the npm we are trying to run the ng serve command. We are getting the below issues.

`Could not determine a single project for the 'serve' target.
Error: Could not determine a single project for the 'serve' target.
    at ServeCommand.getProjectNamesByTarget (C:\Users\CECH0159\AppData\Roaming\npm\node_modules\@angular\cli\models\architect-command.js:19

[2018-10-31 17:38] cen1 opened #100 "Having trouble with ng-packagr build when adding new files"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

`feature/rpt` branch

### Repro steps.
I am experimenting with feature/rpt branch. The problem is that keycloak-authz.js has no refresh rpt token functionality so I forked it and included into `projects/keycloak-angular/src/lib/core/keycloak-authz` together with .d.ts file. Then I changed the imports in keycloak-service.t

[2018-11-05 13:19] Tyranwyn commented on #93
I have the same problem:
Edge: 42.17134.1.0
Keycloak-angular: 3.0.1, 3.0.2, 4.0.0, 4.0.2
Keycloak: 4.1.0

It does work in all other browsers EVEN in Internet Explorer 11 (11.345.17134.0)

[2018-11-05 14:51] Tyranwyn commented on #93
Update:
I put my application on our intranet and it works, so it doesn't for localhost..

[2018-11-15 09:42] mrpia commented on #98
keycloak 4.6.0.Final has been released (see https://github.com/keycloak/keycloak/releases/tag/4.6.0.Final), I'll open PRs on the relevant branches (master, angular4-5-keycloak4) to upgrade keycloak.js dependency

[2018-11-15 19:10] nfriend opened #101 "Add support for Angular 7"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

`keycloak-angular`: 4.0.2
`@angular/core`: 7
`keycloak`: 4.4.0

### Repro steps.

1. Create a new Angular 7 app
2. Install `keycloak-angular`

### The log given by the failure.

[code]

### Desired functionality.

`keycloak-angular` should be compatible with Angular 7.

[2018-11-15 23:06] koldoon commented on #92
Same with
angular 7.0.0
keycloak 4.0.2

[2018-11-18 13:37] koldoon opened #102 "No way to get logged user when application starts up."
[code]

### Versions.
keycloak-angular: 4.0.2
angular: 7.0.0

### Repro steps.
I'm trying to simply show logged username in the application header. So I init the library as follows (and was taken from documentation):

#### In app.module providers:
[code]
init func impl:
[code]
In the main component I'm trying to get that info:
[code]
As the application starts it's being redirected to keycloak serv

[2018-11-18 19:58] xmlking commented on #48
i have `implicit` and `direct access`  together working  in my sample (works with `keyclock`)
https://github.com/xmlking/ngx-starter-kit

may be this lib can use some of those ticks ....
i am looking for native `direct access flow`  support in `keycloak-angular` so that I can switch to `keycloak-angular`

[2018-11-19 11:30] mauriciovigolo commented on #101
Hi @nfriend, thanks for opening this issue.
I will update the library to the newest version of Angular 7 this week.
You should not have any other issues besides the warning message :smiley:.

[2018-11-19 11:41] mauriciovigolo commented on #98
Hi @ValentinBossi and @mrpia, thanks for opening this issue. @mrpia I'm planning a new release this week to update to Angular 7. I can bundle this update also to all branches. Thanks!

[2018-11-19 11:42] mrpia commented on #98
even better, thanks for the update @mauriciovigolo!

[2018-11-19 11:52] mauriciovigolo commented on #99
Hi @PrabakarKaruppasamy, this issue is not related to keycloak-angular, but something specific to you project configuration / dependencies. You could take a look at this [answer on Stackoverflow](https://stackoverflow.com/questions/51368343/angular-cli-6could-not-determine-single-project-for-serve-target), it might help you there.

[2018-11-19 11:52] #99 closed

[2018-11-19 14:10] nfriend commented on #101
Perfect, thanks @mauriciovigolo!

[2018-11-24 09:41] nmcbride commented on #101
I asked for the same thing on the slack channel, but there was nothing but crickets chirping.

[2018-11-24 09:56] nmcbride commented on #90
I'm not really sure why people are asking for workarounds or fixes as the library works as it should. I didn't have any issues putting some routes behind keycloak auth and others not.

What I would guess is happening is you left "onLoad: 'login-required'," set in the initOptions. Which will, you guessed it, require a login as soon as keycloak is loaded. If that isn't what you wanted, then I'd prob

[2018-11-24 10:08] nmcbride commented on #102
I haven't tried it yet but what happens if you use "loadUserProfileInStartUp"? The documentation seems to imply it would do what you are asking doesn't it?

[2018-11-24 10:19] nmcbride commented on #92
This is a known issue in keycloak-js, where  it isn't using native promises, and should be fixed in 4.6.0.Final. At least it is marked as fixed for that release.

[2018-11-26 10:48] pivotal-kaveh commented on #90
In my case the problem was a call to asset folder to load an image in the public (not secured) component. I had forgotten to exclude the asset folder in keycloak configuration.

[2018-11-26 11:33] caoduy1293 commented on #74
Could you give me the version that you make this example ? I used angular version 5.x and "keycloak-angular": "^4.0.2"

[2018-11-26 18:39] nmcbride commented on #90
Gotcha. Im glad you got it figured out!

On Mon, Nov 26, 2018 at 5:48 AM Kaveh Shamsi <notifications@github.com>
wrote:

[2018-11-27 02:28] #98 closed, assigned to mauriciovigolo

[2018-11-27 10:02] jpaniorte commented on #102
See compatibility table:

If you use keycloak-angular v6.x.x  with angular 7.x works fine. My test:

_app.init.ts_
[code]

_app.component.ts_
[code]

Other option is delete ` loadUserProfileAtStartUp: true` and call function `this.keycloakAngular.loadUserProfile()`

_app.component.ts_
[code]

[2018-11-27 10:12] koldoon commented on #102
@jpaniorte, nope, you set `onLoad` to `'login-required'`, that's why for you everything is fine. But the issue describes case where user don't have to be logged in (but he might) and in this case I want to get user profile.

[2018-11-27 10:14] koldoon commented on #102
@nmcbride, nothing happens. Application behaves as if user has been never logged in.

[2018-11-27 10:45] mauriciovigolo commented on #102
Hello @koldoon, how are you?

The ```loadUserProfileAtStartUp: true``` will force the application flow to login if the user is not logged in, as for requiring the user data you have to be logged in.

Also, for requiring the user profile your clientId must have the view_account scope from account clientId. This is a configuration you have to do in your keycloak server.

Thanks!

[2018-11-27 11:41] jpaniorte commented on #102
@koldoon sorry, my fault.

anyway, the `loadUserProfileAtStartUp` is true by default:

[code]
Accordingly, we have 4 scenarios in this funcion:

[code]

1. If the user is logged and `loadUserProfileAtStartUp: false`:

You need call load `this.keycloakAngular.loadUserProfile()`

2. If the user is logged and `loadUserProfileAtStartUp: true`:

You can call `this.keycloakAngular.getUsername()`

3. If

[2018-11-28 09:53] koldoon commented on #102
@jpaniorte thanks a lot for your attention!

My case is 2nd: "user is logged and loadUserProfileAtStartUp: true". And when I execute the code below:
[code]
I've got `isLogged == undefined`. Of course, type is treated as `false` in this case, but anyway, I don't get the actual username. The important fact: the whole code runs in component that is _not_ protected by keycloak. If I go to pages, that

[2018-11-28 10:09] koldoon commented on #102
Hi, @mauriciovigolo !
I don't require user to be logged in, but if he is, I need to get profile and show the name. In this case I expect that keycloak check the session and if it is not expired, load the profile before (when) application starts. I almost achieve such effect when stored tokens in localStorage and then applied them to keycloak constructor, but when tokens are expired, library crashe

[2018-12-14 07:35] AlfaCoder commented on #93
We've the same problem with localhost. All other deployed instances works fine 👍

[2018-12-17 14:01] trung674 commented on #93
I encountered this problem on live server only. It works **almost** fine in localhost (this bug pops up once in a while)

[2018-12-19 03:12] wpcfan commented on #91
@Danny-P did you set your client credential in keycloak? if so, check your keycloak log, it should says something related to client secret. However the browser got the CORS error, instead of this specific error

[2018-12-19 08:42] SamiHK commented on #22
Did anyone fix this. I am facing the same issue.

[2018-12-24 09:24] sivkaneti opened #103 "redirectUri not-before-policy"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

### Repro steps.

I followed the steps in the examples of the projects. When I add redirectUri in the keycloak.init , after the login page I get redirect to /not-before-policy
I am not sure what I am missing.

### The log given by the failure.

### Desired functionality.

[2018-12-30 21:06] winster opened #104 "keycloak.json 404"
As mentioned in the readme, I completed following steps for my new angular app.
Angular CLI: 7.1.4
Node: 11.4.0
OS: darwin x64
Angular: 7.1.4

Installed keycloak-angular@6.0.0
AppInitializer in AppModule and app-init.ts
AppAuthGuard created
A route in AppRoutingModule looks like this
  {
    path: 'home',
    component: HomeComponent,
    canActivate: [AppAuthGuard]
  }

with providers: [AppAuthGu

[2019-01-02 21:46] danagain opened #105 "I love how initializer is just left out in every example ever"
### Bug Report or Feature Request (mark with an `x`)
x - Could you please just spend the time to write one sentance to save half the world 2 hours. thanks

[code]

### Versions.

### Repro steps.

### The log given by the failure.

### Desired functionality.

[2019-01-02 21:49] danagain commented on #105
just going to assume its somewhat related to this, import { NgModule, APP_INITIALIZER } from '@angular/core'. Just another pleb stabbing  in the dark though

[2019-01-02 22:02] danagain commented on #105
have managed to make some more  progress , i've found your interface. The comments associated witht the code my as well be chinese but I think I'm tired and half retarted anyays;

"export interface FactorySansProvider {"

     * A function to invoke to create a value for this `token`. The function is invoked with
     * resolved values of `token`s in the `deps` field.

What the hell is the deps fi

[2019-01-02 22:21] danagain commented on #105
Yeap case closed,  keycloak  and        angular have not been designed to work together , dont even try

[2019-01-08 07:46] bacvothanh commented on #28
Hi @mauriciovigolo , I'm facing the same issue.

`await keycloak.init({
            config: {
              url: environment.keycloakBaseUrl,
              realm: 'Portal',
              clientId: 'frontend'
            },
            initOptions: {
              onLoad: 'check-sso',
              checkLoginIframe: false
            },
            bearerExcludedUrls: [
              '/calculation1

[2019-01-09 03:44] bdparrish opened #106 "AppAuthGuard - (401) Unauthorized after login"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular: 4.0.0
angular: 6.1.10
keycloak: 4.8.1.Final

### Repro steps.

Follow example for keycloak-heroes to add `AppAuthGuard.ts`

### The log given by the failure.

No `Authorization: Bearer + token` in request
(401) Unauthorized

### Desired functionality.

The documentation says that the `Authorization` head

[2019-01-09 10:39] mauriciovigolo commented on #106
Hi @bdparrish,

The Authorization header is added automatically only with [HttpClient](https://angular.io/api/common/http/HttpClient) introduced in Angular v4.3. The reason for this is that the HttpInterceptor only works with HttpClient.

I just tried the keycloak-heroes example and it seems that there is a problem with opendota-api. That is the reason I'm working on the new examples including a s

[2019-01-09 14:11] bdparrish commented on #106
Awesome.  I was thinking HttpClient was the underlying to Http.  Thanks, refactoring to HttpClient worked for everything.

[2019-01-09 14:11] #106 closed

[2019-01-09 21:06] stefanmeschke opened #107 ""Infinte" reload with multiple tabs"
### Bug Report

[code]

### Versions

* reproducible with **Angular 5** and **Keycloak Angular 2.1.0**
* reproducible with **Angular 7** and **Keycloak Angular 6.0.0**

Therefore it seems to be a general problem.

### Repro steps

#### Running application
1. open application
2. login to keycloak
3. wait for redirect
4. open some internal links of this application in a new tab (e.g. with command an

[2019-01-10 18:54] mauriciovigolo commented on #107
Hi @stefanmeschke,

Seems to be something related to your project setup. I could not see on the video the right path for the keycloak configurations variable. To make it work, keycloak-js expects that your project has a keycloak.json file or you must set the configurations on the config property on `KeycloakService#init`.

Regarding the logs, try setting the `Preserve Log` option checked on the Ne

[2019-01-11 09:54] chrisvieweg opened #108 "Add support for checking role within a given resource"
### Desired functionality.

Are there any plans to add support for choosing the resource / clientId at the `isUserInRole` method?
The wrapped JavaSctipt method `hasResourceRole` has as an optional Parameter (resource) which is not used.

- https://www.keycloak.org/docs/latest/securing_apps/index.html#hasresourcerole-role-resource

The Problem is, if you have tow clients in Keycloak with the same r

[2019-01-11 10:57] mauriciovigolo commented on #108
Hi @chrisvieweg,

Nice issue. It makes sense, let's do it :+1:

[2019-01-14 09:19] stefanmeschke commented on #107
Hi @mauriciovigolo,

I've uploaded my test project to GitHub:
https://github.com/stefanmeschke/angular-keycloak-issue

The init is done with the initializer method in `app.module.ts`:
[code]

KeycloakConfig looks like:
[code]

### Log
[code]

Please let me know, if you need additional information.

Cheers and Thanks!

[2019-01-14 09:34] stefanmeschke commented on #107
@mauriciovigolo It seems to be a problem with Keycloak itself.
Issue: https://issues.jboss.org/browse/KEYCLOAK-8438

Cheers

[2019-01-14 11:12] mauriciovigolo commented on #107
@stefanmeschke,

thanks for reporting it.

[2019-01-16 07:53] ostmond commented on #22
My solution was to generate the keycloak.json on the Keycloak and put it into /src directory of my Angular 7 project. After that I had to add the path into the angular.json like this:
assets": [
              ...,
              "src/keycloak.json"
            ],

[2019-01-16 08:50] ostmond opened #109 "Question: keycloak.json for production environment"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

Angular 7.0.4
Keycloak-angular 6.0.0
Keycloak 4.8.2
### Question:
The imported keycloak.json contains the URL of the development Keycloak server. For production how can you replace the URL? Reimport the keycloak.json from the production Keycloak?

### Desired functionality.
At least a procedure description in README how t

[2019-01-16 13:28] #109 closed, assigned to nobody

[2019-01-16 13:49] mauriciovigolo commented on #109
Hi @ostmond, first of all, thanks for opening this issue.

That's right, in my opinion, the best way to setup this keycloak info in an angular application is by using the environment files. However your issue is indeed meaningful regarding:
1. Documentation improvement.
1. For those wanting to work with keycloak.json file, how to properly deal with environments on deploy.

The first topic, documen

[2019-01-16 13:54] mauriciovigolo commented on #22
Hello everyone,

working on the project documentation to guide this type of issue.

Thanks @ostmond for sharing a solution :smile:

[2019-01-16 23:01] jmparra commented on #109
hi, in my opinion there is two simple ways to achieve that:
first of all you needs to create two files keycloak.json and keycloak.prod.json

1. Using Docker is really simple, depending the environment you can use the keycloak.prod.json file and rename it to keycloak.json.
2. or without Docker you can add keycloak.prod.json on `fileReplacements` inside the angular.json

<sub>Sent with <a href="http

[2019-01-17 09:55] njifares opened #110 "Question: AuthGuard (role not allowed)"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

- Angular 7.2.x
- keycloak-angular: 6.0.0
- keycloak: 4.0.0

### Repro steps.

I have set up several users with different roles and want my application only to be accessed by users with a specific role. In the AuthGuard, I do the check and `resolve(false)` when the user doesn't have the allowed role. This results in a red

[2019-01-17 11:00] mauriciovigolo commented on #110
Hello @njifares,

The `resolve(false)` on authguard will only prevent you from accessing the desired route. For my applications I've created an Angular library with common http errors (404, 500, 403, and so on), so I just install this module and it deals with this common scenarios gracefully and most important - the user gets a better experience.

This kind of scenario should be dealt inside of th

[2019-01-17 11:10] njifares commented on #110
Hi @mauriciovigolo ,

Thanks so much for the swift and well explained response. It makes a lot of sense now.

I have already a solution in place more or less like you mentioned but I wanted to be sure that I'm not missing on something.

Thanks again and also for this wonderful library!

[2019-01-17 11:10] #110 closed

[2019-01-17 18:10] winster opened #111 "keycloak-nodejs-connect"
Thanks for providing the library. I can secure the web ui now. As a next step, I want to consume APIs from the backend. Should I use a cookie based approach here? What are the recommendations. Are there a sample app available where both keycloak-angular & keycloak-nodejs-connect used?

[2019-01-22 00:47] mauriciovigolo commented on #111
Hey @winster, how are you?

There are plans to add an example with keycloak-nodejs-connect for the backend. I'm planning to release a full stack example in the next milestone. Tks!!

[2019-01-22 06:34] xmlking opened #113 "support for bearerIncludedUrls"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular 6.0.0
angular 8.0.0

### Desired functionality.

 like `bearerExcludedUrls`, it would be useful  to whitelisted `bearerIncludedUrls` so that bearer will be added to explicit URLs. this is better then blacklisting

[2019-01-22 08:48] mauriciovigolo commented on #113
Hello @xmlking, how are you?

I believe leaving both parameters would be confusing for those using the library. Currently there are  some options to disable the HttpBearerInterceptor or remove the bearer from the HTTP calls by using a broader regex.

Thanks

[2019-01-22 10:07] EggIt opened #114 "Skip KeycloakBearerInterceptor by Request Method"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular: 6.0.0
angular: 6.1.10

### Desired functionality.

Say i have a REST Endpoint exposing a **/foo/id** resource:
- in order to retrieve the resource i issue an HTTP Request: **GET /foo/1**
- in order to delete the resource i issue another HTTP Request: **DELETE /foo/1**

Making GET calls to the resource wo

[2019-01-22 16:15] xmlking commented on #113
Great! Thank you for continuously enhancing this module.  May be when whitelist is provided , ignore blacklist and show warning log message , if both supplied ?

[2019-01-24 12:20] Bjeaurn opened #115 "bearerPrefix not being respected in certain methods (loadUserInfo)"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular 6.0.0
Angular 7.2.2
Keycloak version unknown, only have `keycloak-angular` as dependency.

### Repro steps.
Default implementation with the following settings:

[code]

We run a `ng build --prod` command. In the resulting AOT build, we still see `bearer` instead of `Bearer` at some points. This results in

[2019-01-24 14:44] mauriciovigolo commented on #114
Hello @EggIt, nice issue :+1:!

The idea of also filtering the HTTP method is very good.
I would propose, for maintaining backward compatibility, something like this:

[code]

This way we could mix both ways to handle this while maintaining the compatibility.

[2019-01-24 14:53] mauriciovigolo commented on #113
I'm happy with your contribution and ideas @xmlking, however I still think it would be confuse for now.
Maybe creating a broader regex and reorganizing your routes would be the best option.

[2019-01-24 15:03] Bjeaurn commented on #115
Hmmmm may not be an issue at all.

[2019-01-24 15:03] #115 closed

[2019-01-24 15:19] mauriciovigolo commented on #115
@Bjeaurn, so we have two scenarios here:

1. Bearer added from keycloak.js library.
1. Bearer added by an interceptor from keycloak-angular library.

The first one, from the keycloak.js lib will request the user info to the keycloak server instance. The keycloak server instance should accept the bearer as it handles `bearer <token>`. The interceptor from keycloak-angular doesn't adds the bearer he

[2019-01-24 16:05] EggIt commented on #114
Hi thanks for your interest!

Your proposition seem to be cleaner than mine.
Neverthless you would still need to define an enum of HttpMethod, I would have suggested RequestMethod but it was deprecated in favor of strings in angular... so why not just go with plain strings for http methods as well?

[2019-01-24 22:09] Bjeaurn commented on #115
I appreciate you taking the time to check this out, but we've figured out our actual issue.

The part that triggered us was that there are hardcoded `bearer` tokens in `keycloak.js`, which is relevant to the issue we saw.

Our problem turned out to be build related, which we fixed. Haven't seen issues since. You may consider this problem closed.

If you want to pursue a possible bug with `keycloak

[2019-01-25 00:05] mauriciovigolo commented on #115
Thanks for your feedback and support @Bjeaurn.

All the best! 😃

[2019-01-25 00:14] mauriciovigolo commented on #113
I will close this issue and if necessary we can talk about it again in the future.
Thanks @xmlking 👍

[2019-01-25 00:14] #113 closed

[2019-01-25 00:44] mauriciovigolo commented on #114
Perfect @EggIt! Let's prioritise this issue.

[2019-01-25 16:07] vagelis-savvas opened #116 "Initialization of KeycloakService for dynamic multitenant use case"
As is now KeycloakService is initialized during application load.
In our use case we need to ask the user about his/her Keycloak realm and then
pass this info to KeycloakService. Any suggestions?
Thanx

[2019-01-29 11:04] nikosvr88 opened #117 "Keycloak service initialization during runtime"
### Bug Report or Feature Request (mark with an `x`)

[code]
### Versions.
Angular 7
keycloak-angular 6.0.0
keycloak 4

### Desired functionality.
I want to use keycloak-angular into multi-tenant application. This means that the realm is not known from the beggining so i can't initialize keycloak service with this information. Is there a way to initialize keycloak service during runtime of my appl

[2019-01-30 14:04] barrynorman commented on #93
Any news? We are facing the same issue.

Angular: v7
Keycloak-Angular: v6
Keycloak: 4.4

[2019-01-31 09:50] mauriciovigolo commented on #117
@nikosvr88, I didn't try to use keycloak-angular for this scenario, however I do think it is possible using the angular modular approach.
I would not initialise the KeycloakService instance at the AppModule. I would instead create a new module for each tenant, so your application would look like this.

![multi-tenant](https://user-images.githubusercontent.com/676270/52045445-b1e66a80-252b-11e9-8b4

[2019-01-31 09:55] mauriciovigolo commented on #116
Hi @vagelis-savvas.

I'm dealing with a similar issue on #117. I will close this and concentrate everything there, okay?

Thanks 😄

[2019-01-31 09:55] #116 closed

[2019-01-31 11:43] nikosvr88 opened #118 "Bearer Token not included"
### Bug Report or Feature Request (mark with an `x`)

[code]

Hi again.
Another problem that i have is that when i use the HttpClient after successful login, my request header does not have the bearer token. Is like the Interceptor does not work.

[2019-01-31 14:40] mauriciovigolo commented on #118
@nikosvr88,

Have you tried the [keycloak-heroes](https://github.com/mauriciovigolo/keycloak-angular/tree/master/examples/keycloak-heroes) example?

Usually this kind of issue is related for not using the HttpClient on your requests or for disabling the Bearer interceptor.

If you are still facing this issue after reviewing this points I will need an example - an angular app, to see what is going

[2019-02-01 07:48] nikosvr88 commented on #118
@mauriciovigolo

I am doing exact the same thing like your example!
My code is like below:

[code]
The problem is that i am getting unauthorized and the request does not contains bearer token.

[2019-02-01 14:33] nikosvr88 commented on #118
I've made it work. I put the bellow code to the providers:

[code]
Now my request has bearer token by default. I don't know why but it worked!
Is this normal?

[2019-02-01 14:38] bligny opened #119 "Question: frequent calls to auth endpoint url"
Hello

I successfully managed to integrate my angular (Ionic4) mobile application with Keycloak v4.

However, I noticed that (once redirected and logged into KC) the authorization endpoint (eg: "http://localhost:8080/auth/realms/master/protocol/openid-connect/auth?client_id=....) is invoked **every time I go into a new page** !

See screenshot with all requests to KC:
![image](https://user-images.

[2019-02-01 15:06] nikosvr88 commented on #118
Is it possible HttpClient replaced by other modules that i use?
i've printed enableBearerInterceptor property from KeycloakService and it says yes. So the problem is with the HttpClient. In case of HttpClient is replaced by another module how can i solve this?

[2019-02-04 07:57] nikosvr88 commented on #118
@mauriciovigolo
Hi.
I found what the problem is. In the setup instructions you mention that:

I had insert the KeycloakService in the AppModule and not the KeycloakAngularModule. But now i am facing another problem. My application has a screen that the user types the realm name. I used to have a dummy realm name in order to init the KeycloakService. Now that i have imported the KeycloakAngularModu

[2019-02-04 12:48] nikosvr88 commented on #118
@mauriciovigolo
Hi again.
I solve the problem. I added bearerExcludedurls and now works perfect! You can close the issue!

[2019-02-04 12:50] nikosvr88 opened #120 "Refresh Page"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Desired functionality.

When i refresh the page, the keycloak-angular redirect me to the redirectUri and not keep the last url. Any idea why is this happens?

[2019-02-05 03:37] mauriciovigolo commented on #119
Hi @bligny, sorry for the delay.

No this is not the correct behaviour. After having a valid token it should go to the kc server when needed, like to refresh the token and so on.
I didn't try this library with an Ionic app. We still need to create an example with it and it's great to know that you managed to make it work, although facing this problem.
I believe this is happening probably due the i

[2019-02-05 03:38] #118 closed

[2019-02-08 13:17] dsnoeck commented on #91
I had the same issue. I followed this blog: https://symbiotics.co.za/integrating-keycloak-with-an-angular-4-web-application-part-2/ and then change in the client config:
`Web Origins: *`
to
`Web Origins: +`

[2019-02-08 14:42] dsnoeck commented on #117
What about doing the keycloak.init() before bootstraping Angular, as shown here: https://symbiotics.co.za/integrating-keycloak-with-an-angular-4-web-application-part-5/ ?
You could add the realm in an environment variable. Doing that way would also let you bootstrap angular in a "offline mode" if you want to skip keycloak authentication during the development phase.

[2019-02-12 17:25] almahdi-chihaoui commented on #72
Hi,
I am having this same issue with Keycloak where i try to initialize it with locale from i18n, but in our application, we are using React. I tried to use login() after init and i had the redirection loop issue.
I know this is not the same context since I am using React, is there any way i can use your code to solve this issue.
Here is what i am using:

`const kc = Keycloak(keycloakConfig);
kc.i

[2019-02-13 08:30] dsnoeck commented on #117
I found an other approach to support multi-tenant. I'm adding the tenant in the url www.my-application.com/tenant-name Then, extract it using a regex. The regex is defined in my environment variable, therefor I can change it more easily. I also added an "offline" mode, sometime usefull in development. Note that I use the term `realm` which is corresponding to tenant in Keycloak glossary.
my enviro

[2019-02-13 13:56] wvdhaute opened #121 "White list bearer interceptor URLs"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular: 6.0.0

### Desired functionality.

A nice option to add would be the possibility to white list URLs for which the KeycloakBearerInterceptor is allowed to add the Authorization header.

I understand we could use the bearerExcludedUrls property for this yet it is safer to explicitly white list.

This to pr

[2019-02-14 10:25] mauriciovigolo commented on #121
Hello @wvdhaute,

Thanks for contributing! We had a similar issue before but I didn't realize this point of view:

I will bundle in the next version that will be released on this weekend.

Thanks

[2019-02-14 10:29] wvdhaute commented on #121
Hey @mauriciovigolo,

No problem :) , as said in the pull request though, I did not test the functionality.

Thanks for picking this up.

[2019-02-14 10:35] mauriciovigolo commented on #121
Before releasing it I will make the tests and implement some. In subsequent milestones the plan is to release all tests for this library.

Thanks again @wvdhaute

[2019-02-15 15:02] bdparrish opened #123 "Protractor testing"
Is there current code on how to mock the keycloak flow for using e2e tests?

[2019-02-15 17:43] ayratn2018 commented on #91
1. We had similar issue, try to add Web Origins to "admin-cli" instead of "webapp" client since you use public endpoint (I see yours is empty). This solution works for us.

2. Also you can enable logging in Keycloak, we did this way (we use Red Hat SSO):
`
cd /opt/eap/bin
./jboss-cli.sh

`
If it prints that your URL is "not in null", then means that your configuration wasn't taken into account.

3

[2019-02-16 16:03] PrabakarKaruppasamy commented on #106
@bdparrish  What is the work around I am facing the same issues with WIN7 IE

[2019-02-16 16:52] bdparrish commented on #106
There is no work around.  I was using the wrong class when I ported over old code.

[2019-02-16 16:54] PrabakarKaruppasamy commented on #106
@bdparrish  Thanks for Info. I am facing 401 (401) Unauthorized when try to get UserInfo in IE windows 7 browser. Could please suggest on this?

[2019-02-17 01:04] bdparrish commented on #106
Don't use iframes.  This is a big security issue and all browsers are moving away from these.  Check in to cross origin options within iframe.  That is probably the best place to start.

[2019-02-18 04:10] mauriciovigolo commented on #121
@wvdhaute, just did the PR revision.
I decided not to bundle this PR with this release 6.1.0. I understood the utility of this feature but i would like to test it better before and create more tests.

Besides that, I'm not comfortable yet about the idea of having both includedUrls and excludedUrls. Maybe it should be better to only have includedUrls for the bearer interceptor, but that would mean

[2019-02-19 10:14] wvdhaute commented on #121
@mauriciovigolo No problem I fully understand for 6.1.0. Would like to see this thoroughly tested also.

From a security perspective, I would also prefer the include strategy in favor of exclusion but indeed annoying as it is a breaking change. I left it in for that reason but that's up to you :)

Thanks for you answer

[2019-02-26 11:39] jsteenbeeke commented on #119
How are you linking to different pages? I'm rather new to Angular, and noticed this exact behavior when I was using regular `href` links instead of `routerLink`

[2019-02-26 12:47] bligny commented on #119
Hum interesting track !
Being also an Angular newbee, I have used - in this proof-of-concept - regular href links.
That might be the cause indeed...

[2019-03-04 10:41] lol15151515 opened #126 "Access group with keycloak angular"
Hi I want to access group with keycloak-angular. Is It possible?
thanks

[2019-03-04 22:44] cwang2002 commented on #28
I am having the same issue with keycloak 3 and keycloak-angular 1.4.2. Always redirected to the login page

[2019-03-06 19:30] mechevarria opened #127 "Add account url function to KeycloakService"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular 6.1

### Desired functionality.

Would be nice to have the **accountUrl** as a service property.

Right now I am constructing the url manually from the keycloak instance properties, example:
[code]

[2019-03-12 11:41] lilletech opened #128 "httpclient interceptor authorization with websocket"
I'd like that the HttpClient Interceptor add header for websocket connections.

### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

~6.1.0

### Repro steps.

just call an ws endpoint

### The log given by the failure.

There is no authorization header
![image](https://user-images.githubusercontent.com/7681445/54197265-c7a06580-44c3-11e9-989b-04616a386f4b.png)

### Desired

[2019-03-12 11:48] lilletech commented on #128
I use rx-stomp library. I think this library instantiate his own httpclient...

[2019-03-12 11:48] #128 closed

[2019-03-12 11:56] lilletech commented on #128
Someone has the same issue:
https://github.com/stomp-js/ng2-stompjs/issues/74

[2019-03-13 14:30] dsnoeck commented on #30
Hi, I can reproduce the issue using:
- keycloak-angular: 5.1.0
- Keycloak server: 3.4.0.Final
- @angular/core: 7.2.9

Request to: http://localhost:8080/auth/realms/tenant1/account
Response: `{"username":"jdoe","firstName":"John","lastName":"Doe","email":"john.doe@company.com","emailVerified":false,"attributes":{}}`

[2019-03-29 03:26] dcagnetta commented on #91
after much frustration and trying out many options, this worked:

on the client add the `Default Client Scopes` as below

![image](https://user-images.githubusercontent.com/12990665/55207511-20ba0a00-51e3-11e9-8026-5531c53411b8.png)

[2019-03-29 09:04] dasniko commented on #43
Just for your information:
There's currently a PR in the Keycloak project, adding silent refresh for implicit flow to the `keycloak.js` adapter: https://github.com/keycloak/keycloak/pull/5932

[2019-03-29 09:14] mauriciovigolo commented on #43
Great to know @dasniko! Nice job!

[2019-04-01 15:30] mauriciovigolo commented on #127
Hello @mechevarria, nice request. I will add it in the next release. Thanks!

[2019-04-08 05:31] rogerg93 commented on #97
@mauriciovigolo Anything new regarding this bug? I would really like to have this feature as well.

[2019-04-08 13:26] kasibkismath commented on #117
@mauriciovigolo any update on this please, probably a sample which I could use?

[2019-04-16 20:49] aniabraham commented on #89
@mauriciovigolo , Hey were you able to add attributes as one of the properties for KeycloakProfile? I tried to retrieve the attributes from loading the user profile but it says that "Property 'attributes' does not exist on type 'KeycloakProfile'."

[2019-04-17 13:00] IAmEilminx commented on #117
FYI, we've been using for over a year a similar approach to what @dsnoeck suggested in his last comments. The main difference in our app is that the keycloak realm configs are fetched from our back-end.

Everything works nicely except if you pass a bad realm configuration (with for instance a bad realm name).

I know this is an edge case, because there is no reason for the configuration to be wron

[2019-04-17 13:59] dsnoeck commented on #117
@IAmEilminx thanks for your comment.
In the meantime, I have extracted my code it into an Angular Library to be reused in several webapps. Unfortunately, doing that I was not able to keep the the offline feature. Do you have an offline mode working ?
If you are interested about my approach, here is the code. I'm new to Angular, so I'm not sure this approach is the best.

1. In the library I have m

[2019-04-18 09:22] IAmEilminx commented on #117
@dsnoeck
Sadly no, we did not implement an offline mode as our Backend service require the AuthToken to function.

Is your approach working if you need to connect with another realm within a same session ?

In our app, we have a public page set to the root with an input that lets the user connect to his specific Realm.
Also, if this user was to navigate directly from a URL (for instance dashboard.

[2019-04-18 09:40] dsarcevic commented on #89
@aniabraham
I just faced same issue, managed to get attributes as suggested above:
[code]

[2019-04-23 08:25] kasibkismath commented on #117
@dsnoeck thanks for the configurations, I have managed to handle multi-tenancy by checking for the realm in the start of sub domain in the url. For example, org1.sub.domain, therefore, the org1 with be the realm in this case.

Also I have created a re-usable angular library for the Keycloak initialization and for the auth guard implementation.

However, what I am concerned is that I would like to

[2019-04-24 05:59] dsnoeck commented on #117
@kasibkismath I see one option: The options to be passed to the login method of keycloak-angular service (see: https://github.com/mauriciovigolo/keycloak-angular/blob/master/projects/keycloak-angular/src/lib/core/services/keycloak.service.ts#L256) contains a redirectUri. You could use that to define a URL where you would check user's attribute and redirect again to your user's default application.

[2019-04-24 06:29] kasibkismath commented on #117
@dsnoeck I have already tried that during keyloak login where we pass the redirect uri. However, the redirect uri has to be specified before login, since we cannot fetch the username before user login and hence we cannot specify the redirect url since it depends on the user's custom attribute.

`
export class KeycloakAppAuthGuard extends KeycloakAuthGuard {

    constructor(protected router: Route

[2019-04-24 06:51] dsnoeck commented on #117
@kasibkismath, please re-read carfully my answer. I was suggesting to always redirect to the same url after login, like /route-user. The component under this url could fetch the user attribute and redirect a 2nd time to the user's custom url

[2019-04-24 07:33] dsnoeck commented on #117
@IAmEilminx, what do you mean by session here:

Do you mean an Angular session, without reloading the browser or Keycloak session ?

To be honest, I have no idea. my `initializer()` method (which call `keycloak.init()`) is available in my AaaService, therefor can be call from any component. But I never tried to call it again. To be tested.

[2019-04-24 10:14] kasibkismath commented on #117
@dsnoeck thanks and what I did was that I introduced a component which is a loader and thus re-directing it to the URL.

[2019-04-24 10:33] dsnoeck commented on #117
@kasibkismath, excuse me. It is me that didn't read carefully your answer ! Thanks for sharing your solution !

[2019-04-24 12:54] Frotty commented on #120
@nikosvr88 Did you solve the issue?
I have the same problem. Upon first visit I get redirected to keycloak as expected, the login works and I'm on the protected part of my page `/dashboard`.
But if I refresh that frontend page now, it redirects to keycloak again, passing "my.domain.com/dashboard" to keycloak as redirect url...

[2019-04-25 05:51] LekhaPai commented on #117
@kasibkismath , @dsnoeck

I have a requirement to implement login for multi- tenants, Following is the flow of my application
1. A Home page with different tenants is listed
2. Once the user clicks on the respective tenant, keycloak is initialized with selected realm
3.The user is redirected to login page of respective realm
4.On successful login, redirected to dashboard

Issue:
I am not initializ

[2019-04-25 06:53] dsnoeck commented on #117
Hi @LekhaPai,
`init()`method return a `Promise<boolean>`, so no token. But you can use the `getToken()` if you need the token.
See source code: https://github.com/mauriciovigolo/keycloak-angular/blob/master/projects/keycloak-angular/src/lib/core/services/keycloak.service.ts#L494
Please provide more informations about what you want to achieve and why if this answer doesn't help you.

[2019-04-25 08:55] LekhaPai commented on #117
Hi @dsnoeck

 when I call getToken() , I receive this :
ZoneAwarePromise {__zone_symbol__state: null, __zone_symbol__value: Array(0)}
__zone_symbol__state: null
__zone_symbol__value: []
__proto__: Object

With an error:Error: Uncaught (in promise): TypeError: Cannot read property 'login' of undefined

I want to initialize keycloak.init( ) method only when I select the realm from my home page(Home

[2019-04-25 09:07] dsnoeck commented on #117
Not sure to understand your problem:

- Are you logged in succefully ? (check the user's sessions in keycloak)
- Do you need the token for futher actions ?

Please provide more source code or https://plnkr.co example with clear explanation of your problem (what happen, when, how, etc ...)

[2019-04-25 09:43] LekhaPai commented on #117
Hi @dsnoeck ,

The realm-selector is the first page my application loads.
realm-selector-component.ts
[code]
On succesful login, I am redirected to dashboard:

dashboard.component.ts

[code]
Also when I check firebug,

on Login, I receive the following status code in Network:
Status Code: 302 Found

- Yes I am logged In successfully
- I need token, but I receive the status code as 302

[2019-04-25 09:43] primg opened #129 "Logout() does not invalidate token"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular: 6.1
angular: 7
keycloak: 4.4.0.Final
### Repro steps.

When calling **keycloakService.logout();** the access token is still valid.
### The log given by the failure.

09:37:47,934 DEBUG [org.keycloak.events] (default task-4) type=LOGOUT, realmId=MYREALM_NAME, clientId=null, userId=xxxxxx-yyyy-zzzz-wwww-oo

[2019-04-25 11:11] kasibkismath commented on #117
@LekhaPai If you check the keycloak-angular code they are fetching the **this._instance.token** wrapped in a promise with await, I'm not very sure why are we not getting the token and didn't dig deeper.

However, you can get the token in an alternative way by changing your **dashboard-component.ts** as below.

[code]

[2019-04-25 11:31] LekhaPai commented on #117
Hi @kasibkismath

I tried to change in **dashboard-component.ts**, this is the error I am getting when trying to access token
**TypeError: Cannot read property 'token' of undefined.**

Am I missing anything during keycloak initilisation in###  realm-selector-component.ts ?

Do you think my approach of keycloak initialisation is correct?

[2019-04-25 11:34] LekhaPai commented on #117
Can anyone help me with working example for multi-tenants keycloak initialisation, because I need to initilize keycloak only when respective realm is selected.

[2019-04-25 12:01] kasibkismath commented on #117
@LekhaPai Please check in your browser developer console what is the error being thrown and check why is the **_instance** is being undefined

[2019-04-26 02:09] arratejasvi opened #130 "no provider when integrating keycloak with angular7"
I am trying to integrate keycloak with angular7 so that SSO works with standard Authorization code flow and to call the keycloak login when the angular application loads and redirect to angular with authorization code and get access_token,refresh_tokens .What exactly I need to do to make it work? I have searched for many references and sample code none of them are clear .

Tried the way that is de

[2019-04-28 18:44] mficht commented on #117
Hi,
@kasibkismath the problem me an @LekhaPai are having is that the initial KeyCloak init Promise never gets fullfilled I think.

On startup we are redirect to localhost:8080/realms.
What we are doing is by clicking an icon we start the initialization of keycloak with the specified realm,
after logging in on the keycloak we are redirected to the localhost:8080, which then redirects us directly to

[2019-04-29 08:47] devansvd opened #131 "need update of keycloak.js"
currently keycloak 6.0.1 is available. keycloak 4 is far behind. Can we have an update with latest keycloak version @mauriciovigolo ?

Source: https://hub.docker.com/r/jboss/keycloak/tags

[2019-04-30 14:13] koldoon opened #134 "Completely exclude some routes from keycloak"
[code]
### Versions.
6.0.1
### Desired functionality.
I have a router with several endpoints. Keycloak service is initialised in root app module with APP_INITIALIZER as described in manual. During the initialization process, keycloak performs redirect to sso page and back.
What I need: do NOT perform keycloak initialization and any redirections for some routes at all. How can I achieve this for no

[2019-05-07 04:25] MumblesNZ commented on #32
Hey guys, was there any more movement on this enhancement?

[2019-05-07 10:05] mauriciovigolo commented on #32
Hi @MumblesNZ,
This topic is in standby but I will manage to finish it. It is an important feature and I left it stopped.

Marcel developed this feature and it is possible to merge branch, but before I will take a look at the latest version of keycloak-js. It seems to have some enhancements on this topic. I will keep you in touch.

[2019-05-07 10:11] mauriciovigolo commented on #131
Hi @devansvd, yes sure, lets upgrade to the newest version. For now it is possible to override the current version by installing the desired version on your project.

[2019-05-07 10:17] mauriciovigolo commented on #130
Hi @arratejasvi, did you import the KeycloakAngularModule?

[2019-05-07 10:22] mauriciovigolo commented on #129
Hi @primg, I will test it, but I didn't have such issue on my environment.

[2019-05-07 13:49] arratejasvi commented on #130
Hi Mauricio
Yes ,I did import the KeycloakAngularModule. This is working now when I
added the keycloak.js in index.html file.Thank you for responding.

On Tue, May 7, 2019 at 5:17 AM Mauricio Gemelli Vigolo <
notifications@github.com> wrote:

[2019-05-15 09:15] primg commented on #129
Hi @mauriciovigolo ,

I think that I misunderstood the correct behaviour of the logout.

My comprehension after reading a bit about it, is that the logout should invalidate the **refresh token**, but then the access token will expire at the end of its lifespan.
Good practice would then be to reduce the lifespan of the access token to a minimum, and accept that a logged out user that makes a query

[2019-05-16 10:10] philippklemmer commented on #91
Mhm, sadly I'm facing the same issue. Before i used the JSAdapter from Keycloak directly, but i found your lib and thought it would make things simpler. I'm wondering what you're doing different to my solution, because before i used your lib i did not get any CORS errors at all.

[2019-05-22 14:12] yurisbv commented on #89
Hi, do you have other way to get user info? Other than through the endpoint account by method "loadUserProfile" /auth/realms/sfb-dev/account ?

[2019-05-22 17:07] devansvd commented on #43
@mauriciovigolo any updates on this ? Refresh token not works in any kind.

[2019-05-23 07:21] ChristineP93 commented on #104
like this?
`export function initializer(keycloak: KeycloakService): () => Promise<any> {
  return (): Promise<any> => keycloak.init(keycloak);
}`

[2019-05-29 10:59] rogerg93 opened #135 "Update to version Angular version 8.0.0"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular 3.0.3
angular 7.1.0
keycloak 3.1.0.Final

### Repro steps.

When running `ng update @angular/cli @angular/core` command to update the project to Angular version 8

### The log given by the failure.

`Package "keycloak-angular" has an incompatible peer dependency to "@angular/common" (requires "^6.0.0" (ext

[2019-05-29 13:41] marcelnem commented on #43
@devansvd @mauriciovigolo The new Best Practice is that the code grant **with PKCE** should be used instead of implicit grant for Single Page Applications.

see discussion here to learn why:
https://github.com/keycloak/keycloak/pull/5932#issuecomment-492713356

PKCE support for Keycloak JS adapter should be developed soon. See this PR:
https://github.com/keycloak/keycloak/pull/6047

[2019-05-29 13:47] marcelnem commented on #130
@mauriciovigolo I believe this can be closed. It works for the OP.

[2019-05-29 15:29] mauriciovigolo commented on #130
thanks @marcelnem

[2019-05-29 15:29] #130 closed

[2019-05-29 16:25] mauriciovigolo commented on #135
@rogerg93, I'm working on the next version of keycloak-angular which will have full support for angular and keycloak latest versions.

[2019-06-04 06:28] nerumo commented on #53
My workaround:
- Increase the `SSO Session Timeout` to numbers that are usual for offline tokens
- Use `standard` flow (I need the refresh token)
- Override the KeycloakService to handle offline scenarios more gracefully
[code]

It's a hack, it's limited, it's less secure...but maybe it helps somebody.

[2019-06-09 11:08] ukankal commented on #89
@yurisbv,

I was also trying to get id token and userinfo using this library. You can get them via the below method.

`this.keycloakService.getKeycloakInstance()` - it returns the underlying keycloak js instance which has loadUserInfo() method that you can hit.

[2019-06-11 18:34] ovk commented on #135
Any ETA on the Angular 8 support?

[2019-06-12 18:38] rodelsimangan commented on #91
Adding Client Secret in Keycloak config in environment.ts worked for me. See Pre-requisites (angular side) in https://medium.com/@sairamkrish/keycloak-integration-part-2-integration-with-angular-frontend-f2716c696a28.

I just noticed that apart from CORS Policy error in web browser console, I was getting CODE_TO_TOKEN_ERROR from the Terminal.

Hope this helps.

[2019-06-13 11:51] mauriciovigolo commented on #135
@ovk, the release will be by the end of June, maybe earlier.
I will publish a beta (@next) version asap, okay?

[2019-06-13 13:34] ovk commented on #135
Sounds great, thank you @mauriciovigolo.

[2019-06-14 10:47] Adam-Michalski commented on #85
Why is this closed without explanation.

`isUserInRole(role)` always returns false.

[code]

    "keycloak-angular": "^4.1.0",

[2019-06-14 10:54] Adam-Michalski opened #136 "isUserInRole(role) always returns false."
`isUserInRole(role)` always returns false.

[code]

    "keycloak-angular": "^4.1.0",
     keycloak:4.8.3.Final

As pointed out in [This closed issue](https://github.com/mauriciovigolo/keycloak-angular/issues/85). Shall I set this resource somehow?

[2019-06-16 12:37] weihsth commented on #134
Hi,
instead of adding using the APP_INITIALIZER for the holw app, you should use Guards (for example CanLoad on a lazy loaded module) to add the keyCloak logic.

There is also a talk in this thread:
https://github.com/mauriciovigolo/keycloak-angular/issues/117

[2019-06-19 15:25] youett commented on #131
Is there any plan on doing this?

[2019-06-19 16:10] mauriciovigolo commented on #131
Hello @youett and @devansvd, the new version of the library will make an upgrade to the keycloak-js version.
@devansvd the PR #133 wasn't merged because there is a plan to transform keycloak-js as a peer dependency on the newest release, so it will be better for users to install the version according to their keycloak server installation. But I really appreciate your help.

[2019-06-19 16:42] devansvd commented on #131
@mauriciovigolo Peer dependency is a much better idea than my PR. We will be waiting for the new release then. Cheers ! 👍

[2019-06-21 07:58] njifares opened #137 "Question: update user profile / attributes / password / ..."
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

- keycloak-angular: 6.1.0+
- angular 8+
- keycloak: 6.0.1

### Desired functionality.

Is there a way to update the user profile/attributes/password/.. via this package? I'm under the impression it's currently not available but wanted to double check. If it's not available right now, could you tell me if it's on the roadm

[2019-06-21 13:24] pahlers opened #138 "Initialize Keycloak before bootstrap the application"
### Bug Report or Feature Request (mark with an `x`)

[code]

The KeycloakService can be initialized before the application loading. When the Keycloak initialization is successful the application is bootstrapped.

This had two major benefits.
1. This is faster because the application isn't fully bootstrapped and
1. it prevents a moment when you see the application without having the authorization.

[2019-06-26 09:43] sanyooh opened #140 "Angular 7: keycloak.js 'authorize' of undefined"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

 "@angular/animations": "^7.2.14",
    "@angular/cdk": "^7.3.7",
    "@angular/common": "~7.2.0",
    "@angular/compiler": "~7.2.0",
    "@angular/core": "~7.2.0",
    "@angular/flex-layout": "7.0.0-beta.24",
    "@angular/forms": "~7.2.0",
    "@angular/http": "~7.2.15",
    "@angular/material": "^7.3.7",
    "@angular/p

[2019-06-26 12:44] #140 closed

[2019-06-26 15:49] mauriciovigolo commented on #138
Hello @pahlers, thanks for contributing! Really enjoyed this way of loading and the benefits.
Will be merged for the @next release :)

[2019-06-26 15:56] mauriciovigolo commented on #137
Hi @njifares, no the user profile cannot be updated by keycloak-angular neither  keycloak-js. For the scenario I recommend you to use the [Keycloak REST API](https://www.keycloak.org/docs-api/6.0/rest-api/index.html). Thanks!

[2019-06-27 21:48] mess opened #141 "Question: dynamic landing page"
### Bug Report or Feature Request (mark with an `x`)

[code]

I need to make landing page (after login) dynamic for user role (eg. super user go to /dashsboard, approver-user go to /approver, etc…). Do you have any suggestions?

[2019-07-02 09:36] iceman91176 commented on #32
Hi all,
we are also interested in this feature. Is there anything we can do to get it integrated ?
Thanks for you great work.

[2019-07-02 10:04] marcelnem commented on #32
implicit flow is not recommended for single page applications in keycloak 7 , there should be an implementation for Javascript adapter with PKCE which is now a recommended method

[2019-07-02 10:27] iceman91176 commented on #32
Well, actually we need a way to check if a user is allowed to access resources/scopes from within our angular app.
The backend/resource is already protected with policy enforcement, but the frontend is not. We want to control if a user is allowed to navigate to a certain route, or can see certain content.

So you basically recommend to do it like this -> https://www.keycloak.org/docs/latest/author

[2019-07-04 09:44] mauriciovigolo commented on #141
@mess, if this redirect must happen only after the login you could check the user role after the app initialisation, using for example: `keycloak.isUserInRole('ROLE_SUPER_USER')` and then redirect the user to the specific component with the angular router service.

I will close this issue and if you have any other questions, feel free to contact me on our [Slack channel](https://slackin-iijwrzzihr

[2019-07-04 09:44] #141 closed

[2019-07-04 09:58] mauriciovigolo commented on #136
@Adam-Michalski, sorry for taking so long. Did you managed to solve it? As mentioned on the [keycloak-js adapter documentation](https://github.com/keycloak/keycloak-documentation/blob/master/securing_apps/topics/oidc/javascript-adapter.adoc#hasresourcerolerole-resource):

If you need any help please let me know. We also have a [slack channel](https://slackin-iijwrzzihr.now.sh/) if you want to cont

[2019-07-04 10:58] mauriciovigolo commented on #135
After working some time on the next release, I would like to share some ideas and see your opinions.

The next release will fix lots of the issues of the library, however we will have breaking changes.

For easiness migration, I'm thinking to release keycloak-angular v.7 to be compatible with previous keycloak-angular versions and with Angular 8, Keycloak 6.

Then keycloak-angular v.8 will have al

[2019-07-04 12:58] ovk commented on #135
Sounds reasonable to me.

[2019-07-04 13:03] ccamba commented on #135
Perfect, thanks!

[2019-07-05 02:08] mauriciovigolo commented on #114
Released on version 6.1.0

[2019-07-05 02:08] #114 closed

[2019-07-05 02:09] mauriciovigolo commented on #108
Released on version 6.1.0

[2019-07-05 02:09] #108 closed

[2019-07-05 02:33] mauriciovigolo commented on #102
I will close this issue because it seems to be solved, we can reopen it, okay. Thanks.

[2019-07-05 02:33] #102 closed

[2019-07-05 02:36] mauriciovigolo commented on #123
Hello @bdparrish. I know that it is late but this is something to be added on v.8.0.0. Thanks for opening the issue.

[2019-07-05 02:56] mauriciovigolo commented on #137
@njifares, I was taking a look at the keycloak-js adapter documentation and actually there are some functions to redirect the user to the registration and account management pages. [Link to the documentation](https://github.com/keycloak/keycloak-documentation/blob/master/securing_apps/topics/oidc/javascript-adapter.adoc#registeroptions).

These functions however redirect the user to keycloak and d

[2019-07-05 02:56] #137 closed

[2019-07-08 08:12] pahlers commented on #138
Splendid! Big thanks!

[2019-07-09 06:57] nikosvr88 opened #142 "Events for token"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Desired functionality.

How can i trigger an event every time that the access token and refresh token have changed ? An example would be very useful.

[2019-07-10 12:23] philippklemmer commented on #135
How is the status of this update?

[2019-07-11 10:25] mauriciovigolo commented on #135
@philippklemmer, I'm finishing an update to the examples and the final tests, just updated the milestone, sorry for taking more time. The final deliver will happen on Friday.

[2019-07-11 11:28] philippklemmer commented on #135
Perfect! Really appreciate your hard work! 🚀

[2019-07-16 01:32] mauriciovigolo commented on #131
Included on version 7.0.0 from keycloak-angular.

[2019-07-16 01:32] #131 closed

[2019-07-16 01:34] mauriciovigolo commented on #138
Included on keycloak-angular@7.0.0. Thank you @pahlers!

[2019-07-16 01:34] #138 closed

[2019-07-16 01:38] mauriciovigolo commented on #135
Angular V.8 support included on keycloak-angular@7.0.0.

As mentioned before, keycloak-angular v.8 will be more focused on Angular features, new directives and functionalities, but this future version will have breaking changes.

The release for V.8 will be in the next couple of weeks. Sorry about the delay of v.7.0.0 but the available time is short :)

Thanks everybody!

[2019-07-16 01:38] #135 closed

[2019-07-16 01:57] mauriciovigolo opened #143 "Fix peer dependency @angular/router name on package.json"
### Bug Report or Feature Request (mark with an `x`)

[code]

### The log given by the failure.

[code]

[2019-07-16 02:07] mauriciovigolo commented on #143
Fixed on version 7.0.1

[2019-07-16 02:07] #143 closed

[2019-07-16 10:08] philippklemmer opened #144 "Question - How can i change the HttpHeader?"
I was following the keycloak-angular bootstrap example. Everything works fine, but i have to change the httpheader but i dont know how to accomplish this.

I have to let my header following this pattern:
X-CUSTOM-Authorization: 'Bearer eyJhbGciOiJSUzI1NiIsInR…'

Is this possible?

### Versions.
"keycloak-angular": "^7.0.1",
"keycloak-js": "^6.0.1",

### Desired functionality.
Maybe we could add an

[2019-07-16 10:21] philippklemmer commented on #144
In App.module.ts you can add any options in the init function:

 try {
      await keycloakService.init({
        config: keycloakConfig,
        bearerPrefix: 'CUSTOM BEARER PREFIX',
        authorizationHeaderName: 'CUSTOM HEADER NAME'
      });
      app.bootstrap(AppComponent);
    } catch (error) {
      console.error('Keycloak init failed', error);
    }

Maybe this will help someone :)

[2019-07-16 10:21] #144 closed

[2019-07-16 14:44] diyfr opened #145 "[Feature] add getUserProfile"
[code]
the method `getUsername` is not agnostic enough

to get the full profile we have to call  `this.keycloakService.getKeycloakInstance().profile `

Can you add in [keycloak-service.ts](https://github.com/mauriciovigolo/keycloak-angular/blob/master/projects/keycloak-angular/src/lib/core/services/keycloak.service.ts#L494)
[code]

[2019-07-16 16:47] philippklemmer commented on #145
There is already a function to get the UserProfile. The author also showed it in the examples.
https://github.com/mauriciovigolo/keycloak-angular/blob/master/examples/webapp/keycloak-heroes-bootstrap/src/app/app.component.ts

That worked for me :)

[2019-07-17 06:31] diyfr commented on #145
Thx
I missed this method

[2019-07-17 06:31] #145 closed

[2019-07-18 15:54] honzajde opened #146 "Not sure from current master/README.md which are compatible keycloak resp. angular versions"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.
keycloak-angular: 7

### Repro steps.
None

### The log given by the failure.
None

### Desired functionality.
Be more clear in the README about compatibility as it is in older versions

[2019-07-28 00:11] Trojaner opened #147 "AOT builds are not working"
[code]

### Versions.

keycloak-angular@7.0.1
keycloak@6.0.1
angular@8.1.3

### Repro steps.
1. Install the packages above
2. Import keycloak-angular in client module, not in shared or server module
3. Run AOT build

### The log given by the failure.
[code]

### Desired functionality.
Should not run functions which require window if it isn't defined.

[2019-07-28 01:36] Trojaner commented on #147
The issue was caused by importing the KeycloakService in some router guards. Using injector to dynamically import it on browsers only solved it.

[2019-07-28 01:36] #147 closed

[2019-07-30 13:27] michaelhunziker opened #148 "Question about keycloak-js peer dependency"
Hi all!

The readme says:

**Question 1**:
How do I do this in an angular 8 application? Just add this at the end of index.html?
`<script src="https://my-keycloak.com/auth/js/keycloak.js"></script>`

**Question 2**:
What about package.json? Do I have to add "keycloak-js" there as well next to "keycloak-angular"? But then I would have "keycloak-js" in my build-package as well as the loaded script f

[2019-08-01 15:51] mauriciovigolo commented on #148
Hi @michaelhunziker,

The topic about how to handle keycloak-js on the library's README is not clear enough, I'm sorry, I will improve it. The issue #146 is also related to this lack of info.

* **Question 1:**

This is not the way to handle the keycloak-js library for Angular apps. You will have to install the keycloak-js library by using npm or yarn.

The idea here is that you need to know what

[2019-08-01 15:57] mauriciovigolo commented on #146
Hi @honzajde, how are you?

The idea from keycloak-angular v.7 and later, is to give the user more flexibility to choose the keycloak-js version, considering the installed server version.

I agree that the README is lacking more info and I will improve it.

Thanks for reporting!

[2019-08-02 07:35] lin1010 commented on #134
@weihsth I have a similar question, could your give more detail description.
thanks!

[2019-08-04 09:18] lin1010 commented on #90
I have the same requirement, have you solved this problem? thanks!

[2019-08-05 08:43] dghamir opened #149 "Events related to authentication"
Hi,
I want to monitor events related to authentication, as follows
START, INITIALIZED, LOGGED_IN, LOGGED_OUT, TOKEN_REFRESHED, TOKEN_VALIDITY_CHECKED, TOKEN_EXPIRED, NOT_AUTHENTICATED
how can I do it?

versions :  "keycloak-angular": "^1.3.0" , Angular: "^5.2.9" and , keycloak server ; 3.4.2.Final

[2019-08-05 18:05] phamvanthang310 commented on #91
Thanks @dcagnetta, It worked for me!

[2019-08-06 08:40] dsarcevic commented on #30
Hi,
same issue here.

Versions:
- keycloak-angular: 7.0.1
- keycloak-server: 4.7 Final
- Angular: 7.2.5

[2019-08-06 17:53] singhvivek2503 opened #150 "How to unit test components which depend on KeycloakService"
Dear all,

I am using keycloak-angular version `7.0.1` and keycloak-js version `6.0.1` in my angular 8 application.

I am using `APP_INITIALIZER` to configure KeycloakService from keycloak-angular in my
[code]

I get the auth token from keycloak using `getToken()` method for each API call I make.

I want to unit test my components **by making actual API calls using keycloak token**.
How can I do i

[2019-08-09 07:46] honzajde commented on #146
@mauriciovigolo about this v7 idea - maybe some explanation about how is dealt with the underneath differences in keycloak versions resp. keycloak-js versions would help clarify and accept:) this idea.

Namely: Are there some api calls in v7 that works only based on which keycloak-js version you use (if so is it documented)?

[2019-08-09 08:23] Dampfpfeife commented on #30
Have the same problem - receive as result of loadUserProfile():
`{username: "dixx", emailVerified: false, attributes: {}}`
Version: keycloak-angular: 6.1.0
So evidently is the problem independent from the software version.

[2019-08-13 13:48] izabellagomes opened #152 "question: keycloak init with an already logged session"
### Versions.

### Desired functionality.

[2019-08-15 10:01] angular101 commented on #148
Hi @mauriciovigolo ,
  I'm just looking for confirmation on the above as it's not 100% clear to me:

1) There is no way to load the keycloak Javascript adapter from the keycloak server,  you must use the npm?

2) As a result of #1 - when you update the keycloak server you must also update the keycloak-js npm?

Thanks.

[2019-08-27 08:59] dghamir commented on #149
??

[2019-08-28 03:43] mauriciovigolo opened #153 "ERROR TypeError: Keycloak is not a function"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-js - 7.0.0
keycloak-angular - 7.0.1

### The log given by the failure.

Navigated to http://localhost:4200/
VM1563 vendor.js:229523 [WDS] Live Reloading enabled.
VM1562 scripts.js:901 [KEYCLOAK] Estimated time difference between browser and server is 0 seconds
VM1564 main.js:1077 Keycloak {init: ƒ, login: ƒ, crea

[2019-08-28 08:41] dghamir commented on #149
Hi @mauriciovigolo ,
Thank you for your answers

[2019-08-28 13:18] iWhacko commented on #16
Sorry to respond here, but I could not find an open issue about this.
Is there any progress supporting custom login pages from within angular?

[2019-08-29 10:46] jonkoops commented on #148
Yes, when building your Angular app you must have `keycloak-js` and `keycloak-angular` installed in order for things to work correctly. You can do this through `npm install --save keycloak-angular@latest keycloak-js@latest`

It is always recommended to use the same version of `keycloak-js` as the version of Keycloak you are using. Although there is some level of compatibility between versions, I w

[2019-08-29 10:53] angular101 commented on #148
@jonkoops thanks for confirming. This is a great project and very much appreciated.

[2019-08-29 15:23] JamesRArroyo commented on #153
This looks like the same issue but was created before the issue @fishybell referenced. https://issues.jboss.org/browse/KEYCLOAK-11187

[2019-08-30 11:48] jonkoops commented on #153
I've opened up a PR to Keycloak that should fix this problem at https://github.com/keycloak/keycloak/pull/6281. While the Keycloak team deals with the review please remain on a Keycloak version < 7 and you should be fine.

[2019-08-31 11:58] spagop commented on #97
Hi  @mauriciovigolo any news to this feature request

[2019-09-02 06:47] adrianschneider94 commented on #43
I totally see, that core grant with PKCE is more secure than the implicit flow.
But still one needs to refresh the access token.
And keeping the refresh token client side in the browser is still not secure (-> Browser Extensions!) as there is no support of token binding yet.

So I think the most secure solution at the moment would be Code grant with PKCE and token renewal with iframe silent refres

[2019-09-02 08:47] SergiuMaja opened #155 "PKCE support"
Hi. Are there any plans to support authorization code flow with PKCE?
In the latest release of keycloak-js library, they said to have support for PKCE. (See https://www.keycloak.org/docs/latest/release_notes/index.html#other-improvements)
Any intentions to upgrade to keycloak-js 7.0.0 and support PKCE as well?

[2019-09-02 08:51] SergiuMaja commented on #155
I will close this because it's already discussed here: https://github.com/mauriciovigolo/keycloak-angular/pull/154

[2019-09-02 08:51] #155 closed

[2019-09-02 10:55] dghamir commented on #149
any news about this subject?

[2019-09-03 11:07] jokumar commented on #90
I am also facing a similar issue . The page is always redirecting to keycloak login page . I have tried sso-required in keycloak init but it did not work for me .

[2019-09-05 19:58] ataraxus commented on #97
just stumbled over this.. .any hints how to workaround this issue? I'm also trying to get this running with ionic on android. Same issue

[2019-09-06 02:30] MumblesNZ commented on #32
We also require the RPT on the angular side so we have access to the permissions object. We are using the permissions object to switch which angular elements are available to the user in our angular app. To me it seems logical to use keycloak as the single source of truth for what a user can access, both on the frontend and the backend. It would be interesting to know how others handle hiding UI e

[2019-09-06 07:40] ataraxus commented on #97
Hey guys for anybody how to use keycloak-angular with a ionic v4/v5 app. I did a lucky punch. You'll need following dependencies:
[code]
and then also you need to init keycloak client with following initOptions:
[code]

i have to admit, i don't fully understand why this is working and the defaults dont work, so maybe someone could have a more detailed look and share the insight.

[2019-09-06 15:11] spagop commented on #97
@ataraxus good to know that it worked for you. the defaults config works for me on ionic 3, but I have problem with the logout.

I am also interested in to know whether logout with a redirect-uri can work in android or ios device for you?

Will be great to have an example using the "cordova-native" adapter to login/logout/change-password.

[2019-09-09 14:55] ashteya commented on #90
@jokumar The options for keycloak init are `login-required` or `check-sso`.

[2019-09-09 22:35] kai-chu commented on #91
@rodelsimangan I regenerate my client secret id and set it in my keycloak.json file for my js adapter, it worked.
I set up web origin to * or my localhost:3000 in the beginning, I can see in chrome console where an OPTION preflight request has gone through CORS but the later post request failed. I tried out a lot of solutions and restart again and again, in the end it turns out it has nothing to d

[2019-09-13 16:35] lukalik1234 opened #157 "Cannot read property file of undefined"
Hello Mauricio,

I'm playing around with template angular project and trying to implement your library.
Unfortunatelly I'm stuck at a point i need your help.

So i've installed the library by your instructions and trying to intercept /dashboard link.

This is the error message log :

![image](https://user-images.githubusercontent.com/47845665/64878748-86e0ff00-d654-11e9-809e-0d7c9b1fd0f6.png)

App

[2019-09-17 14:04] shymidzimi commented on #149
I will also be very thankful if you provide a way to deal with the events. I really need this in my current project. Thanks!

[2019-09-18 10:28] Ijee opened #158 "Keycloak breaks Protractor WaitForAngularEnabled()"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

- keycloak-angular: 7.0.1,
- keycloak-js: 6.0.1,
- angular 7.2.15,
- protractor: 5.4.2

### Repro steps.

Keycloak is initialized normally in app.module by using app_initializer where keycloak.init(initOptions) is being called as expected.

`providers: [
    {
      provide: APP_INITIALIZER,
      useFactory: appInitializ

[2019-09-19 11:26] davisb10 commented on #36
+1 This feature would definitely be amazing to have. As the application I'm currently working on is secured based on the 'keycloak logged in username', being able to 'impersonate' another user to 'view' the application as they would is great for troubleshooting purposes.

[2019-09-22 18:59] theJazzman opened #159 "unable to set KeycloakInitOptions adapter and redirectUrl when using cordova"
- [ ] bug report -> please search for issues before submitting
- [x ] feature request
[code]

[2019-09-23 07:23] rahulkohli23 opened #160 "how to achieve Policy based client Authorization"
<!--
Hi Everyone,
I'm not sure whether there is any existing functionality in angular-keyclaok to help me achieve functionality which is as follows (Consider this is a feature request if applicable).

There is a Functionality to authorize the client protected resources in keycloak.
This is to achieve grant access using a policy-based decision strategy by Keycloak.

![image](https://user-images.git

[2019-09-25 15:07] shymidzimi opened #161 "isLoggedIn() always returns false"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

keycloak-angular@7.0.0
keycloak-js@4.0.0

### Repro steps.

The isLoggedIn() method run inside an @ngrx/store effect always returns false, even if the user is logged in.

[code]

I also tried to trasform the Promise to an Observable with from() operator, but the results didn't change. (It should work with a Promise, but y

[2019-09-28 18:50] danielehrhardt commented on #153
The Issue on the Side of Keycloak is closed. So could you update here something?

[2019-09-28 19:10] Bessonov commented on #153
@danielehrhardt Was it fixed in keycloak client? Was fixed version of keycloak client released? I see still 7.0.0.

[2019-09-30 11:38] jonkoops commented on #153
The issue has been resolved in Keycloak, however a new release has not yet been published by the Keycloak team.

[2019-09-30 15:35] mauriciovigolo commented on #153
Thanks, @jonkoops. As soon the new release is available we can change the peer dependencies and publish a new version.

[2019-09-30 16:09] mauriciovigolo commented on #157
@lukalik1234, that means that keycloakService is undefined and it was probably called before being instantiated.
If you want I can take a better look at your case, but for this, I would need an example, a demo project with the error.
Thanks.

[2019-10-01 13:49] soniar4i commented on #120
I'm having the same question/issue. My integration keycloak/angular app works as expected, I can log in and get redirected to route /a but when I  change between routes, let's say route /b and I refresh my page, I get again redirected to /a instead of the current url.

All the functionalities are working like a charm except for that part.

Awesome job you are doing btw :)

[2019-10-01 14:35] Mawi137 opened #162 "Using interceptor doesn't allow anonymous users"
### Bug Report or Feature Request (mark with an `x`)

[code]

### Versions.

angular: 8.0.3
keycloak-angular: 7.0.1
keycloak-js: 4.8.3

### Repro steps.

Enable keycloak bearer interceptor.
If the user is not logged in and a call is made to the backend where a bearer can be added, then the user is redirected to the login page.

### Desired functionality.

I have an endpoint that can be called by a

[2019-10-04 12:28] briskibe opened #163 "Urgent issue, keycloakService new instance created in another module"
Hi, this is the problem I have faced at work, and I am not able to share the project, but let me describe:

We have sucessfully integrated Keycloak login in our app. But the problem is the logout. WHen we try to logout, we get error of undefined properties in KeycloakService.

We have investigated a little bit, and we think that the problem is following:

We provided KeycloakService in our AppModu

[2019-10-04 13:16] theJazzman commented on #120
I had the same issue and got it fixed by setting the redirectUri in the keycloak login function to "window.location.href" (I have the login within the isAccessAllowed function in KeycloakAuthGuard).

Hope that helps someone

[2019-10-07 10:06] mauriciovigolo commented on #163
Hi @briskibe, did you add KeycloakService in the list of providers of this other module? If you did this you are going to have another instance of it.
In fact you don't need to provide KeycloakService in your application as it is already provided by KeycloakAngularModule, so when you import the module you could just inject it in your components and services.
I'm working on the new version of the l

[2019-10-07 10:17] mauriciovigolo commented on #162
Hi @Mawi137. Thanks for the issue and indeed this is a problem in the actual implementation. I'm working on the new version of the library and I'm changing a little bit the interceptor configurations.

The idea of adding the access token only if the user is logged in is great and we could add it on the current version, just the configuration on KeycloakOptions part maybe could be left for now. You

[2019-10-07 10:25] briskibe commented on #163
Hi Mauricio,

I have checked, we didn't put KeycloakService as provider, but instead put in app.module

`{provide: APP_INITIALIZER, useFactory: keycloakInitializer, multi: true, deps: [KeycloakService]}`

Nowhere in the app is KeycloakService put as provider, and also KeycloakAngularModule is only in app.module imported.

[2019-10-07 10:31] mauriciovigolo commented on #161
Hi @shymidzimi, I didn't use keycloak-angular with @ngrx/store. I will give it a try and then return to you.

[2019-10-07 10:38] mauriciovigolo commented on #163
I was reading again your first comment and you are only having problems when calling the logout method is this right?

[2019-10-07 11:33] briskibe commented on #163
We noticed problem when the user is clicking to logout, but the problem is not the method, the problem is that KeycloakService instatiated again, with many undefined fields.

The same is when we console.log keycloakService in any component which is in module imported in app.component. Only in app.component, we can get e.g. getUsername() method from KeycloakService, so it seems like in every other

[2019-10-09 11:22] mauriciovigolo commented on #163
@briskibe, I only had time today to create a simple example as you mentioned.
In this example, the AboutModule is lazy loaded. The KeycloakService is being correctly loaded in the components of this module. Could you try in your environment?
Link to the project: https://drive.google.com/open?id=1Ok6A-YGuZFo3bOrIQaHkysNOb3V0hBt9

[2019-10-09 16:04] #162 closed

[2019-10-10 12:05] shymidzimi commented on #161
Thank you very much! I'm waiting

[2019-10-10 22:14] Karol0000000000 opened #165 "The user profile could not be loaded keycloak angular docker"
on localhost everything works fine but in docker I have error
No 'Access-Control-Allow-Origin' when accessing /account after login
web origins I have set to *, frontend client have Full Scope Allowed.
Is there any possibilty to set this header to keycloak-angular requests?